<div class="row form-group">
  <div class="col-lg-12">
<textarea id="<mt:var name="__col_name__">" rows="<mt:if name="options"><mt:var name="options" escape><mt:else>18</mt:if>"
  class="form-control richtext" name="<mt:var name="__col_name__">"><mt:var name="value"></textarea>
  </div>
</div>