<mt:if name="field__multiple"><script>
var origLabel;
$('#field-<mt:var name="field_basename">-wrapper').sortable ( {
    start: function( evt, ui ) {
        origLabel = $('#field-<mt:var name="field_basename">-wrapper .row .col-label:first').html();
    },
    stop: function( evt, ui ) {
        var counter = 0;
        var newLabel = $('#field-<mt:var name="field_basename">-wrapper .row .col-label:first').html();
        $('#field-<mt:var name="field_basename">-wrapper .row .col-label:first').html(origLabel);
        $('#field-<mt:var name="field_basename">-wrapper .row:first').removeClass('multiple-field');
        $('#field-<mt:var name="field_basename">-wrapper .row').each(function(){
            if ( counter ) {
                $(this).addClass('multiple-field');
                if ( newLabel != origLabel ) {
                    $(this).children('.col-label').html(newLabel);
                }
            }
            counter++;
        });
        var counter = 0;
        $('#field-<mt:var name="field_basename">-wrapper .custom-field-content-wrapper .custom-field-content-inner').each(function(){
            var detach_btn = $(this).children('.detach-button-wrapper');
            if ( counter ) {
                detach_btn.show();
            } else {
                if ($(this).hasClass( 'field__display' ) ) {
                    detach_btn.hide();
                }
            }
            counter++;
        });
    }
});
$('#field-<mt:var name="field_basename">-wrapper div').mouseenter(function() {
    $(this).css('cursor','move');
});
</script></mt:if>