<mt:trans phrase="Customize Menus" component="DisplayOptions" setvar="page_title">
<mt:include file="include/header.tmpl">

<mt:if name="request.saved">
  <div id="alert-saved" class="alert alert-success" tabindex="0">
    <mt:var name="alert_close">
    <mt:trans phrase="Your changes have been saved.">
    <mt:var name="request.update" escape setvar="updates">
    <mt:if name="updates">
      <mt:trans phrase="Changed the menu position of the two model(s)." params="$updates" component="DisplayOptions">
    <mt:else>
      <mt:trans phrase="There is no model to change menu position." params="$updates" component="DisplayOptions">
    </mt:if>
  </div>
<script>
$('#alert-saved').focus();
</script>
</mt:if>
<form action="<mt:var name="script_uri">" method="POST" id="customize-menu-form">
<input type="hidden" name="__mode" value="customize_menus">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="workspace_id" value="<mt:var name="request.workspace_id" escape>">
<mt:if name="workspace_id">
  <mt:setvarblock name="table_option">'display_space','1'</mt:setvarblock>
<mt:else>
  <mt:setvarblock name="table_option">'display','1','space_child','0'</mt:setvarblock>
</mt:if>
<mt:objectloop model="table" sort_by="menu_type" options="$table_option">
<mt:if name="__first__">
<table class="table">
<tr>
  <th style="width:30%"><mt:trans phrase="Model"></th>
  <th><mt:trans phrase="Menu Type"></th>
</tr>
</mt:if>
<tr>
  <th style="width:30%"><mt:trans phrase="$label" escape></th>
<td>
  <mt:getmenuposition setvar="current_menu_type">
  <select name="menu_type_<mt:var name="name">" class="form-control custom-select" style="width:70%">
    <option value="9" <mt:if name="current_menu_type" eq="9">selected</mt:if>><mt:trans phrase="Hidden" component="DisplayOptions"></option>
    <option value="1" <mt:if name="current_menu_type" eq="1">selected</mt:if>><mt:trans phrase="Panel"></option>
    <option value="2" <mt:if name="current_menu_type" eq="2">selected</mt:if>><mt:trans phrase="System Object"></option>
    <option value="3" <mt:if name="current_menu_type" eq="3">selected</mt:if>><mt:trans phrase="Read-only Object"></option>
    <option value="4" <mt:if name="current_menu_type" eq="4">selected</mt:if>><mt:trans phrase="Communication"></option>
    <option value="5" <mt:if name="current_menu_type" eq="5"customize-menu-form>selected</mt:if>><mt:trans phrase="User and Permission"></option>
    <option value="6" <mt:if name="current_menu_type" eq="6">selected</mt:if>><mt:trans phrase="Favorites"></option>
  </select>
</td>
</tr>
<mt:if name="__last__">
</table>
</mt:if>
</mt:objectloop>
<div class="row form-group">
  <div class="col-lg-12">
    <button style="margin-top:1em" type="button" id="__save" class="btn btn-primary"><mt:trans phrase="Save"></button>
  </div>
</div>
</form>
<script>
$('#__save').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to set menu positions?" component="DisplayOptions">')){
        return false;
    }
    $('#customize-menu-form').submit();
});
</script>
<mt:include file="include/footer.tmpl">