<div class="row form-group">
  <div class="col-lg-2">
    <mt:var name="label" escape="1">
  </div>
  <div class="col-lg-10">
    <mt:objectvar name="$_column_name" from_json="contact_vars">
    <mt:loop name="contact_vars">
    <mt:if name="__first__">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" style="width:33%"><mt:trans phrase="Question"></th>
          <th scope="col"><mt:trans phrase="Value"></th>
        </tr>
      </thead>
      <tbody>
    </mt:if>
    <tr>
      <mt:var name="__key__" replace="'question_',''" setvar="question_id">
      <th scope="row"><mt:getobjectlabel model="question" id="$question_id" escape></th>
      <td><mt:var name="__value__" escape nl2br></td>
    </tr>
    <mt:if name="__last__">
      </tbody>
    </table>
    </mt:if>
    </mt:loop>
  </div>
</div>