<div class="row form-group">
  <div class="col-lg-2">
    <mt:var name="label" escape="1">
  </div>
  <div class="col-lg-10">
<mt:getobjectlabel model="form" id="$value" setvar="obj_label">
<mt:var name="obj_label" escape>
 (ID:<mt:var name="value">) &nbsp; 
<a class="btn btn-sm btn-secondary" href="<mt:var name="script_uri">?__mode=view&amp;_model=contact&amp;_type=list&amp;_filter=1&amp;_filter_cond_form_id[]=eq&amp;_filter_value_form_id[]=<mt:var name="obj_label" encode_url>">
<i class="hidden fa fa-list" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="View List">" aria-label="<mt:trans phrase="View List">"></i>
<span class="shrink-button"><mt:trans phrase="View List"></span>
</a>
<mt:getobjectlabel model="form" id="$value" column="workspace_id" setvar="form_ws_id">
<mt:ifusercan workspace_id="$form_ws_id" id="$value" model="form" action="edit">
<a class="btn btn-sm btn-secondary" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=form&amp;id=<mt:var name="value"><mt:if name="form_ws_id">&amp;workspace_id=<mt:var name="form_ws_id"></mt:if>">
<i class="hidden fa fa-edit" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Edit">" aria-label="<mt:trans phrase="Edit">"></i>
<span class="shrink-button"><mt:trans phrase="Edit"></span>
</a>
</mt:ifusercan>
  </div>
</div>