<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape="1">
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <select id="state-selector" class="form-control short" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
        <option <mt:if name="object_state" eq="$__counter__">selected</mt:if> value="<mt:var name="__counter__">"><mt:trans phrase="$__value__" escape></option>
    </mt:loop>
    </select>
  </div>
</div>