<table>
  <tr>
    <td>
    <mt:var name="edit" split=":" setvar="edit_props">
    <mt:var name="edit_props[1]" setvar="rel_model">
    <mt:var name="edit_props[2]" setvar="rel_col">
    <mt:var name="edit_props[3]" setvar="rel_type">
    <mt:setvarblock name="__rel_model__">object_<mt:var name="__col_name__">_model</mt:setvarblock>
    <mt:var name="$__rel_model__" setvar="selected_model">
    <mt:if name="workspace_id">
      <mt:setvar name="table_type" value="display_space">
    <mt:else>
      <mt:setvar name="table_type" value="display_system">
    </mt:if>
      <mt:tables menu_type="1" type="$table_type">
      <mt:if name="__first__">
      <select <mt:if name="selected_model">readonly onmousedown="return false;" onkeydown="return false;"</mt:if> class="form-control short watch-changed short" name="_<mt:var name="__col_name__">_model" id="<mt:var name="__col_name__">-selector">
        <mt:unless name="selected_model">
        <option value="">
          <mt:trans phrase="Unspecified">
        </option>
        </mt:unless>
      </mt:if>
      <mt:if name="primary">
        <mt:if name="menu_type" eq="1">
          <mt:if name="selected_model">
            <mt:if name="name" eq="$selected_model">
            <option <mt:if name="name" eq="$selected_model">selected</mt:if> value="<mt:var name="name">"><mt:trans phrase="$label" escape></option>
            </mt:if>
          <mt:else>
            <option <mt:if name="name" eq="$selected_model">selected</mt:if> value="<mt:var name="name">"><mt:trans phrase="$label" escape></option>
          </mt:if>
          <mt:setvars name="model_primary">
            <mt:var name="name">=<mt:var name="primary" escape>
          </mt:setvars>
          <mt:if name="name" eq="$selected_model">
            <mt:setvar name="model_primary_col" value="$primary">
            <mt:setvar name="model_model" value="$name">
          </mt:if>
          <mt:var name="model_primary" to_json="1" setvar="model_primary_json">
        </mt:if>
      </mt:if>
      <mt:if name="__last__">
        </select>
      </mt:if>
      </mt:tables>
  </td>
  <td class="rel-any-right-col">
      <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
      <ul id="<mt:var name="__col_name__">" class="relation-list">
        <li <mt:if name="$__rel_name__">style="display:none" </mt:if>class="badge badge-default badge-relation" id="<mt:var name="__col_name__">-none">
        <mt:trans phrase="(None selected)">
        </li>
        <li class="hidden badge badge-default badge-relation badge-draggable" id="<mt:var name="__col_name__">-tmpl">
        <span><mt:trans phrase="Default"></span>
        <button type="button" class="btn btn-secondary btn-sm close-sm" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" name="<mt:var name="__col_name__">[]" value="">
        </li>
      <mt:setvarblock name="selected_ids"><mt:loop name="$__rel_name__" glue=","><mt:var name="__value__"></mt:loop></mt:setvarblock>

      <mt:loop name="$__rel_name__">
        <li class="<mt:var name="__col_name__">-child badge badge-default badge-relation badge-draggable">
        <span>
        <mt:getobjectname id="$__value__" wants="$model_primary_col" model="$model_model" escape></span>
        <button type="button" class="btn btn-secondary btn-sm close-sm" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
          <span aria-hidden="true">&times;</span>
        </button>
        <input type="hidden" name="<mt:var name="__col_name__">[]" value="<mt:var name="__value__" escape>"></li>
      </mt:loop>
      </ul>
      <button id="<mt:var name="__col_name__">-chooser" type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
        data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;selected_ids=<mt:var name="selected_ids" escape>"><mt:trans phrase="Select..."></button>
<script>
var <mt:var name="__col_name__">_primary = <mt:var name="model_primary_json">;
var <mt:var name="__col_name__">_data_href ='<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;selected_ids=<mt:var name="selected_ids" escape>';
$('#<mt:var name="__col_name__">-selector').change(function(){
    var primary_col = <mt:var name="__col_name__">_primary[$(this).val()];
    var tmp_url = <mt:var name="__col_name__">_data_href;
    tmp_url = tmp_url.replace( /_model=__any__/, '_model=' + $(this).val() );
    tmp_url = tmp_url.replace( /get_col=__primary__/, 'get_col=' + <mt:var name="__col_name__">_primary[$(this).val()] );
    tmp_url = tmp_url.replace( /&amp;/g, '&' );
    $('#<mt:var name="__col_name__">-chooser').attr( 'data-href', tmp_url );
    $('#<mt:var name="__col_name__">-chooser').data( 'href', tmp_url );
});
$('#<mt:var name="__col_name__">-selector').trigger('change');
$('#<mt:var name="__col_name__">').sortable ( {
// TODO keyboard oparation
});
</script>
    </td>
  </tr>
</table>