<mt:setvarblock name="error_name">question_<mt:var name="question_basename" escape>_error</mt:setvarblock>
<div class="row form-group<mt:if name="$error_name"> has-danger</mt:if>">
  <div class="col-lg-2">
    <label class="form-control-label" for="question_<mt:var name="question_basename" escape>">
      <mt:var name="question_label" escape>
      <mt:if name="question_required">
      <small><i class="fa fa-asterisk required text-muted" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Required"></span></small>
      </mt:if>
    </label>
  </div>
  <div class="col-lg-10<mt:unless name="confirm_ok"> form-inline</mt:unless>">
    <mt:setvarblock name="param_name">request.question_<mt:var name="question_basename" escape></mt:setvarblock>
    <mt:var name="$param_name" setvar="question_value">
    <mt:var name="question_options" split="," setvar="question_opts">
    <mt:var name="question_values" split="," setvar="question_vars">
    <mt:if name="confirm_ok">
      <mt:var name="question_value" escape>
    </mt:if>
    <mt:unless name="request.__mode">
    <mt:var name="question_default_value" setvar="question_value">
    </mt:unless>
    <mt:if name="confirm_ok">
      <input type="hidden" id="question_<mt:var name="question_basename" escape>" name="question_<mt:var name="question_basename" escape>" value="<mt:var name="question_value" escape>">
    <mt:else>
      <mt:loop name="question_opts">
      <mt:if name="__first__">
        <mt:unless name="question_resuired">
          <label class="custom-control custom-radio">
            <input class="custom-control-input" 
              id="question_<mt:var name="question_basename" escape>"
              <mt:unless name="question_value">checked</mt:unless>
              type="radio" name="question_<mt:var name="question_basename" escape>" value="">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"><mt:trans phrase="Unspecified"></span>
          </label>
        </mt:unless>
      </mt:if>
      <label class="custom-control custom-radio">
        <mt:var name="question_opts" index="$__index__" escape setvar="current_opt">
        <input 
          <mt:if name="question_resuired">id="question_<mt:var name="question_basename" escape>"</mt:if>
          class="custom-control-input watch-changed" type="radio" name="question_<mt:var name="question_basename" escape>"
          <mt:if name="current_opt" eq="$question_value">checked</mt:if>
          value="<mt:if name="question_values"><mt:var name="question_vars" index="$__index__" escape><mt:else><mt:var name="question_opts" index="$__index__" escape></mt:if>">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:var name="question_opts" index="$__index__" escape></span>
      </label>
      </mt:loop>
    </mt:if>
  <mt:if name="question_hint">
  <div class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:var name="question_hint">
  </div>
  </mt:if>
  </div>
</div>
<mt:if name="$error_name">
<div style="margin-top: -1.2em;" class="row form-group<mt:if name="$error_name"> has-danger</mt:if>">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
  <div class="form-control-feedback">
    <mt:var name="$error_name" escape>
  </div>
  </div>
</div>
</mt:if>