<mt:setvarblock name="error_name">question_<mt:var name="question_basename" escape>_error</mt:setvarblock>
<tr class="<mt:if name="$error_name"> has-danger</mt:if>">
  <th scope="row" class="cell-form-question">
    <label class="form-control-label" for="question_<mt:var name="question_basename" escape>">
      <mt:var name="question_label" language="$language" eval="1" escape>
      <mt:if name="question_required">
      <small><i class="fa fa-asterisk required text-muted" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Required" language="$language"></span></small>
      </mt:if>
    </label>
  </th>
  <td class="cell-form-input">
    <mt:setvarblock name="param_name">request.question_<mt:var name="question_basename" escape></mt:setvarblock>
    <mt:var name="$param_name" setvar="question_value">
    <mt:if name="confirm_ok">
      <mt:var name="question_value" escape>
    </mt:if>
    <mt:unless name="request.__mode">
    <mt:var name="question_default_value" setvar="question_value">
    </mt:unless>
    <input type="<mt:if name="confirm_ok">hidden<mt:else>text</mt:if>" id="question_<mt:var name="question_basename" escape>"
        class="form-control watch-changed <mt:if name="$error_name"> form-control-danger</mt:if>" name="question_<mt:var name="question_basename" escape>" value="<mt:var name="question_value" escape>" <mt:if name="question_placeholder">placeholder="<mt:var name="question_placeholder" escape>"</mt:if>>
  <mt:if name="question_hint">
  <div class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint" language="$language"></span>
    <mt:var name="question_hint" language="$language" eval="1">
  </div>
  </mt:if>
  <mt:if name="$error_name">
  <div class="form-control-feedback">
    <mt:var name="$error_name" escape>
  </div>
  </mt:if>
  </td>
</tr>
