<mt:setvarblock name="error_name">question_<mt:var name="question_basename" escape>_error</mt:setvarblock>
<div class="row form-group<mt:if name="$error_name"> has-danger</mt:if>">
  <div class="col-lg-2">
    <label class="form-control-label" for="question_<mt:var name="question_basename" escape>">
      <mt:var name="question_label" escape>
      <mt:if name="question_required">
      <small><i class="fa fa-asterisk required text-muted" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Required"></span></small>
      </mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <mt:setvarblock name="param_name">request.question_<mt:var name="question_basename" escape></mt:setvarblock>
    <mt:var name="$param_name" setvar="question_value">
    <mt:if name="confirm_ok">
      <mt:var name="question_value" escape nl2br>
    </mt:if>
    <mt:unless name="request.__mode">
    <mt:var name="question_default_value" setvar="question_value">
    </mt:unless>
    <mt:if name="confirm_ok">
      <input type="hidden" id="question_<mt:var name="question_basename" escape>" name="question_<mt:var name="question_basename" escape>" value="<mt:var name="question_value" escape>">
    <mt:else>
      <textarea class="form-control watch-changed <mt:if name="$error_name">
      form-control-danger</mt:if>"
      id="question_<mt:var name="question_basename" escape>"
      name="question_<mt:var name="question_basename" escape>"
      rows="<mt:if name="question_options"><mt:var name="question_options" escape><mt:else>5</mt:if>"
      <mt:if name="question_placeholder">placeholder="<mt:var name="question_placeholder" escape>"</mt:if>><mt:var name="question_value" escape></textarea>
    </mt:if>
  <mt:if name="question_hint">
  <div class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:var name="question_hint">
  </div>
  </mt:if>
  <mt:if name="$error_name">
  <div class="form-control-feedback">
    <mt:var name="$error_name" escape>
  </div>
  </mt:if>
  </div>
</div>
