<mt:var name="options" split="," setvar="_options_loop">

<mt:if name="has_mapping">
<div class="row form-group">
  <mt:count name="_options_loop" setvar="status_type">
  <mt:if name="status_type" eq="2">
    <mt:if name="object_status" ne="2">
      <mt:setvar name="has_mapping" value="">
    </mt:if>
  <mt:elseif name="status_type" eq="5">
    <mt:if name="object_status" ne="4">
      <mt:setvar name="has_mapping" value="">
    </mt:if>
  </mt:if>
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:trans phrase="Archive">
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <select class="form-control short" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
        <mt:var name="__value__" split=":" setvar="params">
        <option <mt:if name="object_status" eq="$__counter__">selected</mt:if> value="<mt:var name="__counter__">"><mt:trans phrase="$params[0]" escape></option>
    </mt:loop>
    </select>
<mt:tablehascolumn column="published_on">
    <input type="hidden" name="has_deadline" value="0">
    <label class="custom-control custom-checkbox status-has_deadline-cb">
    <input id="has_deadline" class="status-has_deadline-cb form-control custom-control-input" type="checkbox" name="has_deadline" value="1" <mt:if name="object_has_deadline">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Specify the Deadline">
        </span>
    </label>
</mt:tablehascolumn>
  </div>
</div>
</mt:if>
<mt:tablehascolumn column="published_on">
<div class="row form-group">
  <div class="col-lg-2">
      <label for="published_on_date"><mt:trans phrase="Publish Date"></label>
  </div>
  <div class="col-lg-10 form-inline">
<label>
    <input id="published_on_date" type="date" class="form-control date" name="published_on_date" value="<mt:if name="object_published_on"><mt:var name="object_published_on" format_ts="Y-m-d"></mt:if>">
    <input id="published_on_time" type="time" step="1" class="form-control time" name="published_on_time" value="<mt:if name="object_published_on"><mt:var name="object_published_on" format_ts="H:i:s"></mt:if>">
</label>

<mt:tablehascolumn column="unpublished_on">
<span class="period-separator" class="unpublished-on-col">
<i class="fa fa-arrows-h unpublished-on-col" aria-hidden="true"></i>
  <label for="unpublished_on_date"><span class="sr-only"><mt:trans phrase="To"></span></label>
</span>
<label class="unpublished-on-col">
    <input id="unpublished_on_date" type="date" class="form-control date" name="unpublished_on_date" value="<mt:if name="object_unpublished_on"><mt:var name="object_unpublished_on" format_ts="Y-m-d"></mt:if>">
    <input id="unpublished_on_time" type="time" step="1" class="form-control time" name="unpublished_on_time" value="<mt:if name="object_unpublished_on"><mt:var name="object_unpublished_on" format_ts="H:i:s"></mt:if>">
</label>
</mt:tablehascolumn>
  </div>
</div>

<script>
$(function () {
    if ( $('#has_deadline').prop('checked') == false ) {
        $('.unpublished-on-col').hide();
    }
});
$('#has_deadline').click(function(){
    if ( $(this).prop('checked') ) {
        $('.unpublished-on-col').show();
    } else {
        $('.unpublished-on-col').hide();
    }
});
</script>
</mt:tablehascolumn>
