<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><mt:if name="html_title"><mt:var name="html_title"><mt:else><mt:var name="page_title"></mt:if> | <mt:getoption key="appname" escape><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape></mt:if></title>

    <!-- Bootstrap core CSS -->
    <link href="<mt:var name="prototype_path">assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="<mt:var name="prototype_path">assets/js/jquery-3.2.1.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/tether.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/bootstrap.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery-ui.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="<mt:var name="prototype_path">assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
    <link href="<mt:var name="prototype_path">assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="<mt:var name="prototype_path">assets/css/jquery.fileupload.css">
    <style type="text/css">
        .nav-top,.brand-prototype{ background-color: <mt:getoption key="barcolor"> !important; color: <mt:getoption key="bartextcolor"> !important; }
      <mt:if name="user_control_border">
       .form-control, .relation_nestable_list, .custom-control-indicator, .mce-tinymce, .btn-secondary { border: 1px solid <mt:var name="user_control_border" escape> !important }
      </mt:if>
    </style>
  </head>

  <body class="dialog">
    <div class="container-fluid">
    <mt:setvar name="has_option" value="0">
    <mt:if name="request._type" eq="list">
      <mt:if name="_per_page">
        <mt:include file="include/list_options.tmpl">
        <mt:setvar name="has_option" value="1">
      </mt:if>
    </mt:if>
  <mt:if name="this_mode" eq="view">
    <mt:setvar name="can_create" value="1">
    <mt:setvar name="can_action" value="1">
    <mt:if name="child_model">
    <mt:unless name="workspace_id">
      <mt:setvar name="can_create" value="0">
    </mt:unless>
    </mt:if>
    <mt:unless name="model" eq="asset">
      <mt:setvar name="can_create" value="0">
    <mt:else>
      <mt:setvar name="can_action" value="0">
    </mt:unless>
    <mt:unless name="request.revision_select">
    <mt:include file="include/list_filters.tmpl">
    <mt:if name="request._type" eq="list">
      <mt:if name="model" eq="asset">
        <mt:include file="include/start_upload.tmpl">
      </mt:if>
    </mt:if>
    </mt:unless>
  </mt:if>
      <div class="row">
        <main class="col-md-12 pt-3">
          <h1 class="<mt:if name="full_title">page-title-full</mt:if><mt:if name="has_option"> title-with-opt</mt:if>"><span class="title"><mt:var name="page_title"></span>
      <mt:unless name="request.revision_select">
      <mt:if name="this_mode" ne="login">
        <mt:if name="this_mode" eq="view">
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#filterOptions">
            <mt:trans phrase="Filters">
          </button>
        </mt:if>
        <mt:if name="request._type" eq="list">
          <mt:if name="model" eq="asset">
          <mt:if name="can_create">
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#startUpload">
            <mt:trans phrase="Upload">
          </button>
          </mt:if>
          </mt:if>
        </mt:if>
      </mt:if>
      </mt:unless>
          </h1>
    <mt:setvarblock name="alert_close">
      <button type="button" class="close" data-dismiss="alert" aria-label="<mt:trans phrase="Close">">
        <span aria-hidden="true">&times;</span>
      </button>
    </mt:setvarblock>

    <div class="alert alert-success hidden" id="header-alert" role="alert" tabindex="0">
      <button onclick="$('#header-alert').hide();" type="button" id="header-alert-close" class="close" aria-label="<mt:trans phrase="Close">">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="header-alert-message"></span>
    </div>

    <mt:if name="error">
      <div class="alert alert-warning" role="alert">
        <mt:var name="error" escape="1" nl2br="1">
      </div>
    </mt:if>
