<div style="font-size:80%;width:100%;padding:10px;position:fixed;bottom:0;background-color:#cdf;max-height:60px;overflow-y:scroll">
Request completed in <mt:var name="processing_time"> seconds.

<mt:loop name="errors">
<mt:if name="__first__">
<h2 style="font-size:110%;margin-top:4px;">Errors or Warnings</h2>
<ul></mt:if>
<li><mt:var name="__value__" escape></li>
<mt:if name="__last__"></ul></mt:if>
</mt:loop>

<mt:loop name="queries">
<mt:if name="__first__">
<h2 style="font-size:110%;margin-top:6px;">SQL Queries (<mt:var name="query_count"> Queries)</h2>
<ul></mt:if>
<li><mt:var name="__value__" escape></li>
<mt:if name="__last__"></ul></mt:if>
</mt:loop>

<mt:loop name="db_errors">
<mt:if name="__first__">
<h2 style="font-size:110%;margin-top:4px;">Database Errors</h2>
<ul></mt:if>
<li><mt:var name="__value__" escape></li>
<mt:if name="__last__"></ul></mt:if>
</mt:loop>
</div>