        </main>
      </div>
    </div>
  <mt:getoption key="copyright" setvar="copyright">
  <mt:if name="copyright">
    <footer class="footer bar">
      <span><mt:var name="copyright" escape></span>
    </footer>
  </mt:if>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
<script>
$(function() {
    $(".popup").click(function(){
        window.open(this.href,"WindowName","width=480,height=360,resizable=yes,scrollbars=yes");
        return false;
    });
});
</script>
<script>
var $win = $(window);
$win.on('load resize', function() {
    var windowWidth = window.innerWidth;
    if ( windowWidth > 768 ) {
        $('.info-box').html('');
        $('.info-box').hide();
        $('.toggle-icn').removeClass('fa-caret-up');
        $('.toggle-icn').addClass('fa-caret-down');
        $('.alt-search-button').hide();
        if( $('.create-new-button-icon').length ) {
            $('.create-new-button-icon').removeClass('fa-plus-circle');
        }
    } else {
        $('.alt-search-button').show();
        if( $('.create-new-button-icon').length ) {
            $('.create-new-button-icon').addClass('fa-plus-circle');
        }
    }
});
</script>
<mt:if name="request._type" eq="edit">
<script src="assets/js/tinymce/tinymce.min.js"></script>
<script>
<mt:unless name="object_text_format">
editorInit();
editorMode = 'richtext';
<mt:else>
<mt:if name="object_text_format" eq="richtext">
editorInit();
editorMode = 'richtext';
</mt:if>
</mt:unless>
function editorInit () {
    tinymce.init({
        language : '<mt:var name="user_language">',
        selector : 'textarea.richtext',
        relative_urls : false,
        image_advtab: true,
        content_css: "assets/css/editor.css",
        onchange_callback : "editHtmlEditor",
        plugins  : 'advlist autolink lists link image charmap print preview anchor searchreplace visualblocks code fullscreen insertdatetime media table contextmenu paste code',
        toolbar  : 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | pt-file pt-image',
        setup: function (ed) {
        ed.on('change', function(e) {
            editContentChanged = true;
        });
        ed.addButton('pt-image', {
            image: 'assets/img/insert_image.png',
            tooltip: '<mt:trans phrase="Insert Image">',
            icon: false,
            onclick: function () {
                url = '<mt:var name="script_uri">?__mode=view&_type=list&_model=asset<mt:if name="workspace_id">&workspace_id=<mt:var name="workspace_id"></mt:if>&dialog_view=1&select_system_filters=filter_class_image&_system_filters_option=image&_filter=1&insert_editor=1&insert=' + ed.id;
                $('#modal').modal().find('iframe').attr( 'src', url );
            }
        });
        ed.addButton('pt-file', {
            image: 'assets/img/insert_file.png',
            tooltip: '<mt:trans phrase="Insert File">',
            icon: false,
            onclick: function () {
                url = '<mt:var name="script_uri">?__mode=view&_type=list&_model=asset<mt:if name="workspace_id">&workspace_id=<mt:var name="workspace_id"></mt:if>&dialog_view=1&insert_editor=1&insert=' + ed.id;
                $('#modal').modal().find('iframe').attr( 'src', url );
            }
        });
    }
    });
}
</script>
</mt:if>
<script>
function disp_header_alert ( message, dialog_class ) {
    $("#header-alert-message").html( message );
    if (! dialog_class ) {
        dialog_class = 'success';
    }
    if ( dialog_class == 'success' ) {
        $("#header-alert").removeClass("alert-danger");
        $("#header-alert").addClass("alert-success");
    } else {
        $("#header-alert").removeClass("alert-success");
        $("#header-alert").addClass("alert-danger");
    }
    $("#header-alert").show();
    setTimeout(focus_header_dialog, 500);
}
function focus_header_dialog () {
    $("#header-alert").focus();
}
$(function(){
    $('[data-target="#modal"]').on('click',function(){
        var $this = $(this);
        var $modal = $('#modal');
        var url = '';
        if( this.href ){
            url = this.href;
        } else if( $this.data('href') ) {
            url = $this.data('href');
        }
        if( url ) {
            $modal.find('iframe').attr('src', url );
        }
    });
});
</script>
  </div>
  </body>
</html>