<!DOCTYPE html>
<html lang="jp"><mt:ignore>TODO</mt:ignore>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><mt:if name="html_title"><mt:var name="html_title"><mt:else><mt:var name="page_title"></mt:if> | <mt:getoption key="appname" escape><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape></mt:if></title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/clipboard.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="assets/css/jquery.fileupload.css">
    <style type="text/css">
        .nav-top,.brand-prototype{ background-color: <mt:getoption key="barcolor"> !important; color: <mt:getoption key="bartextcolor"> !important; }
        <mt:if name="workspace_barcolor"><mt:if name="workspace_bartextcolor">
        .brand-workspace, .workspace-bar{ background-color: <mt:var name="workspace_barcolor"> !important; color: <mt:var name="workspace_bartextcolor"> !important; }
        </mt:if>
        </mt:if>
    </style>
  </head>

  <body>
<mt:if name="request._type" eq="edit">
<div id="__loader-bg">
  <img src="assets/img/loading.gif" alt="" width="45">
</div>

<script>
$(function() {
    var h = $(window).height();
    $('#loader-bg ,#loader').height(h).css('display','block');
});
window.onload = function(){
    $('#__loader-bg').hide("fast");
}
</script>
</mt:if>
<div id="main-content">
    <nav class="bar navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse nav-top">
      <mt:if name="this_mode" eq="upgrade">
        <mt:if name="request._type" eq="install">
        <a class="navbar-brand brand-prototype" href="<mt:var name="script_uri">?__mode=upgrade&amp;_type=install">Prototype</a>
        </mt:if>
      </mt:if>

      <mt:if name="this_mode" ne="login">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="<mt:trans phrase="Toggle Navigation">">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="Settings"></span>
      </button>
      </mt:if>
      <mt:var name="workspace_param" value="">
        <mt:if name="workspace_id">
          <mt:setvarblock name="workspace_param">&amp;workspace_id=<mt:var name="workspace_id"></mt:setvarblock>
        </mt:if>
      <mt:if name="this_mode" ne="upgrade">
      <a class="navbar-brand" href="<mt:var name="script_uri">"><mt:var name="appname" escape></a>
      <mt:if name="this_mode" ne="login">
      <div class="collapse navbar-collapse" id="navbars">
        <ul class="nav-pills navbar-nav mr-auto">
            <mt:objectloop model="workspace" sort_by="order">
        <mt:if name="__first__">
          <li class="nav-item dropdown workspace-dd-wrapper active">
            <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Select a WorkSpace">" class="fa fa-cube workspace-dd" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="WorkSpaces"></span>
            </a>
            <div class="dropdown-menu">
        </mt:if>
            <a class="dropdown-item btn-sm <mt:if name="id" eq="$workspace_id">active</mt:if>" href="<mt:var name="script_uri">?<mt:if name="request_method" eq="GET"><mt:if name="request._type" eq="list"><mt:var name="query_string" escape></mt:if></mt:if>&amp;workspace_id=<mt:var name="id">"><mt:var name="name" escape></a>
        <mt:if name="__last__">
            </div>
          </li>
        </mt:if>
            </mt:objectloop>
        <mt:tables menu_type="1" permission="1">
          <li class="nav-item <mt:if name="name" eq="$model">active</mt:if>">
            <a class="nav-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          </li>
          <mt:if name="__last__">
            <mt:tables menu_type="2" permission="1">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Utilities">" class="fa fa-cog" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="Objects for Setting"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
            <mt:tables menu_type="3" permission="1">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="System Objects">" class="fa fa-table" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="System Objects"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
          </mt:if>
        </mt:tables>
        </ul>
        <div class="header-util">
          <a href="<mt:var name="script_uri">?__mode=logout" class="btn btn-sm btn-secondary my-2 my-sm-0" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Logout">">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Logout"></span>
          </a>
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=user&amp;id=<mt:var name="user_id">" class="btn btn-sm btn-secondary my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Profile">">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Profile"></span>
          </a>
          <a href="<mt:var name="script_uri">?__mode=config" class="btn btn-sm btn-secondary my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Config">">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Config"></span>
          </a>
        </div>
      </div>
      </mt:if>
      </mt:if>
    </nav>
<mt:if name="this_mode" ne="error">
  <mt:if name="this_mode" ne="upgrade">
    <mt:if name="this_mode" ne="login">
      <mt:if name="workspace_id">

    <nav class="bar navbar navbar-toggleable-md navbar-inverse bg-inverse workspace-bar" style="z-index:4">

      <mt:if name="this_mode" ne="login">
      <button class="navbar-toggler navbar-toggler-right btn-ws" type="button" data-toggle="collapse" data-target="#navbars-ws" aria-controls="navbars" aria-expanded="false" aria-label="<mt:trans phrase="Toggle Navigation">">
        <i class="fa fa-bars" aria-hidden="true" aria-label="<mt:trans phrase="Settings">"></i>
        <span class="sr-only"><mt:trans phrase="Settings"></span>
      </button>
      </mt:if>
      <mt:var name="workspace_param" value="">
        <mt:if name="workspace_id">
          <mt:setvarblock name="workspace_param">&amp;workspace_id=<mt:var name="workspace_id"></mt:setvarblock>
        </mt:if>
      <a class="navbar-brand brand-workspace" href="<mt:var name="script_uri">?__mode=dashboard&amp;workspace_id=<mt:var name="workspace_id">"><mt:var name="workspace_name" escape></a>
      <div class="collapse navbar-collapse" id="navbars-ws">
        <ul class="nav-pills navbar-nav mr-auto">
        <mt:tables type="display_space" menu_type="1" permission="1">
          <li class="nav-item nav-item-ws <mt:if name="name" eq="$model">active</mt:if>">
            <a class="nav-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
          </li>

          <mt:if name="__last__">
            <mt:tables type="display_space" menu_type="2" permission="1">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Objects for Setting">" class="fa fa-cog" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="Objects for Setting"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
            <mt:tables type="display_space" menu_type="3" permission="1">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="System Objects">" class="fa fa-table" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="System Objects"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
          </mt:if>
        </mt:tables>
        </ul>
        <div class="header-util">
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=workspace&amp;id=<mt:var name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id">" class="btn btn-sm btn-secondary my-2 my-sm-0" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Settings">">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="WorkSpace Settings"></span>
          </a>
        </div>
      </div>
    </nav>
      </mt:if>

    <mt:setvar name="output_container" value="1">
    <div class="container-fluid">
    <mt:setvar name="has_option" value="0">
    <mt:if name="request.__mode" eq="view">
        <mt:if name="request._type" eq="list">
        <mt:unless name="request.revision_select">
          <mt:include file="include/list_options.tmpl">
          <mt:setvar name="has_option" value="1">
        </mt:unless>
        <mt:elseif name="request._type" eq="edit">
          <mt:include file="include/edit_options.tmpl">
          <mt:setvar name="has_option" value="1">
        </mt:if>
    </mt:if>

    </mt:if>
  </mt:if>
</mt:if>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>

<mt:unless name="output_container">
    <div class="container-fluid">
</mt:unless>
    <mt:setvar name="can_action" value="1">
      <mt:if name="child_model">
        <mt:unless name="workspace_id">
            <mt:setvar name="can_create" value="0">
        </mt:unless>
      </mt:if>
      <mt:if name="this_mode" eq="error">
        <mt:setvar name="can_create" value="0">
      </mt:if>
      <mt:if name="menu_type" eq="3">
        <mt:setvar name="can_create" value="0">
      </mt:if>

      <div class="row">
        <main class="col-md-12 pt-3">
          <h1<mt:if name="has_option"> class="title-with-opt"</mt:if>><span class="title"><mt:var name="page_title"></span>
      <mt:if name="this_mode" ne="login">
        <mt:if name="can_create">
          <mt:if name="request._type" eq="list">
          <mt:unless name="request.revision_select">
          <mt:if name="model" eq="role">
            <mt:trans phrase="Syetem's Role" setvar="label">
          </mt:if>
          <a class="btn btn-primary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <mt:trans phrase="New %s" params="$label">
          </a>
          <mt:if name="model" eq="role">
          <a class="btn btn-primary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape>&amp;workspace_role=1">
            <mt:trans phrase="New WorkSpace's Role">
          </a>
          </mt:if>
          <mt:if name="has_hierarchy">
          <a class="btn btn-secondary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=hierarchy&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <mt:trans phrase="Manage Hierarchy" params="$label">
          </a>
          </mt:if>
          </mt:unless>
          </mt:if>
          <mt:if name="request._type" eq="edit">
            <mt:if name="request.saved">
            <mt:unless name="model" eq="role">
          <a class="btn btn-primary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <mt:trans phrase="New %s" params="$label">
          </a>
            </mt:unless>
            </mt:if>
          </mt:if>
          <mt:if name="request._type" eq="hierarchy">
          <a class="btn btn-primary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <mt:trans phrase="Return to List">
          </a>
          </mt:if>
        </mt:if>
      </mt:if>
          </h1>

    <mt:setvarblock name="alert_close">
    <button type="button" class="close" data-dismiss="alert" aria-label="<mt:trans phrase="Close">">
      <span aria-hidden="true">&times;</span>
    </button>
    </mt:setvarblock>

    <div class="alert alert-success hidden" id="header-alert" role="alert" tabindex="0">
      <button onclick="$('#header-alert').hide();" type="button" id="header-alert-close" class="close" aria-label="<mt:trans phrase="Close">">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="header-alert-message"></span>
    </div>

    <mt:if name="header_alert_message">
    <div id="header-alert-message" class="alert alert-success" tabindex="0">
        <mt:var name="alert_close">
        <mt:var name="header_alert_message">
      </div>
    <script>
    $('#header-alert-message').focus();
    </script>
    </mt:if>

    <mt:if name="error">
      <div id="header-error-message" class="alert alert-danger" role="alert" tabindex="0">
      <mt:var name="error" escape="1" nl2br="1">
      </div>
    <script>
    $('#header-error-message').focus();
    </script>
    </mt:if>