        </main>
      </div>
    </div>
  <mt:getoption key="copyright" setvar="copyright">
  <mt:if name="copyright">
    <footer class="footer bar">
      <span><mt:getoption key="copyright" escape></span>
    </footer>
  </mt:if>
  </div>
  </body>
</html>