<mt:setvar name="_primary" value="$value">
<mt:setvar name="_languages" value="$languages">
<div class="row form-group row-title-main">
  <div class="col-lg-12 input-group-lg">
    <input id="<mt:var name="__col_name__">" type="text" class="title-original form-control watch-changed" name="<mt:var name="__col_name__">" value="<mt:var name="__col_value__">"
      aria-label="<mt:var name="label" escape>" placeholder="<mt:var name="label" escape>" <mt:if name="readonly">readonly</mt:if>>
  </div>
</div>
