<mt:getobjectlabel id="$object_questiontype_id" column="basename" model="questiontype" setvar="questiontype_value">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="<mt:if name="disp_option" like="num">number<mt:else>text</mt:if>" class="form-control watch-changed <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      <mt:if name="readonly">readonly</mt:if>>
<mt:if name="questiontype_value" eq="checkbox">
<mt:setvar name="_hint" value="If you want to receive a value different from the value entered for the label, please enter alternative value.">
<mt:else>
<mt:setvar name="_hint" value="If you want to receive a value different from the value entered for the options, please enter alternative comma separated list.">
</mt:if>
  <p class="text-muted hint-block">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <span id="column-values-hint"><mt:var name="_hint" trans="1"></span>
  </p>
  </div>
</div>
<mt:unless name="questiontype_value" like="checkbox">
<mt:unless name="questiontype_value" like="radio">
<mt:unless name="questiontype_value" like="dropdown">
<script>
$('#values-wrapper').hide();
</script>
</mt:unless>
</mt:unless>
</mt:unless>
<mt:if name="questiontype_value" like="file">
<script>
$('#maxlength-wrapper').show();
$('#validation_type-wrapper').hide();
$('#column_maxlength-label').html('<span><mt:trans phrase="Max File Size"></span>');
$('#column_maxlength-option').hide();
</script>
<mt:elseif name="questiontype_value" like="attachment">
<script>
$('#maxlength-wrapper').show();
$('#validation_type-wrapper').hide();
$('#column_maxlength-label').html('<span><mt:trans phrase="Max File Size"></span>');
$('#column_maxlength-option').hide();
</script>
</mt:if>
