<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2">
    <mt:var name="label" escape="1">
  </div>
  <div class="col-lg-10 form-inline">
    <select id="<mt:var name="__col_name__">" class="form-control short watch-changed" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
      <mt:if name="__first__">
      <mt:unless name="not_null">
        <option value="">
          <mt:trans phrase="Unspecified">
        </option>
      </mt:unless>
      </mt:if>
        <option <mt:if name="__col_value__" eq="$__value__">selected</mt:if> value="<mt:var name="__value__" escape>"><mt:trans phrase="$__value__" escape></option>
    <mt:if name="__last__">
<mt:loop name="form_validations">
<option value="<mt:var name="__key__" escape>"
<mt:if name="__col_value__" eq="$__key__">selected</mt:if>
<mt:loop name="__value__">
<mt:if name="__key__" eq="label">
  <mt:setvar name="validation_label" value="$__value__">
<mt:elseif name="__key__" eq="component">
  <mt:setvar name="validation_component" value="$__value__">
</mt:if>
</mt:loop>
><mt:trans phrase="$validation_label" component="$validation_component"></option>
</mt:loop>
    </mt:if>
    </mt:loop>
    </select>
    <input type="hidden" name="normarize" value="0">
    <label class="custom-control custom-checkbox">
    <input id="normarize" class="form-control custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="normarize" value="1" <mt:if name="object_normarize">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Normarize"></span>
    </label>
    &nbsp; &nbsp;<label><mt:trans phrase="Format"> : <input type="text" name="format" class="form-control e-num watch-changed" value="<mt:var name="object_format" escape>"></label>
  </div>
</div>

