<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2" id="column_maxlength-label">
    <mt:var name="label" escape="1">
  </div>
  <div class="col-lg-10 form-inline">
    <input id="<mt:var name="__col_name__">" type="number" class="form-control watch-changed <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:if name="value"><mt:var name="value"></mt:if>"
      <mt:if name="readonly">readonly</mt:if>>
    
    &nbsp;&nbsp;
    <span id="column_maxlength-option"><input type="hidden" name="multi_byte" value="0">
    <label class="custom-control custom-checkbox">
    <input id="normarize" class="form-control custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="multi_byte" value="1" <mt:if name="object_multi_byte">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Multi-Byte"></span>
    </label></span>
    
    <label class="custom-control custom-radio unit-label">&nbsp; &nbsp;
        <input class="custom-control-input" <mt:if name="object_unit" eq="Bytes">checked </mt:if>type="radio" name="unit" value="Bytes">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:trans phrase="Bytes"></span>
    </label>
    <label class="custom-control custom-radio unit-label">
        <input class="custom-control-input" <mt:unless name="object_unit">checked </mt:unless><mt:if name="object_unit" eq="KB">checked </mt:if>type="radio" name="unit" value="KB">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:trans phrase="KB"></span>
    </label>
    <label class="custom-control custom-radio unit-label">
        <input class="custom-control-input" <mt:if name="object_unit" eq="MB">checked </mt:if>type="radio" name="unit" value="MB">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:trans phrase="MB"></span>
    </label>
    
    <mt:var name="_hint">
  </div>
</div>
<mt:getobjectlabel id="$object_questiontype_id" column="class" model="questiontype" setvar="questiontype_value">
<mt:unless name="questiontype_value">
<mt:getobjectlabel id="$object_questiontype_id" column="basename" model="questiontype" setvar="questiontype_value">
</mt:unless>
<mt:if name="questiontype_value" like="file">
<script>
$('.unit-label').show();
</script>
<mt:elseif name="questiontype_value" like="attachment">
<script>
$('.unit-label').show();
</script>
<mt:else>
<script>
$('.unit-label').hide();
</script>

</mt:if>