<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="number" class="form-control watch-changed <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:if name="value"><mt:var name="value"></mt:if>"
      <mt:if name="readonly">readonly</mt:if>>
    <mt:var name="_hint">
  </div>
</div>
<mt:getobjectlabel id="$object_questiontype_id" column="class" model="questiontype" setvar="questiontype_value">
<mt:unless name="questiontype_value">
<mt:getobjectlabel id="$object_questiontype_id" column="basename" model="questiontype" setvar="questiontype_value">
</mt:unless>
<mt:unless name="questiontype_value" like="input_group">
<script>
$('#count_fields-wrapper').hide();
</script>
</mt:unless>