<mt:ifcomponent component="LivePreview">
<mt:if name="__class__" ne="workspace">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="name" escape>">
    <mt:trans phrase="$label">
    </label>
  </div>
  <div class="col-lg-10">
    <label class="custom-control custom-checkbox">
      <input name="can_livepreview" value="0" type="hidden">
      <input type="checkbox" id="can_livepreview" class="custom-control-input watch-changed" name="can_livepreview" value="1" <mt:if name="object_can_livepreview">checked</mt:if>>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><mt:trans phrase="$label"></span>
    </label>
  </div>
</div>
</mt:if>
</mt:ifcomponent>
<!---->