<mt:if name="request.saved">
  <div id="alert-display-option" class="alert alert-success" tabindex="0">
    <mt:var name="alert_close">
    <mt:trans phrase="To activate this field, enable the display option of this field on the edit screen.">
  </div>
<script>
$('#alert-display-option').focus();
</script>
</mt:if>