<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 input-group-lg">
    <input id="<mt:var name="__col_name__">" type="text" class="form-control watch-changed" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      aria-label="<mt:var name="label" escape>" placeholder="<mt:var name="label" escape>" <mt:if name="request.id">readonly</mt:if>>
  </div>
</div>