<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_livepreview_page_url">
      <mt:trans phrase="Setting page's URL" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="text" id="setting_livepreview_page_url" name="setting_livepreview_page_url" class="form-control" value="<mt:var name="setting_livepreview_page_url" escape>">
    <p class="text-muted hint-block">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Hint"></span>
      <mt:trans phrase="Please specify when website and CMS domain are different." component="LivePreview">
    </p>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_livepreview_date_based">
      <mt:trans phrase="Date-Based Archives" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="text" id="setting_livepreview_date_based" name="setting_livepreview_date_based" class="form-control" value="<mt:var name="setting_livepreview_date_based" escape>">
    <p class="text-muted hint-block">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Hint"></span>
      <mt:trans phrase="Please enter comma-separated model names." component="LivePreview">
    </p>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_livepreview_status_pending">
      <mt:trans phrase="Include status in Approval Pending" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
  <label class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" <mt:unless name="setting_livepreview_status_pending">checked</mt:unless> name="setting_livepreview_status_pending" value="">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Disable"></span>
  </label>
  <label class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" <mt:if name="setting_livepreview_status_pending">checked</mt:if> name="setting_livepreview_status_pending" value="1">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Enable"></span>
  </label>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_livepreview_insert_html">
      <mt:trans phrase="Insert HTML" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
    <textarea rows="5" id="setting_livepreview_insert_html" name="setting_livepreview_insert_html" class="form-control"><mt:var name="setting_livepreview_insert_html" escape></textarea>
    <p class="text-muted hint-block">
      <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="Hint"></span>
      <mt:trans phrase="Insert HTML(MTML) just before the &lt;/body&gt; tag at Live Preview." component="LivePreview">
    </p>
  </div>
</div>

