<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="Alfasado Inc.">
    <title><mt:trans phrase="Live Preview" component="LivePreview"> | <mt:var name="appname" escape trim_to="20+..."></title>
    <link href="<mt:var name="prototype_path">assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="<mt:var name="prototype_path">assets/js/jquery-3.2.1.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/bootstrap.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery.cookie.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="<mt:var name="prototype_path">assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
    <style type="text/css">
      .nav-top,.brand-prototype{ background-color: #000000 !important; color: #ffffff !important; }
    </style>
  </head>
  <body class="">
  <div id="main-content">
    <nav class="bar navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse nav-top">
      <span class="navbar-brand"><mt:var name="appname" escape trim_to="20+..."></span>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-12 pt-3">
          <h1 class=""><span class="title"><mt:trans phrase="Live Preview" component="LivePreview"></span>
          </h1>
  <div id="header-alert" class="alert alert-warning" role="alert" tabindex="0" style="margin-bottom:2em">
    <span id="header-alert-message">
    <script>
    var _date;
    var _time;
    var now = new Date();
    var y = now.getFullYear();
    var m = now.getMonth() + 1;
    var d = now.getDate();
    y = y.toString();
    m = m.toString();
    d = d.toString();
    if ( m.length == 1 ) {
        m = '0' + m;
    }
    if ( d.length == 1 ) {
        d = '0' + d;
    }
    _date = y + '-' + m + '-' + d;
    var H = now.getHours() + '';
    var M = now.getMinutes() + '';
    var S = now.getSeconds() + '';
    H = H.toString();
    M = M.toString();
    S = S.toString();
    if ( H.length == 1 ) {
        H = '0' + H;
    }
    if ( M.length == 1 ) {
        M = '0' + M;
    }
    if ( S.length == 1 ) {
        S = '0' + S;
    }
    _time = H + ':' + M + ':' + S;
    const htmlEscape = (str) => {
      if (!str) return;
      return str.replace(/[<>&"'`]/g, (match) => {
        const escape = {
          '<': '&lt;',
          '>': '&gt;',
          '&': '&amp;',
          '"': '&quot;',
          "'": '&#39;',
          '`': '&#x60;'
        };
        return escape[match];
      });
    }
    var ts = $.cookie('pt-live-preview-ts');
    if ( ts ) {
        ts = htmlEscape(ts);
        var y = ts.substr( 0, 4 );
        var m = ts.substr( 4, 2 );
        var d = ts.substr( 6, 2 );
        var H = ts.substr( 8, 2 );
        var M = ts.substr( 10, 2 );
        var S = ts.substr( 12, 2 );
        _date = y + '-' + m + '-' + d;
        _time = H + ':' + M + ':' + S;
        var date_time = _date + ' ' + _time;
        var message = '<mt:trans phrase="Live preview is set on __." component="LivePreview">';
        message = message.replace( '__', date_time );
        document.write(message);
    } else {
        document.write('<mt:trans phrase="Live preview is not set." component="LivePreview">');
    }
    </script>
    </span>
  </div>
<form action="" method="GET" id="live-preview-form">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="import_format">
    <mt:trans phrase="Date & Time">
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <input id="_date" type="date" class="form-control date watch-changed" name="live_preview_date" value="">
    &nbsp;
    <input id="_time" type="time" step="1" class="form-control time watch-changed" name="live_preview_time" value="">
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="live_preview_pending">
    <mt:trans phrase="Include status in Approval Pending" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
  <label class="custom-control custom-radio">
    <input id="live_preview_pending" class="custom-control-input" type="radio" name="_pending" value="">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Disable"></span>
  </label>
  <label class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" name="_pending" value="1">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Enable"></span>
  </label>
  </div>
</div>
<hr>
<div class="row form-group">
  <div class="col-lg-12">
    <button style="margin-top:1em" type="button" id="__save" class="btn btn-primary"><mt:trans phrase="Set Date and Time" component="LivePreview"></button>
    <button style="margin-top:1em" type="button" id="__delete" class="btn btn-secondary"><mt:trans phrase="Clear Date and Time" component="LivePreview"></button>
  </div>
</div>
</form>
<script>
$('#_date').val(_date);
$('#_time').val(_time);
var in_pending = $.cookie('pt-live-preview-pending');
if ( in_pending ) {
    $('input[name=_pending]').val(['1']);
} else {
    $('input[name=_pending]').val(['']);
}
$('#__save').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to set preview date and time?" component="LivePreview">')){
        return false;
    }
    var __d = $('#_date').val();
    var __t = $('#_time').val();
    _d = __d.replace( /\-/g, '' );
    _t = __t.replace( /:/g, '' );
    if ( _t.length == 4 ) {
        _t += '00';
    }
    _ts = _d + _t;
    var now = new Date();
    var y = now.getFullYear();
    var m = now.getMonth() + 1;
    var d = now.getDate();
    y = y.toString();
    m = m.toString();
    d = d.toString();
    if ( m.length == 1 ) {
        m = '0' + m;
    }
    if ( d.length == 1 ) {
        d = '0' + d;
    }
    var H = now.getHours() + '';
    var M = now.getMinutes() + '';
    var S = now.getSeconds() + '';
    H = H.toString();
    M = M.toString();
    S = S.toString();
    if ( H.length == 1 ) {
        H = '0' + H;
    }
    if ( M.length == 1 ) {
        M = '0' + M;
    }
    if ( S.length == 1 ) {
        S = '0' + S;
    }
    __ts = y + m + d + H + M + S;
    if ( _ts < __ts ) {
        alert('<mt:trans phrase="The past date can not be specified." component="LivePreview">');
        return false;
    }
    $.cookie('pt-live-preview-ts', _ts, { path: '/' });
    $.cookie('pt-live-preview-date', _d, { path: '/' });
    $.cookie('pt-live-preview-time', _t, { path: '/' });
    var __pending = $('input[name=_pending]:checked').val();
    if ( __pending ) {
        $.cookie('pt-live-preview-pending', 1, { path: '/' });
    } else {
        $.cookie('pt-live-preview-pending', '', { path: '/', expires: -1 });
    }
    //         var message = '<mt:trans phrase="Live preview is set on __." component="LivePreview">';
        // message = message.replace( '__', date_time );
    var date_time = __d + ' ' + __t;
    var message = '<mt:trans phrase="Set the date and time to live preview at __." component="LivePreview">';
    message = message.replace( '__', date_time );
    alert(message);
    var message = '<mt:trans phrase="Live preview is set on __." component="LivePreview">';
    message = message.replace( '__', date_time );

    $('#header-alert-message').html('<span>' + message + '</span>');
    $('#header-alert').focus();
    return false;
});
$('#__delete').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to clear preview date and time?" component="LivePreview">')){
        return false;
    }
    $.cookie('pt-live-preview-ts', '', { path: '/', expires: -1 });
    $.cookie('pt-live-preview-date', '', { path: '/', expires: -1 });
    $.cookie('pt-live-preview-time', '', { path: '/', expires: -1 });
    $.cookie('pt-live-preview-pending', '', { path: '/', expires: -1 });
    $('#header-alert-message').html('<span><mt:trans phrase="Live preview is not set." component="LivePreview"></span>');
    $('#header-alert').focus();
    return false;
});
</script>
        </main>
      </div>
    </div>
    <footer class="footer bar">
      <span><mt:var name="copyright" eval="1"></span>
    </footer>
</body>
</html>
