<mt:trans phrase="Live Preview" component="LivePreview" setvar="page_title">
<mt:include file="include/header.tmpl">

<mt:setvarblock name="livepreviewts">cookie.pt-live-preview-ts<mt:if name="workspace_id">-<mt:var name="workspace_id"></mt:setvarblock>
<mt:setvarblock name="livepreviewdate">cookie.pt-live-preview-date<mt:if name="workspace_id">-<mt:var name="workspace_id"></mt:setvarblock>
<mt:setvarblock name="livepreviewtime">cookie.pt-live-preview-time<mt:if name="workspace_id">-<mt:var name="workspace_id"></mt:setvarblock>
<mt:setvarblock name="livepreviewpending">cookie.pt-live-preview-pending<mt:if name="workspace_id">-<mt:var name="workspace_id"></mt:setvarblock>

<mt:if name="$livepreviewts">
  <mt:var name="$livepreviewts" format_ts="Y-m-d H:i:s" setvar="current_setting">
  <div class="alert alert-warning" role="alert" tabindex="0" style="margin-bottom:2em">
    <span id="header-alert-message">
    <mt:trans phrase="Live preview is set on %s." params="$current_setting" component="LivePreview">
    </span>
  </div>
<mt:else>
  <div class="alert alert-info" role="alert" tabindex="0" style="margin-bottom:2em">
    <span id="header-alert-message">
    <mt:trans phrase="Live preview is not set." component="LivePreview">
    </span>
  </div>
</mt:if>

<form action="<mt:var name="script_uri">" method="POST" id="live-preview-form">
<input type="hidden" name="__mode" value="live_preview">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" id="action_type" name="action_type" value="">
<input type="hidden" name="workspace_id" value="<mt:var name="request.workspace_id" escape>">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="live_preview_date">
    <mt:trans phrase="Date & Time">
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <input id="live_preview_date" type="date" class="form-control date watch-changed" name="live_preview_date" value="<mt:if name="$livepreviewdate"><mt:var name="$livepreviewdate" escape format_ts="Y-m-d"><mt:else><mt:var name="live_preview_date" format_ts="Y-m-d"></mt:if>">
    &nbsp;
    <input id="live_preview_time" type="time" step="1" class="form-control time watch-changed" name="live_preview_time" value="<mt:if name="$livepreviewtime"><mt:var name="$livepreviewtime" escape format_ts="H:i:s"><mt:else><mt:var name="live_preview_time" format_ts="H:i:s"></mt:if>">
  </div>
</div>

<mt:if name="status_pending">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="live_preview_pending">
    <mt:trans phrase="Include status in Approval Pending" component="LivePreview">
    </label>
  </div>
  <div class="col-lg-10">
  <label class="custom-control custom-radio">
    <input class="custom-control-input" type="radio" <mt:unless name="$livepreviewpending">checked</mt:unless> name="livepreview_status_pending" value="">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Disable"></span>
  </label>
  <label class="custom-control custom-radio">
    <input id="live_preview_pending" class="custom-control-input" type="radio" <mt:if name="$livepreviewpending">checked</mt:if> name="livepreview_status_pending" value="1">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Enable"></span>
  </label>
  </div>
</div>
</mt:if>

<hr>
<div class="row form-group">
  <div class="col-lg-12">
    <button style="margin-top:1em" type="button" id="__save" class="btn btn-primary"><mt:trans phrase="Set Date and Time" component="LivePreview"></button>
    <button style="margin-top:1em" type="button" id="__delete" class="btn btn-secondary"><mt:trans phrase="Clear Date and Time" component="LivePreview"></button>
  </div>
</div>
</form>
<script>
$('#__save').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to set preview date and time?" component="LivePreview">')){
        return false;
    }
    $('#action_type').val('set');
    $(this).attr('disabled', true);
    $('#live-preview-form').submit();
});
$('#__delete').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to clear preview date and time?" component="LivePreview">')){
        return false;
    }
    $('#action_type').val('clear');
    $(this).attr('disabled', true);
    $('#live-preview-form').submit();
});
</script>
<mt:include file="include/footer.tmpl">