<script>
$('#apply_banned_words').click(function(){
    var selected = false;
    $("input[name='banned_words_replace_columns[]']").each(function(){
        if ( $(this).prop('checked') ) {
            selected = true;
        }
    });
    var ignore_uncheck = $('#banned_words_ignore_uncheck').prop('checked');
    if (! ignore_uncheck && ! selected ) {
        alert('<mt:trans phrase="The target field is not selected." component="BannedWords">');
        return false;
    }
    if ( ignore_uncheck && ! selected ) {
        if ( !confirm('<mt:trans phrase="Are you sure you want to ignore banned words and save this object?" component="BannedWords">') ) {
            return false;
        }
    } else {
        if ( !confirm('<mt:trans phrase="Are you sure you want to apply text(s) replace?" component="BannedWords">') ) {
            return false;
        }
    }
    $(this).attr('disabled', true);
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
$('#save_ignore_banned_words').click(function(){
    if ( !confirm('<mt:trans phrase="Are you sure you want to ignore banned words and save this object?" component="BannedWords">') ) {
        return false;
    }
    $(this).attr('disabled', true);
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
$("input[name='banned_words_replace_columns[]']").change(function(){
    __banned_words_button();
});
<mt:unless name="banned_words_force">
$("#banned_words_ignore_uncheck").change(function(){
    __banned_words_button();
});
</mt:unless>
function __banned_words_button () {
    var selected = false;
    var all_selected = true;
    $("input[name='banned_words_replace_columns[]']").each(function(){
        if ( $(this).prop('checked') ) {
            selected = true;
        } else {
            all_selected = false;
        }
    });
    <mt:unless name="banned_words_force">
    if (! selected ) {
        selected = $("#banned_words_ignore_uncheck").prop('checked');
    } else if ( all_selected ) {
        all_selected = $("#banned_words_ignore_uncheck").prop('checked');
    }
    </mt:unless>
    if ( selected ) {
        $('.apply_banned_words').prop('disabled', false);
        $('.apply_banned_words').removeClass('disabled');
    } else {
        $('.apply_banned_words').prop('disabled', true);
        $('.apply_banned_words').addClass('disabled');
    }
    if (! all_selected ) {
        $('#banned_words_replace_all').prop('checked', false);
    }
}
</script>