@uri=<mt:var name="url">
@title=<mt:var name="title">
@workspace_id=<mt:var name="workspace_id">
@metadata=<mt:var name="metadata">
@tags=<mt:var name="tags">
@object_id=<mt:var name="object_id">
@model=<mt:var name="model">
@mime_type=<mt:var name="mime_type">
<mt:loop name="meta_loop">@<mt:var name="__key__">=<mt:var name="__value__">
</mt:loop>
<mt:var name="content">

	<mt:var name="metadata">
	<mt:var name="title">