<mt:if name="request.id">
<div class="row form-group" id="_password-default">
  <div class="col-lg-2">
    <mt:trans phrase="Password">
    <mt:unless name="request.id">
    <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </mt:unless>
  </div>
  <div class="col-lg-10 lg-10-btn-wrapper">
    <button type="button" class="btn btn-secondary btn-sm" id="__toggle_password"><mt:trans phrase="Change Password"></button>
  </div>
</div>
</mt:if>
<div class="row form-group _password-edit">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
    <mt:if name="request.id">
      <mt:trans phrase="New %s" params="$label" escape>
    <mt:else>
      <mt:var name="label" escape>
    </mt:if>
    <mt:unless name="request.id">
    <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </mt:unless>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="<mt:if name="request.id">text<mt:else>password</mt:if>" class="form-control watch-changed" name="<mt:var name="__col_name__">" value="">
  </div>
</div>
<div class="row form-group _password-edit">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">-verify">
    <mt:if name="request.id">
      <mt:trans phrase="New %s (Confirm)" params="$label" escape>
    <mt:else>
      <mt:trans phrase="%s (Confirm)" params="$label" escape>
    </mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">-verify" type="<mt:if name="request.id">text<mt:else>password</mt:if>" class="form-control watch-changed" name="<mt:var name="__col_name__">-verify" value="">
    <mt:var name="_hint">
  </div>
</div>
<mt:if name="request.id">
<script>
$('._password-edit').hide();
</script>
</mt:if>
<script>
$('#__toggle_password').click(function(){
    $('._password-edit').show();
    $('#_password-default').hide();
    $('#<mt:var name="__col_name__">').prop( 'type', 'password' );
    $('#<mt:var name="__col_name__">-verify').prop( 'type', 'password' );
});
</script>
