<mt:include file="include/header.tmpl">

<mt:setvarblock name="field_required">
  <i class="fa fa-asterisk required" aria-hidden="true"></i>
  <span class="sr-only"><mt:trans phrase="Required"></span>
</mt:setvarblock>

<mt:if name="request.saved">
  <div class="alert alert-success">
    <mt:trans phrase="Your changes have been saved.">
  </div>
</mt:if>

<form action="<mt:var name="script_uri">" method="POST">
<input type="hidden" name="__mode" value="config">
<input type="hidden" name="_type" value="save">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="appname">
      <mt:trans phrase="App Name">
      <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="appname" name="appname" class="form-control" value="<mt:var name="appname" escape>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="copyright">
      <mt:trans phrase="Copyright">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="copyright" name="copyright" class="form-control" value="<mt:var name="copyright" escape>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="description">
      <mt:trans phrase="Description">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <textarea rows="4" id="description" name="description" class="form-control"><mt:var name="description" escape></textarea>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="two_factor_auth">
      <mt:trans phrase="Authentication">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <label class="custom-control custom-checkbox">
    <input id="two_factor_auth" class="custom-control-input"
     type="checkbox" name="two_factor_auth" value="1" <mt:if name="two_factor_auth">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Use Two-factor Authentication"></span>
    </label>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
  <mt:trans phrase="User Lock Out">
  </div>
  <div class="col-lg-4 form-inline lockout-col">
    <label for="lockout_limit">
      <mt:trans phrase="Lock Out Limit"> : 
      <input type="number" id="lockout_limit" name="lockout_limit" class="form-control" value="<mt:if name="lockout_limit" ne=""><mt:var name="lockout_limit" escape><mt:else>3</mt:if>">
    </label>
  </div>
  <div class="col-lg-6 form-inline lockout-col">
    <label for="lockout_interval">
      <mt:trans phrase="Lock Out Interval(Seconds)"> : 
      <input type="number" id="lockout_interval" name="lockout_interval" class="form-control" value="<mt:if name="lockout_interval"><mt:var name="lockout_interval" escape><mt:else>600</mt:if>">
    </label>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
  <mt:trans phrase="IP Lock Out">
  </div>
  <div class="col-lg-4 form-inline lockout-col">
    <label for="ip_lockout_limit">
      <mt:trans phrase="Lock Out Limit"> : 
      <input type="number" id="ip_lockout_limit" name="ip_lockout_limit" class="form-control" value="<mt:if name="ip_lockout_limit" ne=""><mt:var name="ip_lockout_limit" escape><mt:else>3</mt:if>">
    </label>
  </div>
  <div class="col-lg-6 form-inline lockout-col">
    <label for="ip_lockout_interval">
      <mt:trans phrase="Lock Out Interval(Seconds)"> : 
      <input type="number" id="ip_lockout_interval" name="ip_lockout_interval" class="form-control" value="<mt:if name="ip_lockout_interval"><mt:var name="ip_lockout_interval" escape><mt:else>600</mt:if>">
    </label>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <label class="custom-control custom-checkbox">
    <input id="no_lockout_allowed_ip" class="custom-control-input"
     type="checkbox" name="no_lockout_allowed_ip" value="1" <mt:if name="no_lockout_allowed_ip">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Allowed ip address is not lockout"></span>
    </label>
  </div>
</div>

<div class="row form-group" style="margin-top:-14px">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <p class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:trans phrase="When Lock Out Limit is set to 0, lockout is not performed.">
    </p>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
  <mt:trans phrase="Administrator">
  </div>
  <div class="col-lg-10">
    <label class="custom-control custom-checkbox">
    <input id="administrator_ip" class="custom-control-input"
     type="checkbox" name="administrator_ip" value="1" <mt:if name="administrator_ip">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Apply IP address restriction to Administrator login"></span>
    </label>
    <label class="custom-control custom-checkbox">
    <input id="allowed_ip_only" class="custom-control-input"
     type="checkbox" name="allowed_ip_only" value="1" <mt:if name="allowed_ip_only">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Apply IP address restriction to all user"></span>
    </label>
  </div>
</div>

<div class="row form-group" style="margin-top:-14px">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <p class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:trans phrase="You need to register at least one administrator login IP address.">
    <a href="<mt:var name="script_uri">?__mode=view&_type=edit&_model=remote_ip"><i class="fa fa-plus-circle"></i> <mt:trans phrase="Create"></a>
    </p>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="system_email">
      <mt:trans phrase="System Email">
      <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="system_email" name="system_email" class="form-control" value="<mt:var name="system_email" escape>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="tmpl_markup">
      <mt:trans phrase="Template Markup">
    </label>
  </div>
  <div class="col-lg-3">
    <select class="form-control" id="tmpl_markup" name="tmpl_markup">
      <option value="mt" <mt:if name="tmpl_markup" eq="mt">selected</mt:if>><mt:trans phrase="PowerCMS Compatible"></option>
      <mt:ignore><option value="smarty" <mt:if name="tmpl_markup" eq="smarty">selected</mt:if>><mt:trans phrase="Smarty Compatible"></option></mt:ignore>
    </select>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="default_dashboard">
      <mt:trans phrase="Default Widget">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <textarea rows="10" id="default_widget" name="default_widget" class="form-control"><mt:var name="default_widget" escape></textarea>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="site_url">
      <mt:trans phrase="Site URL">
      <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="site_url" name="site_url" class="form-control" value="<mt:var name="site_url" escape>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="preview_url">
      <mt:trans phrase="Preview URL">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="text" id="preview_url" name="preview_url" class="form-control" value="<mt:var name="preview_url" escape>">
    <p class="text-muted">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:trans phrase="When previewing with a URL different from the URL of the management screen, please enter the URL of the PHP application.">
    </p>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="site_url">
      <mt:trans phrase="Site Path">
      <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="site_path" name="site_path" class="form-control" value="<mt:var name="site_path" escape>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="extra_path">
      <mt:trans phrase="Upload Path">
    </label>
  </div>
  <div class="col-lg-2 input-group">
    <input type="text" id="extra_path" name="extra_path" class="form-control" value="<mt:var name="extra_path" escape>">
  </div>

  <div class="col-lg-2 input-group">
    <label class="custom-control custom-checkbox">
    <input id="asset_publish" class="custom-control-input"
     type="checkbox" name="asset_publish" value="1" <mt:if name="asset_publish">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Output the File"></span>
    </label>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="language">
      <mt:trans phrase="Language">
    </label>
  </div>
  <div class="col-lg-3">
    <mt:loop name="languages">
    <mt:if name="__first__">
    <select class="form-control short" id="language" name="language">
    </mt:if>
      <option value="<mt:var name="__value__">" <mt:if name="language" eq="$__value__">selected</mt:if>><mt:var name="__value__"></option>
    <mt:if name="__last__">
    </select>
    </mt:if>
    </mt:loop>
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="barcolor">
      <mt:trans phrase="Bar Color">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="color" id="barcolor" name="barcolor" class="watch-changed form-control color-picker" value="<mt:if name="barcolor"><mt:var name="barcolor" escape><mt:else>#000000</mt:if>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-2">
    <label for="bartextcolor">
      <mt:trans phrase="Bar TextColor">
    </label>
  </div>
  <div class="col-lg-10">
    <input type="color" id="bartextcolor" name="bartextcolor" class="watch-changed form-control color-picker" value="<mt:if name="bartextcolor"><mt:var name="bartextcolor" escape><mt:else>#ffffff</mt:if>">
  </div>
</div>

<div class="row form-group">
  <div class="col-lg-12">
  <button type="submit" class="btn btn-primary"><mt:trans phrase="Save"></button>
  </div>
</div>
</form>

<mt:include file="include/footer.tmpl">