<mt:include file="include/header.tmpl">

    <mt:if name="default_widget">
    <div class="default_widget">
        <mt:var name="default_widget" _eval="1">
    </div>
    </mt:if>

<div class="card-group dashboard-widget">
  <mt:unless name="workspace_id">
    <mt:objectloop model="workspace" sort_by="order">
      <div class="card">
        <mt:ignore><img class="card-img-top" src="..." alt="Card image cap"></mt:ignore>
        <div class="card-block">
          <h4 class="card-title"><mt:var name="name" escape></h4>
          <p class="card-text"><mt:var name="description" eval="1"></p>
          <small class="text-muted"><mt:trans phrase="Last Update"> : <mt:var name="last_update" epoch2str="1"></small>
        </div>
        <div class="card-footer">
          <a href="<mt:var name="script_uri">?workspace_id=<mt:var name="id">" class="btn btn-sm btn-primary">
            <mt:trans phrase="Go!">
          </a>
          <mt:ifusercan action="edit" model="workspace" id="$id" workspace_id="$id">
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=workspace&amp;id=<mt:var name="id">&amp;workspace_id=<mt:var name="id">" class="btn btn-sm btn-primary">
            <mt:trans phrase="Settings" params="$object_label">
          </a>
          </mt:ifusercan>
        </div>
      </div>
    </mt:objectloop>
  <mt:else>
    <mt:tables type="display_dashboard">
      <mt:trans phrase="$plural" setvar="object_plural">
      <mt:trans phrase="$label" setvar="object_label">
      <div class="card">
        <mt:ignore><img class="card-img-top" src="..." alt="Card image cap"></mt:ignore>
        <div class="card-block">
          <h4 class="card-title"><mt:var name="object_plural"></h4>
          <p class="card-text"><mt:var name="description" eval="1"></p>
          <small class="text-muted"></small>
        </div>
        <div class="card-footer">
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>&amp;workspace_id=<mt:var name="workspace_id">" class="btn btn-sm btn-primary">
            <mt:trans phrase="List" params="$object_plural">
          </a>
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="name" escape>&amp;workspace_id=<mt:var name="workspace_id">" class="btn btn-sm btn-primary">
            <mt:trans phrase="New" params="$object_label">
          </a>
        </div>
      </div>
    </mt:tables>
  </mt:unless>
</div>
<mt:include file="include/footer.tmpl">