<mt:setvar name="extensions_inline" value="csv" function="push">
<mt:setvar name="extensions_inline" value="xls" function="push">
<mt:setvar name="extensions_inline" value="xlsx" function="push">
<mt:setvar name="extensions_inline" value="doc" function="push">
<mt:setvar name="extensions_inline" value="docx" function="push">
<mt:setvar name="extensions_inline" value="ppt" function="push">
<mt:setvar name="extensions_inline" value="pptx" function="push">
<mt:if name="request.cloned">
<mt:setvarblock name="header_alert_message"><mt:trans phrase="The %s duplicated." params="$label"></mt:setvarblock>
</mt:if>
<mt:include file="include/header.tmpl">
<script src="<mt:var name="prototype_path">assets/js/jquery.lazyload.min.js"></script>
<mt:setvarblock name="include_path">include/edit/screen_header.tmpl</mt:setvarblock>
<mt:include file="$include_path">
<mt:setvarblock name="include_path">include/edit/<mt:var name="model">/screen_header.tmpl</mt:setvarblock>
<mt:include file="$include_path">
<mt:var name="label" setvar="_object_label">
<mt:var name="label" escape setvar="__object_label__">
<mt:var name="model" setvar="_model">
<mt:setvar name="_primary" value="">
<mt:if name="request.edit_revision">
  <div id="alert-revision" class="alert alert-success" tabindex="0">
    <mt:var name="alert_close">
    <span id="alert-revision-message">
    <mt:trans phrase="You are about to edit the revision.">
    </span>
  </div>
<script>
$('#alert-revision').focus();
</script>
</mt:if>

<mt:if name="request.apply_to_master">
  <div id="alert-saved" class="alert alert-info" tabindex="0">
    <mt:var name="alert_close">
    <mt:trans phrase="Revision applied to master.">
  </div>
<script>
$('#alert-saved').focus();
</script>
<mt:elseif name="request.saved">
  <div id="alert-saved" class="alert alert-success" tabindex="0">
    <mt:var name="alert_close">
    <mt:trans phrase="Your changes have been saved.">
    <mt:if name="request.need_rebuild">
    <a href="<mt:var name="script_uri">?__mode=rebuild_phase&amp;_type=start_rebuild<mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id">"</mt:if>" class="popup">
    <mt:trans phrase="Publish your site to see these changes take effect.">
    </a>
    </mt:if>
  </div>
<script>
$('#alert-saved').focus();
</script>
</mt:if>
</mt:if>

<mt:if name="_has_workflow">
  <mt:if name="user_id" ne="$object_user_id">
  <div id="header-workflow-message" class="alert alert-danger" role="alert" tabindex="0">
    <mt:var name="alert_close">
  <mt:trans phrase="You are trying to edit %s to be processed by another User." params="$label">
  </div>
  <script>
  $('#header-workflow-message').focus();
  </script>
  </mt:if>
</mt:if>

<mt:setvarblock name="field_required">
  <i class="fa fa-asterisk required" aria-hidden="true"></i>
  <span class="sr-only"><mt:trans phrase="Required"></span>
</mt:setvarblock>

<script src="<mt:var name="prototype_path">assets/js/prototype/inputHTML.js?ts=<mt:date>"></script>
<form action="<mt:var name="script_uri">" method="POST" id="edit-form-main">
<mt:setvarblock name="include_path">include/edit/<mt:var name="model">/form_header.tmpl</mt:setvarblock>
<mt:include file="$include_path">
<input type="hidden" name="__mode" value="save" id="__mode">
<input type="hidden" name="_model" value="<mt:var name="model">">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_screen_id" value="<mt:var name="screen_id">">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="_type" value="edit">
<input type="hidden" name="_preview" id="_preview" value="">
<mt:if name="request.edit_revision">
<input type="hidden" name="_revision_id" value="<mt:var name="request.id" escape>">
<input type="hidden" name="_edit_revision" value="1">
<input type="hidden" name="_apply_to_master" id="_apply_to_master" value="">
</mt:if>
<mt:if name="_revisable">
<input type="hidden" name="_save_as_revision" id="_save_as_revision" value="">
</mt:if>
<input type="hidden" name="_duplicate" value="" id="_duplicate">
<span id="_start_fields"></span>
<mt:objectcontext>
<mt:objectcols type="edit">
<mt:var name="name" setvar="_column_name">
<mt:if name="type" ne="relation">
<mt:objectvar name="$_column_name" escape setvar="value">
</mt:if>
<mt:if name="_column_name" eq="primary">
  <mt:setvar name="_primary_" value="$value">
</mt:if>

<mt:setvarblock name="_hint">
  <mt:if name="hint">
  <<mt:if name="edit" like="checkbox">span<mt:else>p</mt:if> class="text-muted <mt:unless name="edit" like="checkbox">hint-block</mt:unless>">
    <i class="fa fa-question-circle-o" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Hint"></span>
    <mt:var name="hint" trans="1">
  </<mt:if name="edit" like="checkbox">span<mt:else>p</mt:if>>
  </mt:if>
</mt:setvarblock>

<mt:var name="name" escape setvar="__col_name__">
<mt:var name="value" setvar="__col_value__">
<mt:setvar name="ctrl_class" value="">
<mt:if name="edit" like="num">
  <mt:setvar name="ctrl_class" value="e-num">
<mt:elseif name="edit" like="short">
  <mt:setvar name="ctrl_class" value="short">
</mt:if>

<mt:setvar name="readonly" value="0">
<mt:if name="name" eq="modified_on">
  <mt:setvar name="readonly" value="1">
<mt:elseif name="name" eq="created_on">
  <mt:setvar name="readonly" value="1">
<mt:elseif name="autoset">
  <mt:setvar name="readonly" value="1">
</mt:if>

<mt:if name="unchangeable">
  <mt:if name="request.id">
    <mt:setvar name="readonly" value="1">
  </mt:if>
  <mt:if name="_column_name" eq="uuid">
    <mt:setvar name="readonly" value="1">
  </mt:if>
</mt:if>
<mt:if name="menu_type" eq="3">
  <mt:setvar name="readonly" value="1">
</mt:if>
<mt:includeparts screen="edit" type="column" name="$_column_name" model="$model" trim="1" setvar="_include_column">
<mt:if name="__col_name__" ne="id">
<div id="<mt:var name="__col_name__">-wrapper">
</mt:if>
<mt:if name="_include_column">
  <mt:var name="_include_column">
<mt:elseif name="edit" eq="hidden">
  <mt:if name="__col_name__" eq="id">
    <mt:unless name="request._duplicate">
  <input id="<mt:var name="__col_name__">" type="hidden" name="<mt:var name="__col_name__">" value="<mt:var name="request.id" escape>">
    <mt:else>
  <input id="_duplicate_from" type="hidden" name="_duplicate_from" value="<mt:var name="value">">
    </mt:unless>
  <mt:else>
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
  <input id="<mt:var name="__col_name__">" type="hidden" name="<mt:var name="__col_name__">" value="<mt:var name="value">">
  </mt:if>
<mt:elseif name="edit" eq="primary">

<mt:setvar name="_primary" value="$value">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 input-group-lg">
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <input id="<mt:var name="__col_name__">" type="text" class="form-control watch-changed" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      aria-label="<mt:var name="label" escape>" <mt:if name="readonly">readonly</mt:if>>
  <mt:if name="permalink">
  <div class="input-group copy-url copy-url-permalink">
  <input type="text" class="form-control form-control-sm clipboard-url" id="__permalink-clipboard"
  value="<mt:var name="permalink">">
  <button data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="Copy to Clipboard">" type="button" class="input-group-addon copy-clipboard" data-clipboard-target="#__permalink-clipboard"><i class="fa fa-clipboard" aria-hidden="true" aria-label="<mt:trans phrase="Copy to Clipboard">"></i></button>
  <button id="__view-permalink" data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="View">" type="button" class="input-group-addon"><i class="fa fa-external-link" aria-hidden="true" aria-label="<mt:trans phrase="View">"></i></button>
  </div>
  <mt:setvar name="permalink" value="">
<script>
$('#__view-permalink').click(function(){
    var permalink = $('#__permalink-clipboard').val();
    window.open( permalink, '_blank');
});
</script>
  </mt:if>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="languages">
<!--TODO-->
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-2">
    <mt:loop name="languages">
    <mt:if name="__first__">
    <select class="form-control short custom-select" id="<mt:var name="__col_name__">" name="<mt:var name="__col_name__">" <mt:if name="readonly">tabindex="-1" readonly onmousedown="return false;" onkeydown="return false;"</mt:if>>
    </mt:if>
      <option value="<mt:var name="__value__">" <mt:if name="value" eq="$__value__">selected</mt:if>><mt:var name="__value__" translate="1"></option>
    <mt:if name="__last__">
    </select>
    </mt:if>
    </mt:loop>
      <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="file">

<mt:ignore>Reset Variables</mt:ignore>
<mt:setvar name="class" value="">
<mt:setvar name="asset_url" value="">
<mt:setvar name="thumbnail" value="">
<mt:setvar name="file_meta" value="">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 input-group-lg">
<mt:assetproperty name="$name" model="$model" property="class" setvar="class">
<mt:assetproperty name="$name" model="$model" property="url" setvar="asset_url">
<mt:assetthumbnail type="default" name="$name" model="$model" dynamic="1" setvar="thumbnail">
<mt:unless name="class">
<mt:if name="thumbnail">
  <mt:setvar name="class" value="image">
  <mt:else>
  <mt:setvar name="class" value="$options">
</mt:if>
</mt:unless>
<mt:setvar name="preview_width" value="128">
<mt:assetproperty name="$name" model="$model" property="image_width" setvar="image_width">
<mt:if name="image_width">
<mt:if name="image_width" lt="$preview_width">
  <mt:setvar name="preview_width" value="$image_width">
</mt:if>
</mt:if>
<mt:assetproperty name="$name" model="$model" property="file_name" setvar="file_name">
<mt:if name="file_name">
<mt:assetproperty name="$name" model="$model" property="url" setvar="asset_url">
<mt:setvarblock name="file_meta">
    <b><mt:trans phrase="Name"></b> :
      <mt:assetproperty name="$name" model="$model" property="file_name"><br>
    <b><mt:trans phrase="Size"></b> :
      <mt:assetproperty name="$name" model="$model" property="file_size" format_size="1"><br>
    <b><mt:trans phrase="Type"></b> :
      <mt:assetproperty name="$name" model="$model" property="mime_type">
    <mt:if name="class" eq="image">
    <br>
    <b><mt:trans phrase="Width"></b> :
      <mt:assetproperty name="$name" model="$model" property="image_width">px<br>
    <b><mt:trans phrase="Height"></b> : 
      <mt:assetproperty name="$name" model="$model" property="image_height">px
    </mt:if>
</mt:setvarBlock>
</mt:if>

<mt:ignore>TODO: top of template</mt:ignore>

<mt:setvarblock name="file_meta_tmpl">
    <b><mt:trans phrase="Name"></b> :
      file_name<br>
    <b><mt:trans phrase="Size"></b> :
      file_size<br>
    <b><mt:trans phrase="Type"></b> :
      mime_type
</mt:setvarBlock>
<mt:setvarblock name="file_image_tmpl">
    <br>
    <b><mt:trans phrase="Width"></b> :
      image_widthpx<br>
    <b><mt:trans phrase="Height"></b> : 
      image_heightpx
</mt:setvarBlock>
    <div class="alert alert-success hidden" id="<mt:var name="__col_name__">-alert" role="alert" tabindex="0">
      <button onclick="$('#<mt:var name="__col_name__">-alert').hide();" type="button" id="header-alert-close" class="close" aria-label="<mt:trans phrase="Detach">">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="<mt:var name="__col_name__">-alert-message"><mt:trans phrase="The file has successfully uploaded. The uploaded file will not be reflected until you save this page."></span>
    </div>

<mt:assetproperty name="$name" model="$model" property="image_width" thumbnail_height="$preview_width" setvar="thumbnail_height">
<div id="drop-<mt:var name="__col_name__">">
<i id="icon-<mt:var name="__col_name__">" class="btn fa <mt:if name="class" eq="image">fa-file-image-o<mt:elseif name="class" eq="pdf">fa-file-pdf-o<mt:elseif name="class" eq="video">fa-file-video-o<mt:elseif name="class" eq="audio">fa-file-audio-o<mt:else>fa-file-o</mt:if> fa-3x" aria-hidden="true"></i>
  <img class="<mt:unless name="class" eq="image">hidden</mt:unless>
    <mt:unless name="file_name"> hidden</mt:unless> preview-file-field lazy"
    id="image_preview-<mt:var name="__col_name__">"
    src="<mt:var name="prototype_path">assets/img/spacer.gif"
    data-original="<mt:var name="thumbnail">" <mt:if name="thumbnail_height">height="<mt:assetproperty name="$name" model="$model" property="image_width" thumbnail_height="$preview_width">"</mt:if> width="<mt:var name="preview_width">" alt="<mt:trans phrase="Preview">">
    <a href="javascript:void(0);"
        id="popover-<mt:var name="__col_name__">"><i class="btn fa fa-info-circle fa-2x" aria-hidden="true" aria-label="<mt:trans phrase="Properties">"></i></a>
    <mt:objectvar name="$name" setvar="value">
    <mt:ignore>TODO:not Image</mt:ignore>
      &nbsp; <a id="inline-<mt:var name="__col_name__">" target="_blank" class="btn btn-secondary <mt:unless name="value">hidden</mt:unless>" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model">&amp;id=<mt:var name="request.id" escape>&amp;view=<mt:var name="__col_name__">&amp;_screen_id=<mt:var name="screen_id"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:trans phrase="View"></a>
      <a id="download-<mt:var name="__col_name__">" class="btn btn-secondary <mt:unless name="value">hidden</mt:unless>" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model">&amp;id=<mt:var name="request.id" escape>&amp;view=<mt:var name="__col_name__">&amp;download=1&amp;_screen_id=<mt:var name="screen_id"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:trans phrase="Download"></a>
      <mt:setvarblock name="attach_key">request.<mt:var name="__col_name__">-magic</mt:setvarblock>
      <mt:unless name="readonly">
        <button type="button" id="edit-<mt:var name="__col_name__">" class="btn btn-primary<mt:unless name="value"> hidden</mt:unless><mt:unless name="class" eq="image"> hidden</mt:unless>" data-toggle="modal" data-target="#modal"
        data-href="<mt:var name="script_uri">?__mode=edit_image&amp;_model=<mt:var name="model">&amp;id=<mt:var name="request.id" escape>&amp;view=<mt:var name="__col_name__">&amp;_screen_id=<mt:var name="screen_id"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:trans phrase="Edit..."></button>
      </mt:unless>
    <input id="<mt:var name="__col_name__">-magic" type="hidden" value="<mt:var name="$attach_key" escape>" name="<mt:var name="__col_name__">-magic" class="watch-changed">
    <mt:unless name="readonly">
    <span id="<mt:var name="__col_name__">-chooser" class="btn btn-success fileinput-button">
        <span><mt:trans phrase="Select File..."></span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="<mt:var name="__col_name__">" type="file" name="files"
            onfocus="$('#<mt:var name="__col_name__">-chooser').css('border','2px solid green');"
            onblur="$('#<mt:var name="__col_name__">-chooser').css('border','none');">
    </span>
    </mt:unless>
<mt:setvar name="_asset_file_col" value="0">
<mt:if name="model" eq="asset">
<mt:if name="__col_name__" eq="file">
  <mt:setvar name="_asset_file_col" value="1">
</mt:if>
</mt:if>
<mt:unless name="_asset_file_col">
  <mt:unless name="readonly">
    <span class="form-inline-span-cb <mt:var name="__col_name__">-remove-wrapper hidden">
    <input type="hidden" name="<mt:var name="__col_name__">-remove" value="0">
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="__col_name__">-remove" class="custom-control-input watch-changed"
     type="checkbox" name="<mt:var name="__col_name__">-remove" value="1">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Delete"></span>
    </label>
    </span>
  </mt:unless>
</mt:unless>
  <!-- The global progress bar -->
  <mt:unless name="readonly">
  <div id="progress-<mt:var name="__col_name__">" class="progress">
    <div class="progress-bar progress-bar-success"></div>
  </div>
  <!-- The container for the uploaded files -->
  <div id="files-<mt:var name="__col_name__">" class="files"></div>
  <div class="alt-text <mt:unless name="value">hidden</mt:unless>" id="file-<mt:var name="__col_name__">-label">
    <label id="files-<mt:var name="__col_name__">-label-label" for="files-<mt:var name="__col_name__">-label" class="sr-only"><mt:if name="class" eq="image"><mt:trans phrase="Alternative Text"><mt:else><mt:trans phrase="Label"></mt:if></label>
    <input id="files-<mt:var name="__col_name__">-label" type="text" class="form-control form-control-sm"
           name="<mt:var name="__col_name__">-label" placeholder="<mt:if name="class" eq="image"><mt:trans phrase="Alternative Text"><mt:else><mt:trans phrase="Label"></mt:if>"
           value="<mt:assetproperty name="$name" model="$model" property="label" escape>">
  </div>
  </mt:unless>
  <div class="input-group copy-url" id="clipboard-<mt:var name="__col_name__">-wrapper">
    <input type="text" class="form-control form-control-sm clipboard-url" id="clipboard-<mt:var name="__col_name__">"
           value="<mt:if name="asset_url"><mt:var name="asset_url"><mt:else><mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model">&amp;id=<mt:var name="request.id" escape>&amp;view=<mt:var name="__col_name__">&amp;_screen_id=<mt:var name="screen_id"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if></mt:if>">
    <button data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="Copy to Clipboard">" type="button" class="input-group-addon copy-clipboard" data-clipboard-target="#clipboard-<mt:var name="__col_name__">"><i class="fa fa-clipboard" aria-hidden="true" aria-label="<mt:trans phrase="Copy to Clipboard">"></i></button>
    <button id="view-<mt:var name="__col_name__">" data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="View">" type="button" class="input-group-addon"><i class="fa fa-external-link" aria-hidden="true" aria-label="<mt:trans phrase="View">"></i></button>
  </div>
</div>
<script>
var file_<mt:var name="__col_name__">_selected;
var file_<mt:var name="__col_name__">_class = '<mt:var name="class">';
<mt:if name="file_name">
file_<mt:var name="__col_name__">_selected = true;
$('.<mt:var name="__col_name__">-remove-wrapper').show();
</mt:if>
$('body').on('click', function (e) {
    //did not click a popover toggle or popover
    $('#popover-<mt:var name="__col_name__">').popover('hide');
});
var file_meta_tmpl = '<mt:var name="file_meta_tmpl" strip_linefeeds="1">';
var file_image_tmpl = '<mt:var name="file_image_tmpl" strip_linefeeds="1">';
$('#view-<mt:var name="__col_name__">').click(function(){
    var viewlink = $('#clipboard-<mt:var name="__col_name__">').val();
    window.open( viewlink, '_blank');
});
<mt:if name="file_meta">
$('#popover-<mt:var name="__col_name__">').popover({
    title: "<mt:trans phrase="Properties">",
    content: "<mt:var name="file_meta" strip_linefeeds="1">",
    placement: "right",
    html: true
});
<mt:else>
$('#popover-<mt:var name="__col_name__">').hide();
$('#clipboard-<mt:var name="__col_name__">-wrapper').hide();
$('#image_preview-<mt:var name="__col_name__">').hide();
</mt:if>
$('#<mt:var name="__col_name__">-remove').change(function(){
    if ( $(this).prop('checked') ) {
        if (! confirm( '<mt:trans phrase="Are you sure you want to delete the file? Delete is reflected when saving this page.">' ) ) {
            $(this).prop('checked',!$(this).prop('checked'));
            return;
        }
    }
    $('#files-<mt:var name="__col_name__">').toggle();
    $('#files-<mt:var name="__col_name__">-label').toggle();
    $('#popover-<mt:var name="__col_name__">').toggle();
    $('#clipboard-<mt:var name="__col_name__">-wrapper').toggle();
    $('#download-<mt:var name="__col_name__">').toggle();
    $('#inline-<mt:var name="__col_name__">').toggle();
    if ( file_<mt:var name="__col_name__">_class == 'image' ) {
        $('#image_preview-<mt:var name="__col_name__">').toggle();
        $('#edit-<mt:var name="__col_name__">').toggle();
    }
});
var DropZone<mt:var name="__col_name__"> = document.getElementById('drop-<mt:var name="__col_name__">');
<mt:if name="readonly">
$('#drop-<mt:var name="__col_name__">').css('border','1px solid <mt:if name="user_control_border"><mt:var name="user_control_border" escape><mt:else>#ccc</mt:if>');
$('#drop-<mt:var name="__col_name__">').css('margin','1px');
$('#drop-<mt:var name="__col_name__">').css('padding','8px');
<mt:else>
DropZone<mt:var name="__col_name__">.addEventListener('dragover', function (event) {
    $('#drop-<mt:var name="__col_name__">').css('background-color','#ddf');
});
DropZone<mt:var name="__col_name__">.addEventListener('dragleave', function (event) {
    $('#drop-<mt:var name="__col_name__">').css('background-color','#fff');
});
$('#drop-<mt:var name="__col_name__">').css('border','3px dashed <mt:if name="user_control_border"><mt:var name="user_control_border" escape><mt:else>#ccc</mt:if>');
$('#drop-<mt:var name="__col_name__">').css('margin','1px');
$('#drop-<mt:var name="__col_name__">').css('padding','8px');
/*jslint unparam: true */
/*global window, $ */
$(function () {
    'use strict';
    var url = '<mt:var name="script_uri">?__mode=upload&_model=<mt:var name="model">&_screen_id=<mt:var name="screen_id">&name=<mt:var name="__col_name__">';
    $('#<mt:var name="__col_name__">').fileupload({
        url: url,
        dataType: 'json',
        dropZone: $("#drop-<mt:var name="__col_name__">"),
        done: function (e, data) {
            if (!data.result.files) {
                var error = data.result.message;
                $('#progress-<mt:var name="__col_name__"> .progress-bar').css(
                    'width', 0
                );
                alert("<mt:trans phrase="An error occurred while uploading.">"+' (' + error + ')');
                return;
            }
            file_<mt:var name="__col_name__">_selected = true;
            $.each(data.result.files, function (index, file) {
                $('#files-<mt:var name="__col_name__">').html('');
                $('#download-<mt:var name="__col_name__">').show();
                $('#file-<mt:var name="__col_name__">-label').show();
                $('#<mt:var name="__col_name__">-magic').val(file.magic);
                var file_name = escape_html( decodeURI(file.name) );
                var file_class = escape_html( file.class );
                if (file_class == 'image') {
                    $('#edit-<mt:var name="__col_name__">').show();
                } else {
                    $('#edit-<mt:var name="__col_name__">').hide();
                }
                $('#inline-<mt:var name="__col_name__">').show();
                $('<p/>').text(file_name).appendTo('#files-<mt:var name="__col_name__">');
                file_<mt:var name="__col_name__">_class = file_class;
                if (file_class == 'image') {
                    $('#files-<mt:var name="__col_name__">-label').attr( 'placeholder', '<mt:trans phrase="Alternative Text">' );
                } else {
                    $('#files-<mt:var name="__col_name__">-label').attr( 'placeholder', '<mt:trans phrase="Label">' );
                }
                if (! $('#files-<mt:var name="__col_name__">-label').val() ) {
                    $('#files-<mt:var name="__col_name__">-label').val( file_name );
                }
                if (file_class == 'image') {
                    $('#image_preview-<mt:var name="__col_name__">').show();
                    $('#image_preview-<mt:var name="__col_name__">').prop('src','data:'+file.type+';base64,'+file.thumbnail);
                    if(file.width < <mt:var name="preview_width"> ){
                        $('#image_preview-<mt:var name="__col_name__">').prop('width',file.width);
                        $('#image_preview-<mt:var name="__col_name__">').prop('height',file.height);
                    } else {
                        $('#image_preview-<mt:var name="__col_name__">').prop('width',<mt:var name="preview_width">);
                        $('#image_preview-<mt:var name="__col_name__">').removeAttr('height');
                    }
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-pdf-o');
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-o');
                    $('#icon-<mt:var name="__col_name__">').addClass('fa-file-image-o');
                    // fa-file-pdf-o
                } else if (file_class == 'pdf') {
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-o');
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-image-o');
                    $('#icon-<mt:var name="__col_name__">').addClass('fa-file-pdf-o');
                } else {
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-pdf-o');
                    $('#icon-<mt:var name="__col_name__">').removeClass('fa-file-image-o');
                    $('#icon-<mt:var name="__col_name__">').addClass('fa-file-o');
                }
                if (file_class != 'image') {
                    $('#image_preview-<mt:var name="__col_name__">').hide();
                }
                var file_size = file.size;
                if ( file_size >= 1048576 ) {
                    file_size = Math.round( ( file_size / 1048576 )*10 )/10 + 'MB';
                } else if ( file_size >= 1024 ) {
                    file_size = Math.round( ( file_size / 1024 )*10 )/10 + 'KB';
                } else {
                    file_size = file_size + 'Byte';
                }
                var prop_tmpl = '<mt:var name="file_meta_tmpl" strip_linefeeds="1">';
                prop_tmpl = prop_tmpl.replace('file_name', file_name);
                prop_tmpl = prop_tmpl.replace('file_size', file_size);
                prop_tmpl = prop_tmpl.replace('mime_type', file.type);
                var image_tmpl = '<mt:var name="file_image_tmpl" strip_linefeeds="1">';
                if (file_class == 'image') {
                    image_tmpl = image_tmpl.replace('image_width', file.width);
                    image_tmpl = image_tmpl.replace('image_height', file.height);
                    prop_tmpl = prop_tmpl + image_tmpl;
                }
                $('#clipboard-<mt:var name="__col_name__">-wrapper').show();
                $('#clipboard-<mt:var name="__col_name__">').val('<mt:var name="script_uri">?__mode=view&_type=edit&_model=<mt:var name="model">&id=<mt:var name="request.id" escape>&view=<mt:var name="__col_name__">&_screen_id=<mt:var name="screen_id"><mt:if name="workspace_id">&workspace_id=<mt:var name="workspace_id"></mt:if>');
                $('#popover-<mt:var name="__col_name__">').show();
                $('#popover-<mt:var name="__col_name__">').popover('dispose');
                $('#popover-<mt:var name="__col_name__">').popover({
                    title: "<mt:trans phrase="Properties">",
                    content: prop_tmpl,
                    placement: "right",
                    html: true
                });
                if('<mt:var name="model">' == 'asset' && '<mt:var name="__col_name__">' == 'file' ) {
                    if ( $('#label').val() == '' ) {
                        $('#label').val(file_name);
                    }
                    $('#file_name').val(file_name);
                    $('#file_ext').val(file.extension);
                    $('#mime_type').val(file.type);
                    $('#class').val(file_class);
                    $('#size').val(file.size);
                    $('#_object_size').html(file_size);
                    if (file_class == 'image') {
                        $('#image_width').val(file.width);
                        $('#image_height').val(file.height);
                        $('#_object_width').html(file.width+'px');
                        $('#_object_height').html(file.height+'px');
                    } else {
                        $('#image_width').val('');
                        $('#image_height').val('');
                        $('#_object_width').html('');
                        $('#_object_height').html('');
                    }
                }
                if ( file.resized != true ) {
                    $('#<mt:var name="__col_name__">-alert-message').html('<mt:trans phrase="The file has successfully uploaded. The uploaded file will not be reflected until you save this page.">');
                } else {
                    $('#<mt:var name="__col_name__">-alert-message').html('<mt:trans phrase="It has been reduced because it exceeds the maximum size of the image. The uploaded file will not be reflected until you save this page.">');
                }
                $('#<mt:var name="__col_name__">-alert').show();
                $('#<mt:var name="__col_name__">-alert').focus();
                $('#progress-<mt:var name="__col_name__"> .progress-bar').css(
                    'width', 0
                );
                $('#drop-<mt:var name="__col_name__">').css('background-color','#fff');
                $('.<mt:var name="__col_name__">-remove-wrapper').show();
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress-<mt:var name="__col_name__"> .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
</mt:if>
</script>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="checkbox">
<div class="row form-group">
  <div class="col-lg-2">
    <mt:if name="not_null"><mt:var name="field_required"></mt:if>
  </div>
  <div class="col-lg-10">
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <input type="hidden" name="<mt:var name="__col_name__">" value="0">
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="__col_name__">" class="custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="<mt:var name="__col_name__">" value="1" <mt:if name="value">checked</mt:if>>
        <span class="custom-control-indicator<mt:if name="readonly"> disabled-cb</mt:if>"></span>
        <span class="custom-control-description"> 
        <mt:var name="label" escape></span>
    </label>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" like="color">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="color" <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      <mt:if name="readonly">readonly</mt:if> class="watch-changed form-control color-picker">
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" like=":">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-<mt:if name="edit" like="select">3<mt:else>10</mt:if>">
    <mt:if name="edit" like="reference">
    <mt:getobjectname id="$value" type="$edit" escape>
    <input type="hidden" id="<mt:var name="__col_name__">" name="<mt:var name="__col_name__">" value="<mt:var name="value">">
    </mt:if>
    <mt:if name="edit" like="relation">
      <mt:if name="edit" like="__any__">
        <mt:include file="include/edit/relation_any.tmpl">
      <mt:elseif name="edit" like="relation:asset:label:dialog">
        <mt:include file="include/edit/relation_asset.tmpl">
      <mt:elseif name="edit" like="relation:attachmentfile:">
        <mt:if name="type" eq="int">
            <mt:include file="include/edit/reference_attachmentfile.tmpl">
        <mt:else>
            <mt:include file="include/edit/relation_attachmentfile.tmpl">
        </mt:if>
      <mt:else>
        <mt:var name="edit" split=":" setvar="edit_props">
        <mt:var name="edit_props[1]" setvar="rel_model">
        <mt:var name="edit_props[2]" setvar="rel_col">
        <mt:var name="edit_props[3]" setvar="rel_type">
          <mt:if name="edit" like="radio">
            <mt:if name="rel_type" eq="radio">
              <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
              <mt:objectloop model="$rel_model" sort_by="order" include_draft="1" workspace_id="$workspace_id">
              <mt:if name="__first__">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio"
                  <mt:if name="type" eq="int">
                    <mt:unless name="__col_value__">checked</mt:unless><mt:else>
                    <mt:count name="$__rel_name__" setvar="__obj_count">
                    <mt:unless name="__obj_count">checked</mt:unless>
                  </mt:if> name="<mt:var name="__col_name__">" value="">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><mt:trans phrase="Unspecified"></span>
              </label>
              </mt:if>
              <label class="custom-control custom-radio">
                <input class="custom-control-input watch-changed" type="radio"
                  <mt:if name="type" eq="int"><mt:if name="__col_value__" eq="$id">checked</mt:if>
                    <mt:else><mt:ifinarray name="$__rel_name__" value="$id">checked </mt:ifinarray></mt:if>
                    name="<mt:var name="__col_name__">" value="<mt:var name="id">">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><mt:if name="$rel_col"><mt:var name="$rel_col" escape><mt:else>null(id:<mt:var name="id">)</mt:if></span>
              </label>
              </mt:objectloop>
            </mt:if>
          <mt:elseif name="edit" like="hierarchy">
            <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
            <mt:if name="type" eq="relation">
              <mt:setvartemplate name="nestable_obj_list">
              <mt:setvar name="__hierarchy_out" value="0">
              <mt:var name="$__rel_name__" index="0" setvar="relation_primary_id">
              <mt:nestableobjects model="$rel_model" parent_id="$_parent_id">
                <mt:if name="__first__"><ul class="nestableobjects-list"></mt:if>
                  <li>
                    <button style="padding:0px 5px" id="<mt:var name="__col_name__">_id_<mt:var name="id">" type="button" class="<mt:var name="__col_name__">_primary_chooser btn btn-sm btn-outline-secondary">
                      <i class="fa <mt:if name="id" eq="$relation_primary_id">fa fa-star<mt:else>fa-check</mt:if>" style="<mt:if name="id" eq="$relation_primary_id">margin-right:0px;color:#00a;<mt:else>margin-right:3px;color:#777;font-size:70%</mt:if>" aria-hidden="true"></i>
                      <span class="sr-only"><mt:trans phrase="Unspecified"></span>
                    </button>
                    &nbsp;
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox"
                        id="<mt:var name="__col_name__">_cb_<mt:var name="id">"
                        class="custom-control-input watch-changed" name="<mt:var name="__col_name__">[]" value="<mt:var name="id">" <mt:ifinarray array="$__rel_name__" value="$id">checked</mt:ifinarray>>
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><mt:if name="$rel_col"><mt:var name="$rel_col" escape><mt:else>null(id:<mt:var name="id">)</mt:if>
                      </span>
                    </label>
                    <mt:if name="has_children">
                      <mt:var name="id" setvar="_parent_id">
                      <mt:var name="nestable_obj_list">
                    </mt:if>
                  </li>
                <mt:if name="__last__"></ul><mt:setvar name="__hierarchy_out" value="1"></mt:if>
              </mt:nestableobjects>
              <mt:unless name="__hierarchy_out">
                <script>
                  $('#<mt:var name="__col_name__">-wrapper').hide();
                </script>
              </mt:unless>
              </mt:setvartemplate>
            <mt:else>
              <mt:setvartemplate name="nestable_obj_list">
              <mt:nestableobjects model="$rel_model" parent_id="$_parent_id">
                <mt:if name="__first__"><ul>
                  <mt:unless name="_parent_id">
                  <li class="nestable-unspecified">
                  <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" <mt:unless name="__col_value__">checked</mt:unless> name="<mt:var name="__col_name__">" value="">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"><mt:trans phrase="Unspecified"></span>
                  </label>
                  </li>
                  </mt:unless>
                </mt:if>
                
                  <li <mt:unless name="__index__">class="nestable-first"</mt:unless>>
                    <label class="custom-control custom-radio">
                      <input class="custom-control-input watch-changed" type="radio" <mt:if name="__col_value__" eq="$id">checked</mt:if> name="<mt:var name="__col_name__">" value="<mt:var name="id">">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description"><mt:if name="$rel_col"><mt:var name="$rel_col" escape><mt:else>null(id:<mt:var name="id">)</mt:if></span>
                    </label>
                    <mt:if name="has_children">
                      <mt:var name="id" setvar="_parent_id">
                      <mt:var name="nestable_obj_list">
                    </mt:if>
                  </li>
                <mt:if name="__last__"></ul></mt:if>
              </mt:nestableobjects>
              </mt:setvartemplate>
            </mt:if>
            <div class="relation_nestable_list">
              <mt:setvar name="_parent_id" value="0">
              <mt:var name="nestable_obj_list">
              <input type="hidden" value="<mt:var name="relation_primary_id" escape>" id="<mt:var name="__col_name__">_primary_id" name="<mt:var name="__col_name__">_primary_id">
                <mt:if name="edit" like="hierarchy">
                <script>
                var orig_selected_id;
                var selected_id = '<mt:var name="relation_primary_id" escape>';
                $('.<mt:var name="__col_name__">_primary_chooser').click(function(){
                    orig_selected_id = $(this).attr('id');
                    selected_id = orig_selected_id.replace( '<mt:var name="__col_name__">_id_', '' );
                    $('#<mt:var name="__col_name__">_primary_id').val( selected_id );
                    $('.<mt:var name="__col_name__">_primary_chooser').each(function(){
                        if ( $(this).prop('id') == orig_selected_id ) {
                            $(this).children('i').css('color', '#00a');
                            $(this).children('i').css('font-size', '100%');
                            $(this).children('i').prop('class', 'fa fa-star');
                            $(this).children('i').css('margin-right', '0px');
                            $(this).children('span').css('color', '#000');
                            $(this).children('span').html('<mt:trans phrase="Specified">');
                        } else {
                            $(this).children('i').css('color', '#777');
                            $(this).children('i').css('font-size', '70%');
                            $(this).children('i').css('margin-right', '4px');
                            $(this).children('i').prop('class', 'fa fa-check');
                            $(this).children('span').css('color', '#777');
                            $(this).children('span').html('<mt:trans phrase="Unspecified">');
                        }
                    });
                    $('#<mt:var name="__col_name__">_cb_' + selected_id ).prop('checked', true );
                    return false;
                });
                $('input[name="<mt:var name="__col_name__">[]"]').change(function(){
                    if ( $(this).prop('checked') == false ) {
                        if ( selected_id == $(this).val() ) {
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('color', '#777');
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('font-size', '70%');
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').prop('class', 'fa fa-check');
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('margin-right', '4px');
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('span').css('color', '#777');
                            $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('span').html('<mt:trans phrase="Unspecified">');
                            $('#<mt:var name="__col_name__">_primary_id').val('');
                            selected_id = null;
                            $('.<mt:var name="__col_name__">_primary_chooser').each(function(){
                                var cBox_id = $(this).attr('id');
                                cBox_id = cBox_id.replace( '<mt:var name="__col_name__">_id_', '' );
                                if ( $('#<mt:var name="__col_name__">_cb_' + cBox_id).prop('checked') ) {
                                    if (! selected_id ) {
                                        $('#<mt:var name="__col_name__">_primary_id').val(cBox_id);
                                        selected_id = cBox_id;
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('i').css('color', '#00a');
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('i').css('font-size', '100%');
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('i').prop('class', 'fa fa-star');
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('i').css('margin-right', '0px');
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('span').css('color', '#000');
                                        $('#<mt:var name="__col_name__">_id_' + cBox_id).children('span').html('<mt:trans phrase="Specified">');
                                    }
                                }
                            });
                        }
                    } else if (! selected_id ) {
                        $('#<mt:var name="__col_name__">_primary_id').val($(this).val());
                        selected_id = $(this).val();
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('color', '#00a');
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('font-size', '100%');
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').prop('class', 'fa fa-star');
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('i').css('margin-right', '0px');
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('span').css('color', '#000');
                        $('#<mt:var name="__col_name__">_id_' + $(this).val()).children('span').html('<mt:trans phrase="Specified">');
                    }
                });
                </script>
                </mt:if>
            </div>
          <mt:elseif name="edit" like="select">
            <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
            <mt:setvar name="__options_out" value="">
            <select id="<mt:var name="__col_name__">" class="form-control custom-select short watch-changed" name="<mt:var name="__col_name__">">
              <mt:objectloop model="$rel_model" sort_by="order" include_draft="1" workspace_id="$workspace_id">
              <mt:if name="readonly">
              <mt:if name="type" eq="int">
                <mt:setvar name="__options_out" value="1">
                <option selected value="<mt:var name="id">"><mt:if name="$rel_col"><mt:var name="$rel_col" trans="$translate" escape><mt:else>null(id:<mt:var name="id">)</mt:if></option>
              <mt:else>
                <mt:ifinarray name="$__rel_name__" value="$id">
                  <mt:setvar name="__options_out" value="1">
                <option selected value="<mt:var name="id">"><mt:if name="$rel_col"><mt:var name="$rel_col" trans="$translate" escape><mt:else>null(id:<mt:var name="id">)</mt:if></option>
                </mt:ifinarray>
              </mt:if>
              <mt:else>
                <mt:if name="__first__">
                  <option value=""><mt:trans phrase="Unspecified"></option>
                </mt:if>
                <option <mt:if name="type" eq="int">
                  <mt:if name="__col_value__" eq="$id">selected</mt:if><mt:else>
                  <mt:ifinarray name="$__rel_name__" value="$id">selected </mt:ifinarray></mt:if>
                  value="<mt:var name="id">"><mt:if name="$rel_col"><mt:var name="$rel_col" trans="$translate" escape><mt:else>null(id:<mt:var name="id">)</mt:if></option>
              </mt:if>
              <mt:if name="__last__">
              <mt:if name="readonly">
                <mt:unless name="__options_out">
                <option value="">
                  <mt:trans phrase="Unspecified">
                </option>
                </mt:unless>
              </mt:if>
              </mt:if>
              </mt:objectloop>
            </select>
          <mt:elseif name="edit" like="dialog">
            <mt:if name="type" eq="relation">
            <mt:setvar name="has_thumbnail" value="">
            <mt:ifhasthumbnail model="$rel_model">
              <mt:ifusercan model="$rel_model" action="list" workspace_id="$workspace_id">
                <mt:setvar name="has_thumbnail" value="1">
              </mt:ifusercan>
            </mt:ifhasthumbnail>
              <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
              <ul id="<mt:var name="__col_name__">" class="relation-list">
                <li <mt:if name="$__rel_name__">style="display:none" </mt:if>class="badge badge-edit-tmpl badge-default badge-relation" id="<mt:var name="__col_name__">-none">
                <span><mt:trans phrase="(None selected)">&nbsp;</span>
                </li>
                <li style="margin-right: 4px" class="hidden badge badge-edit-tmpl badge-default badge-relation badge-draggable" id="<mt:var name="__col_name__">-tmpl">
                <mt:if name="has_thumbnail">
                <div class="assets-child-thumb" data-model="<mt:var name="rel_model" escape>"></div>
                </mt:if>
                <span><mt:trans phrase="Default"></span>
                <mt:unless name="readonly">
                <button type="button" class="btn btn-secondary btn-sm close-sm detach-relation" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
                  <span aria-hidden="true">&times;</span>
                </button>
                </mt:unless>
                <input type="hidden" name="<mt:var name="__col_name__">[]" value="">
                </li>
              <mt:setvarblock name="selected_ids"><mt:loop name="$__rel_name__" glue=","><mt:var name="__value__"></mt:loop></mt:setvarblock>
              <mt:loop name="$__rel_name__">
                <li class="<mt:var name="__col_name__">-child badge badge-edit-tmpl badge-default badge-relation badge-draggable">
                <mt:if name="has_thumbnail">
                <div class="assets-child-thumb" data-model="<mt:var name="rel_model" escape>" data-id="<mt:var name="__value__" escape>" style="background-image:url('<mt:var name="script_uri">?__mode=get_thumbnail&amp;square=1&amp;_model=<mt:var name="rel_model" escape>&amp;id=<mt:var name="__value__" escape>')"></div>
                </mt:if>
                <span>
                  <mt:getobjectname id="$__value__" type="$edit" escape setvar="_related_object">
                  <mt:var name="_related_object" trans="$translate">
                </span>
                <mt:unless name="readonly">
                <button type="button" class="btn btn-secondary btn-sm close-sm detach-relation" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
                  <span aria-hidden="true">&times;</span>
                </button>
                </mt:unless>
                <input type="hidden" name="<mt:var name="__col_name__">[]" value="<mt:var name="__value__" escape>"></li>
              </mt:loop>
              </ul>
              <mt:unless name="readonly">
              <button type="button" id="add_<mt:var name="__col_name__">" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
                data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:ifworkspacemodel model="$rel_model"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if></mt:ifworkspacemodel>&amp;dialog_view=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;select_add=1"><mt:trans phrase="Add..."></button>
              <script>
                var <mt:var name="__col_name__">_add_objects = [];
                $('#<mt:var name="__col_name__">').sortable ( {
                    stop: function( evt, ui ) {
                        editContentChanged = true;
                    }
                });
                $('#<mt:var name="__col_name__">').ksortable();
              </script>
              </mt:unless>
            <mt:else>
              <mt:ifhasthumbnail model="$rel_model">
                <mt:ifusercan model="$rel_model" action="list" workspace_id="$workspace_id">
                  <mt:setvar name="has_thumbnail" value="1">
                </mt:ifusercan>
              </mt:ifhasthumbnail>
              <mt:setvar name="thumbnail" value="">
              <mt:getobjectname id="$__col_value__" type="$edit" wants="id" escape setvar="__col_value__">
              <mt:assetthumbnail id="$__col_value__" type="default" square="1" model="$rel_model" data_uri="1" setvar="thumbnail">
              <ul class="relation-list">
              <li class="<mt:var name="__col_name__">-child badge badge-default badge-relation">
              <div <mt:unless name="thumbnail">style="display:none"</mt:unless> id="<mt:var name="__col_name__">-img" class="assets-child-thumb" data-model="<mt:var name="rel_model" escape>" data-id="<mt:var name="__col_value__" escape>" style="background-image:url('<mt:var name="thumbnail">')"></div>
              <span id="<mt:var name="__col_name__">-label">
              <mt:if name="__col_value__">
                <mt:getobjectname id="$__col_value__" type="$edit" escape>
              <mt:else>
                <mt:trans phrase="(None selected)">&nbsp;
              </mt:if>
              </span>
              <mt:unless name="readonly">
              <button id="<mt:var name="__col_name__">-close" type="button" class="btn btn-secondary btn-sm close-sm detach-relation <mt:unless name="__col_value__"> hidden</mt:unless>" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
                <span aria-hidden="true">&times;</span>
              </button>
              </mt:unless>
              <input id="<mt:var name="__col_name__">" type="hidden" name="<mt:var name="__col_name__">" value="<mt:var name="__col_value__" escape>">
              </li>
              </ul>
              <mt:unless name="readonly">
              <button type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
                data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;single_select=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;selected_ids=<mt:ignore>todo<mt:var name="__col_value__" escape></mt:ignore>"><mt:trans phrase="Select..."></button>
              </mt:unless>
            </mt:if>
          <mt:elseif name="edit" like="checkbox">
            <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
            <mt:objectloop model="$rel_model" sort_by="order" include_draft="1" workspace_id="$workspace_id">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input watch-changed" name="<mt:var name="__col_name__">[]" value="<mt:var name="id">" <mt:ifinarray array="$__rel_name__" value="$id">checked</mt:ifinarray>>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description"><mt:if name="$rel_col"><mt:if name="translate"><mt:var name="$rel_col" translate escape><mt:else><mt:var name="$rel_col" escape></mt:if><mt:else>null(id:<mt:var name="id">)</mt:if></span>
              </label>
            </mt:objectloop>
          </mt:if>
      </mt:if>
    </mt:if>
    <div><mt:var name="_hint"></div>
  </div>
</div>

<mt:elseif name="edit" like="text">
<mt:if name="edit" eq="textarea">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
  <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
<textarea id="<mt:var name="__col_name__">" rows="<mt:if name="options"><mt:var name="options" escape><mt:else>5</mt:if>"
  class="form-control watch-changed" name="<mt:var name="__col_name__">"
  <mt:if name="readonly">readonly</mt:if>><mt:var name="value"></textarea>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="richtext">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
  <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
<textarea id="<mt:var name="__col_name__">" rows="<mt:if name="options"><mt:var name="options" escape><mt:else>10</mt:if>"
  class="form-control richtext" name="<mt:var name="__col_name__">"
  <mt:if name="readonly">readonly</mt:if>><mt:var name="value"></textarea>
    <mt:var name="_hint">
  </div>
</div>

<mt:else>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
  <mt:if name="name" eq="extra_path">
    <mt:unless name="request.id">
      <mt:unless name="request.workspace_id">
        <mt:getoption key="extra_path" escape setvar="value">
      <mt:else>
        <mt:var name="workspace_extra_path" escape setvar="value">
      </mt:unless>
      <mt:if name="model_out_path">
        <mt:var name="model_out_path" escape add_slash setvar="model_out_path">
        <mt:setvar name="value" value="$model_out_path" append="1">
      </mt:if>
    </mt:unless>
  </mt:if>
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <mt:if name="__col_name__" eq="uuid">
      <mt:if name="request._duplicate">
        <mt:setvar name="value" value="">
      </mt:if>
    </mt:if>
    <input id="<mt:var name="__col_name__">" type="<mt:if name="disp_option" like="num">number<mt:else>text</mt:if>" class="form-control watch-changed <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      <mt:if name="readonly">readonly</mt:if>>
    <mt:var name="_hint">
  </div>
</div>
</mt:if>

<mt:elseif name="edit" like="num">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <input id="<mt:var name="__col_name__">" type="number" class="form-control watch-changed <mt:var name="ctrl_class">" name="<mt:var name="__col_name__">" value="<mt:var name="value">"
      <mt:if name="readonly">readonly</mt:if>>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="password">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
    <mt:if name="request.id">
      <mt:trans phrase="New %s" params="$label" escape>
    <mt:else>
      <mt:var name="label" escape>
    </mt:if>
    <mt:unless name="request.id">
    <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </mt:unless>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="password" class="form-control watch-changed" name="<mt:var name="__col_name__">" value="<mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape></mt:unless></mt:unless>">
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">-verify">
    <mt:if name="request.id">
      <mt:trans phrase="New %s (Confirm)" params="$label" escape>
    <mt:else>
      <mt:trans phrase="%s (Confirm)" params="$label" escape>
    </mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">-verify" type="password" class="form-control watch-changed" name="<mt:var name="__col_name__">-verify" value="">
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="datetime">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <mt:setvarblock name="date_col_name"><mt:var name="__col_name__">_date</mt:setvarblock>
    <mt:setvarblock name="time_col_name"><mt:var name="__col_name__">_time</mt:setvarblock>
    <input id="<mt:var name="__col_name__">" type="date" class="form-control date watch-changed" name="<mt:var name="__col_name__">_date" value="<mt:if name="value"><mt:var name="value" format_ts="Y-m-d"><mt:else><mt:var name="$date_col_name" escape></mt:if>"
      <mt:if name="readonly">readonly</mt:if>>
    &nbsp;
    <span class="time-input"><input id="<mt:var name="__col_name__">_time" type="time" step="1" class="form-control time watch-changed" name="<mt:var name="__col_name__">_time" value="<mt:if name="value"><mt:var name="value" format_ts="H:i:s"><mt:else><mt:var name="$time_col_name" escape></mt:if>"
      <mt:if name="readonly">readonly</mt:if>></span>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" eq="date">

<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <mt:setvarblock name="date_col_name"><mt:var name="__col_name__">_date</mt:setvarblock>
    <mt:setvarblock name="time_col_name"><mt:var name="__col_name__">_time</mt:setvarblock>
    <input id="<mt:var name="__col_name__">" type="date" class="form-control date watch-changed" name="<mt:var name="__col_name__">_date" value="<mt:if name="value"><mt:var name="value" format_ts="Y-m-d"><mt:else><mt:var name="$date_col_name" escape></mt:if>"
      <mt:if name="readonly">readonly</mt:if>>
    &nbsp;
    <span class="time-input"><input id="<mt:var name="__col_name__">_time" type="hidden" step="1" class="form-control time watch-changed" name="<mt:var name="__col_name__">_time" value="<mt:if name="value"><mt:var name="value" format_ts="H:i:s"><mt:else><mt:var name="$time_col_name" escape></mt:if>"
      <mt:if name="readonly">readonly</mt:if>></span>
    <mt:var name="_hint">
  </div>
</div>

<mt:elseif name="edit" like="selection">

<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape="1">
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-<mt:if name="disp_edit" eq="select">3<mt:else>10</mt:if>">
    <mt:if name="disp_edit" eq="checkbox">
    <mt:var name="__col_value__" split="," setvar="_options_arr">
    <mt:loop name="_options_loop">
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input watch-changed" name="<mt:var name="__col_name__">[]" value="<mt:var name="__value__" escape>" <mt:ifinarray value="$__value__" array="$_options_arr">checked</mt:ifinarray>>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description"> <mt:trans phrase="$__value__" escape></span>
        </label>
    </mt:loop>
    <mt:elseif name="disp_edit" eq="radio">
      <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="__col_value__"></mt:unless></mt:unless>
    <mt:loop name="_options_loop">
      <mt:if name="__first__">
      <mt:unless name="not_null">
      <label class="custom-control custom-radio">
        <input class="custom-control-input watch-changed" type="radio" <mt:unless name="__col_value__">checked</mt:unless> name="<mt:var name="__col_name__">" value="">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:trans phrase="Unspecified"></span>
      </label>
      </mt:unless>
      </mt:if>
      <mt:if name="options">
      <label class="custom-control custom-radio">
        <input class="custom-control-input watch-changed" type="radio"
         <mt:unless name="__col_value__"><mt:if name="not_null"><mt:if name="__counter__" eq="1">checked</mt:if></mt:if></mt:unless>
         <mt:if name="__col_value__" eq="$__value__">checked</mt:if> name="<mt:var name="__col_name__">" value="<mt:var name="__value__" escape>">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"><mt:trans phrase="$__value__" escape></span>
      </label>
      </mt:if>
    </mt:loop>
    <mt:elseif name="disp_edit" eq="select">
      <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="__col_value__"></mt:unless></mt:unless>
    <select id="<mt:var name="__col_name__">" class="form-control custom-select short watch-changed" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
      <mt:if name="__first__">
      <mt:unless name="not_null">
        <option value="">
          <mt:trans phrase="Unspecified">
        </option>
      </mt:unless>
      </mt:if>
        <option <mt:if name="__col_value__" eq="$__value__">selected</mt:if> value="<mt:var name="__value__" escape>"><mt:trans phrase="$__value__" escape></option>
    </mt:loop>
    </select>
    </mt:if>
    <mt:if name="_hint"><span style="white-space:nowrap"><mt:var name="_hint"></span></mt:if>
  </div>
</div>
<mt:else>
</mt:if>
<mt:if name="__col_name__" ne="id">
</div>
</mt:if>

<mt:if name="__last__">

<mt:setvar name="field__exists" value="0">
<mt:fieldloop workspace_id="$workspace_id" model="$model" id="$object_id">
<mt:if name="__first__">
<mt:fieldloop workspace_id="$workspace_id" model="$model" id="$object_id" build_field="1">
<mt:if name="field__display"><mt:var name="field__html"></mt:if>
</mt:fieldloop>
<div id="_field_html_area"></div>
<mt:fieldloop workspace_id="$workspace_id" model="$model" id="$object_id">
<mt:if name="field__menu"><mt:setvar name="field__exists" value="1"></mt:if>
</mt:fieldloop>
</mt:if>
</mt:fieldloop>

<mt:if name="field__exists">
<mt:fieldloop workspace_id="$workspace_id" model="$model" id="$object_id">
<mt:if name="__first__">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="_field_selector">
      <mt:trans phrase="Fields">
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <select id="_field_selector" class="form-control">
      <option value=""><mt:trans phrase="(None selected)"></option>
</mt:if>
      <mt:if name="field__menu"><option id="_selector-field-<mt:var name="field__id" escape>" data-multiple="<mt:var name="field__multiple" escape>" class="<mt:var name="field__basename" escape> field-<mt:var name="field__basename" escape>-option" value="<mt:var name="field__id" escape>"><mt:var name="field__name" trans="1" escape></option></mt:if>
<mt:if name="__last__">
    </select>
    <button type="button" id="_field_chooser" class="btn btn-primary btn-sm"><mt:trans phrase="Add"></button>
  </div>
</div>
<script>
$('#_field_chooser').click(function(){
    var field_id = $('#_field_selector').val();
    var wrapper_id;
    if ( field_id ) {
        var basename = $('#_field_selector option:selected').prop('class');
        basename = basename.split(' ');
        basename = basename[0];
        var str = '__mode=get_field_html<mt:if name="workspace_id">&workspace_id=<mt:var name="workspace_id"></mt:if>&_model=<mt:var name="model">';
        str += '&magic_token=<mt:var name="magic_token">&id=' + field_id;
        wrapper_id = '#field-' + basename + '-wrapper';
        if ( $(wrapper_id).length ) {
            str += '&field__out=1';
        }
        $.post('<mt:var name="script_uri">', str,
            function ( data ) {
                if ( data.status != 200 ) {
                    alert( data.message );
                    return;
                }
                var dom_obj = $(data.html);
                if ( $(wrapper_id).length ) {
                    $(wrapper_id).append(dom_obj);
                } else {
                    var html = $('#_field_html_area').html();
                    $('#_field_html_area').append(dom_obj);
                }
                var multiple = $('#_field_selector option:selected').attr('data-multiple');
                if ( multiple == 0 ) {
                    $('#_selector-field-' + field_id ).attr('hidden','hidden');
                    $('#_field_selector').val('');
                }
            },
            'json'
        );
    } else {
        alert('<mt:trans phrase="You did not select any field.">');
    }
});
</script>
</mt:fieldloop>
</mt:if>

<mt:if name="_revisable">
<mt:var name="object_rev_object_id" setvar="object_rev_object_id">
<input type="hidden" name="rev_object_id" value="<mt:var name="object_rev_object_id">">
<mt:tablehascolumn column="status">
<mt:else>
<input type="hidden" name="rev_type" value="<mt:var name="object_rev_type">">
</mt:tablehascolumn>
</mt:if>

<mt:setvarblock name="modified_col">
  <div class="col-lg-2">
    <mt:trans phrase="Modified">
  </div>
  <div class="col-lg-2">
    <mt:getobjectname id="$object_modified_by" type="reference:user:nickname" escape>
  </div>
  <div class="col-lg-8">
    <mt:var name="object_modified_on">
<mt:unless name="request._duplicate">
<mt:if name="can_revision">
<mt:if name="_revision_count">
&nbsp;
  <i class="fa fa-code-fork" aria-hidden="true"></i> <mt:trans phrase="%s revision(s)" params="$_revision_count">
  <button type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
    data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;single_select=1&amp;revision_select=1&amp;rev_object_id=<mt:var name="object_id" escape>"><mt:trans phrase="Select..."></button>
  <a target="_blank" class="btn btn-secondary btn-sm dialog-chooser"
    href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;revision_select=1&amp;rev_object_id=<mt:var name="object_id" escape>">
    <i class="fa fa-external-link-square" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Manage"></span>
  </a>
</mt:if>
</mt:if>
</mt:unless>
  </div>
</mt:setvarblock>

<mt:if name="model" eq="user">
<mt:isadmin>
<mt:else>
  <mt:setvar name="_auditing" value="0">
</mt:isadmin>
</mt:if>

<mt:if name="_auditing">
<div class="row form-group">
  <div class="col-lg-2">
    <mt:trans phrase="Created">
  </div>
  <div class="col-lg-2">
    <mt:unless name="object_created_by">
      <mt:if name="request.id">
        <mt:trans phrase="System">
      </mt:if>
    <mt:else>
      <mt:getobjectname id="$object_created_by" type="reference:user:nickname" escape>
    </mt:unless>
  </div>
  <div class="col-lg-8">
     <mt:var name="object_created_on">
  </div>
</div>

<div class="row form-group">
  <mt:var name="modified_col">
</div>

<mt:if name="can_revision">
<mt:if name="_revisable">
<div class="row form-group">
  <div class="col-lg-2">
    <mt:trans phrase="Change Note">
  </div>
  <div class="col-lg-10">
    <input type="text" class="form-control form-control-sm watch-changed" name="rev_note" value="<mt:var name="object_rev_note">">
  </div>
</div>
</mt:if>
</mt:if>

</mt:if>
</mt:if>
</mt:objectcols>
</mt:objectcontext>

<hr>

<mt:setvarblock name="include_path">include/edit/<mt:var name="model">/form_footer.tmpl</mt:setvarblock>
<mt:include file="$include_path">

<div class="row form-group edit-action-bar">
  <div class="col-lg-12">
  <mt:if name="menu_type" ne="3">
    <button type="button" id="__save" class="__save btn btn-primary"><mt:trans phrase="Save"></button>
  </mt:if>
  <mt:if name="request.id">
    <mt:unless name="request._duplicate">
      <mt:unless name="model" eq="user">
        <mt:if name="can_delete">
          <button type="button" id="__delete" class="btn btn-secondary"><mt:trans phrase="Delete"></button>
        </mt:if>
      </mt:unless>
    </mt:unless>
  </mt:if>
  <mt:if name="_has_mapping">
    <button type="button" id="__preview" class="btn btn-secondary"><mt:trans phrase="Preview"></button>
    <mt:if name="model" eq="template">
    <mt:if name="__can_rebuild_this_template">
      <input type="hidden" name="__can_rebuild_this_template" value="1">
      <input type="hidden" name="__save_and_publish" value="" id="__save_and_publish_flg">
      <button type="button" name="__save_and_publish" id="__save_and_publish" value="1" class="btn btn-secondary btn-sm"><mt:trans phrase="Save &amp; Publish"></button>
    </mt:if>
    </mt:if>
  </mt:if>
<mt:if name="_revisable">
  <mt:if name="request.edit_revision">
  <mt:ifusercan id="$object_rev_object_id" model="$_model">
    <script>
    $('#alert-revision-message').html( '<span><mt:trans phrase="You are about to edit the revision. To apply this revision to the master click the \'Apply to Master\' button."></span>' );
    </script>
    <button type="button" id="__apply_to_master" class="btn btn-secondary btn-sm"><mt:trans phrase="Apply to Master"></button>
  </mt:ifusercan>
  </mt:if>
  <mt:unless name="request.edit_revision">
  <mt:if name="request.id"><mt:if name="can_revision">
    <button type="button" id="__save_as_revision" class="btn btn-secondary btn-sm"><mt:trans phrase="Save as Revision"></button>
  </mt:if></mt:if>
  </mt:unless>
</mt:if>
<mt:if name="request.id">
  <mt:if name="model" eq="table">
    <button type="button" id="__export" class="btn btn-danger btn-sm"><mt:trans phrase="Export"></button>
  </mt:if>
</mt:if>
<mt:if name="menu_type" ne="3">
<mt:if name="model" ne="table">
  <mt:if name="model" ne="user">
    <mt:unless name="request.edit_revision"><mt:if name="can_duplicate">
    <button type="button" id="__duplicate" class="btn btn-secondary btn-sm"><mt:trans phrase="Save &amp; Duplicate"></button>
    </mt:if></mt:unless>
  </mt:if>
</mt:if>
</mt:if>
  </div>
</div>

<script>
var editContentChanged = false;
<mt:if name="forward_params">
editContentChanged = true;
<mt:else>
setTimeout(setEditContentChanged, 500);
function setEditContentChanged () {
    editContentChanged = false;
}
</mt:if>
$('.watch-changed').change(function(){
    editContentChanged = true;
});
$(function(){
    $(window).on('beforeunload', function() {
        if (! editContentChanged ) {
            $(window).off('beforeunload');
            return;
        }
        return '<mt:trans phrase="Are you sure you want to move from this page? The changes you made are not reflected.">';
    });
});
$('#__preview').click(function(){
    $('#_preview').val(1);
    $('#edit-form-main').attr('target', '_blank');
    $('#edit-form-main').submit();
});
$('#__duplicate').click(function(){
    if ( !confirm('<mt:trans phrase="Are you sure you want to save this %s and duplicate?" params="$label">') ) {
        return false;
    }
    $('#_duplicate').val(1);
    <mt:if name="model" eq="asset">
    if (! file_file_selected || ! $('#label').val() ) {
        alert( '<mt:trans phrase="File and Label are required.">' );
        return false;
    }
    </mt:if>
    $(this).attr('disabled', true);
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
});
<mt:if name="model" ne="table">
$('.__save').click(function(){
    <mt:if name="model" eq="asset">
    if (! file_file_selected || ! $('#label').val() ) {
        alert( '<mt:trans phrase="File and Label are required.">' );
        return false;
    }
    </mt:if>
    $(this).attr('disabled', true);
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
</mt:if>
$('#__save_and_publish').click(function(){
    $('#_preview').val('');
    $('#__save_and_publish_flg').val(1);
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
<mt:if name="_revisable">
$('#__save_as_revision').click(function(){
    if ( !confirm('<mt:trans phrase="Are you sure you want to save this %s as a revision instead of a master?" params="$label">') ) {
        return false;
    }
    <mt:if name="model" eq="asset">
    if (! file_file_selected || ! $('#label').val() ) {
        // TODO label
        alert( '<mt:trans phrase="File and Label are required.">' );
        return false;
    }
    </mt:if>
    $('#_save_as_revision').val('1');
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
<mt:if name="request.edit_revision">
$('#__apply_to_master').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to apply this revision to master?"><mt:tablehascolumn column="status">(<mt:trans phrase="The status at apply will be status of the master."> ( <mt:trans phrase="Current status of Master"> : <mt:statustext status="$_master_status" text="1" model="$model">) )</mt:tablehascolumn>')){
        return false;
    }
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#id').val('<mt:var name="object_rev_object_id">');
    $('#_apply_to_master').val('1');
    $('#edit-form-main').submit();
    return false;
});
</mt:if>
</mt:if>
</script>
<mt:if name="model" eq="table">
  <mt:if name="request.id">
<script>
var error_message;
$('.__save').click(function(){
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $(window).off('beforeunload');
    $('#__validation').val('1');
    $('#__mode').prop('value', 'save');
    var str = $('#edit-form-main').serialize();
    $.post('<mt:var name="script_uri">', str,
        function ( data ) {
            if ( data.status == 500 ) {
                error_message = data.error;
                setTimeout(ajax_failed, 1);
                return;
            }
            $('#__validation').val('');
            $('.__save').attr('disabled', true);
            $('#edit-form-main').submit();
            return false;
        },
        'json'
    );
    return false;
});
function ajax_failed () {
    alert('<mt:trans phrase="An error occurred.">'+error_message);
}
</script>
<mt:else>
<script>
$('.__save').click(function(){
    $(this).attr('disabled', true);
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
});
</script>
  </mt:if>
</mt:if>
</form>
<script>
$('.badge-draggable').mouseenter(function() {
    $(this).css('cursor','move');
});
$(function () {
    var clipboard = new Clipboard('.copy-clipboard');
    $('[data-toggle="tooltip"]').tooltip();
});
$(document).on('click','.close-sm', function() {
    if ( $(this).hasClass('detach-field') ) {
        if(!confirm('<mt:trans phrase="Are you sure you want to remove this field?">')){
            return false;
        }
        var basename = $(this).attr('data-basename');
        var fieldLabel = $('#field-' + basename + '-wrapper .row .col-label:first').html();
        $(this).parent().parent().parent().parent().remove();
        $('#field-' + basename + '-wrapper .row .col-label:first').html(fieldLabel);
        $('#field-' + basename + '-wrapper .row:first').removeClass('multiple-field');
        if ( $('#field-' + basename + '-wrapper .row').length == 0 ) {
            $('#field-' + basename + '-wrapper').remove();
            $('#_field_selector .' + basename ).removeAttr('hidden');
        }
    } else {
        var confirm_msg = '<mt:trans phrase="Are you sure you want to detach this relation?">';
        if ( $(this).hasClass('detach-file') ) {
            confirm_msg = '<mt:trans phrase="Are you sure you want to remove this attachment file?">';
        }
        if(!confirm(confirm_msg)){
            return false;
        }
        var session_id = $(this).attr('data-session');
        if ( session_id ) {
            $.get('<mt:var name="script_uri">?__mode=flush_session&id=' + session_id ,{})
            .fail(function() {
              window.alert('An error occurred while removing temporary data.');
            });
        }
        var id = $(this).prop('id');
        if ( id ) {
            var spl = id.split('-');
            $('#' + spl[0] + '-label').html('<mt:trans phrase="(None selected)">');
            $('#' + spl[0] + '-img').hide();
            $('#' + spl[0]).val('');
            $(this).hide();
            return false;
        }
        var name = $(this).attr('data-name');
        counter = 0;
        $('#'+name).children('li').each(function(){
            if (! $(this).prop('id') ) {
                counter++;
            }
        });
        if ( counter == 1 ) {
            $('#'+name+'-none').show();
        }
        $(this).parent().remove();
    }
});
$('#__delete').click(function(){
    if(! confirm('<mt:trans phrase="Are you sure you want to remove %s?" params="$label">')){
        return false;
    }
    $('#_preview').val('');
    $('#edit-form-main').removeAttr('target');
    $('#__mode').val('delete');
    $(window).off('beforeunload');
    $('#edit-form-main').submit();
    return false;
});
<mt:if name="request.id">
  <mt:if name="model" eq="table">
$('#__export').click(function(){
    if(! confirm('<mt:trans phrase="Are you sure you want to export %s?" params="$label">')){
        return false;
    }
    $('#__mode').prop('value', 'export_scheme');
    $('#edit-form-main').submit();
    return false;
});
  </mt:if>
</mt:if>
$('#modal').on('shown.bs.modal', function(event) {
    $('#modal-iframe').focus();
});
</script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="assets/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="assets/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="assets/js/jquery.fileupload.js"></script>
<script>
<mt:if name="_field_sort_order">
$(function() {
    var field_sort_order = '<mt:var name="_field_sort_order" escape>';
    var field_loop = field_sort_order.split(',');
    var options_objects = [];
    for ( var i = 0;  i < field_loop.length; i++ ) {
        var label_name = 'label-' + field_loop[i];
        options_objects.push( $('#' + label_name ) );
    }
    $('#_start_options').after(options_objects);
    reorder_fields();
});
</mt:if>
<mt:objectcontext>
<mt:objectcols type="edit">
  <mt:if name="name" ne="id">
    <mt:setvar name="_checked" value="0">
    <mt:if name="edit" eq="primary"><mt:setvar name="_checked" value="1"></mt:if>
    <mt:ifinarray array="$display_options" value="$name">
      <mt:setvar name="_checked" value="1">
    </mt:ifinarray>
    <mt:ifinarray array="disable_edit_options" value="$name">
      <mt:setvar name="_checked" value="1">
    </mt:ifinarray>
    <mt:unless name="_checked">
$('#<mt:var name="name">-wrapper').hide();
    </mt:unless>
  </mt:if>
</mt:objectcols>
</mt:objectcontext>
<mt:fieldloop workspace_id="$workspace_id" model="$model" id="$object_id">
<mt:setvar name="_field_display" value="0">
<mt:setvarblock name="_fieldbasename">field-<mt:var name="field__basename" escape></mt:setvarblock>
<mt:ifinarray array="$display_options" value="$_fieldbasename">
<mt:setvar name="_field_display" value="1">
</mt:ifinarray>
<mt:if name="field__required">
<mt:setvar name="_field_display" value="1">
</mt:if>
<mt:unless name="_field_display">
$('#field-<mt:var name="field__basename">-wrapper').hide();
$('.' + 'field-<mt:var name="field__basename" escape>-option' ).hide();
</mt:unless>
</mt:fieldloop>
</script>

<script>
$(function() {
    $('img.lazy').lazyload();
});
;(function(){
    var event_type = 'mouseenter mousemove mouseleave';
    if(/Android/.test(navigator.userAgent) || /(iPhone)|(iPad)|(iPod)/.test(navigator.userAgent)){
        event_type = 'touchstart touchmove touchend';
    }
    $(document).on(event_type,'.assets-child-thumb',function(e){
        var $preview = $('#asset-preview-popup');
        var $this = $(this);
        var dataModel = $(this).attr('data-model');
        var type = e.type;
        var e_orig = e;
        if(e.originalEvent.touches){
            e_orig = e.originalEvent.touches[0];
        }
        if($this.closest('.ui-sortable-helper').length){
            $preview.hide();
            return;
        }
        var set_position = function($preview,e_orig){
            var size   = 200;
            var offset = 10;
            var pos_x = e_orig.clientX + offset;
            var pos_y = e_orig.clientY + offset;
            if((pos_x + size) > $(window).width()){
                pos_x = e_orig.clientX - (size + offset);
            }
            if((pos_y + size) > $(window).height()){
                pos_y = e_orig.clientY - (size + offset);
            }
            $preview.css({
                left : pos_x + 'px',
                top  : pos_y + 'px'
            });
        }
        if(type == 'mouseenter' || type == 'touchstart'){
            var thumb = '<mt:var name="script_uri">?__mode=get_thumbnail&_model=' + dataModel + '&id=';
            if(!$preview.length){
                $preview = $('<div>').attr('id','asset-preview-popup').appendTo('body');
            }
            $preview.css('background-image','url(' + thumb + $this.data('id') +')');
            $preview.show();
            $this.css({
                '-moz-user-select': 'none',  
                '-webkit-user-select': 'none', 
                '-ms-user-select': 'none',
                'user-select': 'none'
            });
            set_position($preview,e_orig);
        }else
        if(type == 'mouseleave' || type == 'touchend'){
            $preview.hide();
        }else
        if(type == 'mousemove' || type == 'touchmove'){
            set_position($preview,e_orig);
        }
    });
})();
</script>
<mt:setvarblock name="include_path">include/edit/<mt:var name="model">/footer.tmpl</mt:setvarblock>
<mt:include file="$include_path">
<mt:setvarblock name="include_path">include/edit/screen_footer.tmpl</mt:setvarblock>
<mt:include file="$include_path">
<mt:include file="include/footer.tmpl">