<mt:if name="iframe">
<mt:include file="include/header_iframe.tmpl">

<mt:include file="include/footer_iframe.tmpl">
<mt:else>
<mt:include file="include/header.tmpl">

<mt:include file="include/footer.tmpl">
</mt:if>