<mt:include file="include/header.tmpl">

<style type="text/css">
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 100%; list-style: none; font-size: 14px; line-height: 20px; }
.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }
.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding-left: 10px; min-height: 20px; font-size: 16px; line-height: 20px; }
.dd-handle { display: block; height: 40px; margin: 5px 0; padding: 5px 19px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #333; background: #ddd; }
.dd-item > button { display: block; position: relative; cursor: move; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }
.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 40px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}
.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }
#nestable-menu { padding: 0; margin: 20px 0; }
#nestable-output,
@media only screen and (min-width: 700px) {
    .dd { float: left; width: 100%; }
    .dd + .dd { margin-left: 2%; }
}
.dd-hover > .dd-handle { background: #2ea8e5 !important; }
.dd-content { display: block; height: 40px; margin: 5px 0; padding: 10px 10px 5px 40px; color: #333; text-decoration: none; border: 1px solid #ccc;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-content:hover { background: #ddd; }
.dd-dragel > . > .dd-content { margin: 0; }
. > button { margin-left: 30px; }
.dd--handle {
    position: absolute;
    margin: 0; left: 0; top: 0;
    cursor: move;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #777;
    background: #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd--handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 8px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 28px; font-weight: normal; }
.dd--handle:hover { background: #333; }
.socialite { display: block; float: left; height: 35px; }
</style>

<form action="<mt:var name="script_uri">" method="POST">
<input type="hidden" name="__mode" value="save_hierarchy">
<input type="hidden" name="_model" value="<mt:var name="model">">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">

<mt:setvar name="_parent_id" value="0">
<mt:setvartemplate name="nestable_obj_list">
<mt:nestableobjects model="$model" parent_id="$_parent_id">
<mt:if name="__first__"><ol class="dd-list"></mt:if>
  <li class="dd-item" data-id="<mt:var name="id">">
    <div class="dd-handle dd--handle"><span class="sr-only"><mt:trans phrase="Drag"></span></div>
    <div class="dd-content">
      <mt:var name="object_label" escape>
    </div>
<mt:if name="has_children">
<mt:var name="id" setvar="_parent_id">
  <mt:var name="nestable_obj_list">
</mt:if>
  </li>
<mt:if name="__last__"></ol></mt:if>
</mt:nestableobjects>
</mt:setvartemplate>
<div class="dd" id="nestable">
<mt:var name="nestable_obj_list">
</div>
<hr>
<textarea id="nestable-output" name="_nestable_output" class="hidden"></textarea>
    <button type="submit" id="__save" class="btn btn-primary"><mt:trans phrase="Save"></button>
</form>

<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/js/jquery.nestable.js"></script>
<script>
$(document).ready(function() {
    var updateOutput = function(e) {
        var list   = e.length ? e : $(e.target),
            output = list.data('output');
        if (window.JSON) {
            output.val(window.JSON.stringify(list.nestable('serialize')));
        }
    };
    $('#nestable').nestable()
    .on('change', updateOutput);
    updateOutput($('#nestable').data('output', $('#nestable-output')));
});
</script>

<mt:include file="include/footer.tmpl">
