<mt:include file="include/header.tmpl">

<mt:unless name="request.do_import">

<form action="<mt:var name="script_uri">" method="POST" id="import-form">
<input type="hidden" name="__mode" value="import_objects">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="magic" value="" id="magic">
<input type="hidden" name="do_import" value="1">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="model">
    <mt:trans phrase="Model">
    </label>
  </div>
  <mt:setvar name="display_type" value="display_system">
  <mt:if name="workspace_id">
    <mt:setvar name="display_type" value="display_space">
  </mt:if>
  <div class="col-lg-10 container-fluid">
    <mt:tables permission="1" im_export="1" type="$display_type">
    <mt:if name="__first__">
      <select class="form-control short" name="model" id="model">
    </mt:if>
    <option value="<mt:var name="name" escape>"><mt:var name="label" escape></option>
    <mt:if name="__last__">
      </select>
    </mt:if>
    </mt:tables>
  </div>
</div>
<div class="row form-group">
  <div class="col-lg-2">
    <label for="fileupload">
    <mt:trans phrase="File">
    </label>
  </div>
  <div class="col-lg-10 container-fluid">
    <div id="drop-zone">
    <span id="file-chooser" class="btn btn-success fileinput-button">
        <span><mt:trans phrase="Select File..."></span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files"
            onfocus="$('#file-chooser').css('border','2px solid green');"
            onblur="$('#file-chooser').css('border','none');">
    </span>
    <!-- The global progress bar -->
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <!-- The container for the uploaded files -->
    <div id="files" class="files"></div>
    </div>

<button style="margin-top:20px" type="button" id="save" class="btn btn-primary disabled" disabled><mt:trans phrase="Do Import"></button>

  </div>
</div>
</fotm>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="assets/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="assets/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="assets/js/jquery.fileupload.js"></script>
<script>
var DropZone = document.getElementById('drop-zone');
DropZone.addEventListener('dragover', function (event) {
    $('#drop-zone').css('background-color','#ddf');
});
DropZone.addEventListener('dragleave', function (event) {
    $('#drop-zone').css('background-color','#fff');
});
$('#drop-zone').css('border','3px dashed #ccc');
$('#drop-zone').css('padding','12px');
$('.fileinput-button').css('margin','12px 0px');
$(function () {
    'use strict';
    var url = '<mt:var name="script_uri">?__mode=upload_objects&magic_token=<mt:var name="magic_token">&workspace_id=<mt:var name="workspace_id">';
    $('#fileupload').fileupload({
        url: url,
        dataType: 'json',
        dropZone: $("#drop-zone"),
        done: function (e, data) {
            if (!data.result.files) {
                var error = data.result.message;
                $('#progress .progress-bar').css(
                    'width', 0
                );
                alert("<mt:trans phrase="An error occurred while uploading.">"+' (' + error + ')');
                return;
            }
            $.each(data.result.files, function (index, file) {
                // alert(JSON.stringify(file));
                $('#files').html('');
                $('<p/>').text(file.name).appendTo('#files');
                $('#magic').val(file.magic);
                $('#save').removeClass('disabled');
                $("#save").prop("disabled", false);
            });
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
});
$('#save').click(function(){
    if(!confirm('<mt:trans phrase="Are you sure you want to import this objects?">')){
        return false;
    }
    $(this).attr('disabled', true);
    $('#import-form').submit();
    return false;
});
</script>
<mt:else>
<div id="print-area">
<div class="print-area-content">
<iframe id="print-area-iframe" src="<mt:var name="script_uri">?__mode=import_objects&amp;_type=do_import&amp;workspace_id=<mt:var name="workspace_id">&amp;magic_token=<mt:var name="magic_token">&amp;magic=<mt:var name="request.magic" escape>&amp;model=<mt:var name="request.model" escape>">
</iframe>
</div>
</div>
<script>
endImport = false;
importDone = false;
setInterval(function(){
    if (! endImport ) {
        var iframe_ele = document.getElementById('print-area-iframe').contentWindow.document.documentElement;
        document.getElementById('print-area-iframe').contentWindow.scrollTo( 0, iframe_ele.scrollHeight );
        if ( importDone ) {
            endImport = true;
        }
    }
},100);
</script>
</mt:unless>
<mt:include file="include/footer.tmpl">