<mt:if name="request.do_insert">
<mt:setvarblock name="html_tag">
<mt:loop name="insert_loop">
<mt:if name="class" eq="image">
<img alt="<mt:var name="label" escape>"
<mt:if name="align" eq="right">
 style="float: right; margin: 0 0 20px 20px;"
<mt:elseif name="align" eq="left">
 style="float: left; margin: 0 20px 20px 0;"
<mt:elseif name="align" eq="center">
 style="text-align: center; display: block; margin: 0 auto 20px;"
</mt:if>
 src="<mt:var name="url" escape>"
 width="<mt:var name="width" escape>"
 height="<mt:var name="height" escape>">
<mt:else>
<a href="<mt:var name="url" escape>"><mt:var name="label" escape> (<mt:var name="file_size" escape format_size="1">)</a>
</mt:if>
</mt:loop>
</mt:setvarblock>
<script>
    var html = "<mt:var name="html_tag" strip_linefeeds="1" encode_js="1">";
    var editor = window.parent.tinyMCE.activeEditor;
    if ( editor ) {
        editor.insertContent(html);
    } else {
        window.parent.surroundHTML('file', '<mt:var name="request.insert">', html );
    }
    var relAssets = window.parent.$('#assets');
    if ( relAssets.length ) {
        var selected_ids = [];
        window.parent.$("input[name='assets[]']").each(function(index, element){
            if ( element.value ) {
                selected_ids.push(element.value);
            }
        });
        var target_control = 'assets';
        <mt:loop name="insert_loop">
        if (selected_ids.indexOf("<mt:var name="id">") == -1){
            window.parent.$('#'+target_control+'-none').hide();
            var _li = window.parent.$('#'+target_control+'-tmpl');
            var newli = _li.clone( true ).appendTo('#'+target_control );
            newli.removeClass('hidden');
            var col_value = '<mt:var name="label" escape>';
            var obj_permalink = '<mt:var name="permalink">';
            newli.children('.asset-download-btn').attr( 'href', obj_permalink );
            var fInfo = obj_permalink.split('.');
            var fileExtension = fInfo[fInfo.length-1].toLowerCase();
            var extensionsInline = ['csv', 'xls', 'xlsx', 'doc', 'docx', 'ppt', 'pptx'];
            if (extensionsInline.indexOf(fileExtension) < 0){
                newli.children('.asset-download-btn').attr('target', '_blank');
                newli.children('.asset-download-btn').children('i').removeClass('fa-download');
                newli.children('.asset-download-btn').children('i').addClass('fa-external-link-square');
                newli.children('.asset-download-btn').attr('aria-label','<mt:trans phrase="View">');
            }
            newli.children('.insert-file-id').attr('value','<mt:var name="id">');
            newli.children('.insert-file-name').attr('value',col_value);
            newli.children('.insert-file-name').attr('id','_' + target_control + '_label_' + '<mt:var name="id">');
            newli.children('span').attr('id', '_' + target_control + '_name_' + '<mt:var name="id">');
          <mt:if name="can_edit">
            newli.children('.label_edit_btn').attr('data-name','_' + target_control + '_label_' + '<mt:var name="id">');
            newli.children('.label_edit_btn').attr('data-label', col_value );
          <mt:else>
            newli.children('.label_edit_btn').hide();
          </mt:if>
            newli.children('span').html( col_value );
            newli.removeAttr('id');
            newli.addClass( target_control+'-child');
            newli.children('.assets-child-thumb').attr('data-id','<mt:var name="id">').css('background-image','url(\'<mt:var name="script_uri">?__mode=get_thumbnail&square=1&_model=asset&id=<mt:var name="id">\')');
            newli.children('.assets-child-thumb').show();
            newli.show();
        }
        </mt:loop>
    }
    window.parent.$('#modal').modal('hide');
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
</script>
<mt:else>
<mt:setvar name="body_class" value="insert-asset">
<mt:include file="include/dialog_header.tmpl">

<form action="<mt:var name="script_uri">" method="POST" class="form-inline" id="insert-asset-form">

<input type="hidden" name="__mode" value="insert_asset">
<input type="hidden" name="insert" value="<mt:var name="request.insert" escape>">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_system_filters_option" value="<mt:var name="request._system_filters_option" escape>">
<input type="hidden" name="insert_editor" value="1">
<input type="hidden" name="do_insert" value="1">
<mt:objectloop model="asset">
<mt:if name="__first__"><table class="table">
<thead>
<tr><th class="insert-asset-selector-th"><mt:trans phrase="Insert"></th><th class="insert-asset-preview-th"><mt:trans phrase="Preview"></th><th colspan="2"><mt:trans phrase="Metadata"></th></tr>
</thead>
<tbody id="list_body">
</mt:if>
<tr>
  <td class="insert-asset-selector">
    <label class="custom-control custom-checkbox">
      <input class="custom-control-input" type="checkbox" checked name="id[]" value="<mt:var name="id">">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  </td>
  <td class="insert-asset-preview-wrapper">
    <mt:if name="class" eq="image">
      <img src="<mt:assetthumbnail name="file" data_uri="1" type="default" square="1">" alt="<mt:trans phrase="Preview">" width="100" height="100" class="insert-asset-preview">
      <div class="center-block" style="text-align:center">
      <small class="text-muted"><mt:trans phrase="Width"> : <mt:var name="image_width">
      <br><mt:trans phrase="Height"> : <mt:var name="image_height"></small>
      </div>
    <mt:else>
      <i class="fa-3x fa <mt:if name="class" eq="pdf">fa-file-pdf-o<mt:elseif name="class" eq="video">fa-file-video-o<mt:elseif name="class" eq="audio">fa-file-audio-o<mt:else>fa-file-o</mt:unless></mt:if>" aria-hidden="true"></i>
      <span class="sr-only"><mt:trans phrase="$obj_class"></span>
    </mt:if>
  </td>
  <td>
  <table class="table-inner insert-asset-innner">
<tr>
  <th class="form-inline insert-asset-label">
  <mt:if name="class" eq="image"><mt:trans phrase="Text Alternative"><mt:else><mt:trans phrase="Label"></mt:if>
  &nbsp;
    <label class="custom-control custom-checkbox" style="font-weight:normal;">
      <input class="custom-control-input" type="checkbox" value="1" name="save-label-<mt:var name="id">">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
      <mt:trans phrase="Save as Asset Label">
      </span>
    </label>
  </th>
</tr>
<tr>
  <td class="insert-asset-label">
    <input type="text" class="form-control form-control-sm insert-asset-content" value="<mt:var name="label" escape>" name="asset-label-<mt:var name="id">">
  </td>
</tr>
<mt:if name="class" eq="image">
<tr>
  <th class="form-inline insert-asset-label insert-image-top-margin">
  <mt:trans phrase="Size">
  &nbsp;
    <label class="custom-control custom-checkbox" style="font-weight:normal;">
      <input class="custom-control-input specify-thumb-width" id="thumb-width-<mt:var name="id">" type="checkbox" value="1" name="use-thumb-<mt:var name="id">">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description">
        <mt:trans phrase="Use Thumbnail">
      </span>
    </label>
  </th>
</tr>
<tr class="thumb-width-<mt:var name="id"> hidden">
  <td class="form-inline insert-image-size">
    <label class="insert-asset-content" style="margin-left:4px !important"><mt:trans phrase="Width"> : &nbsp; <input type="number" class="num form-control form-control-sm very-short" value="<mt:assetproperty property="image_width">" name="thumb-width-<mt:var name="id">"> &nbsp; px</label>
  </td>
</tr>
<tr>
  <th class="insert-image-top-margin"><mt:trans phrase="Alignment"></th>
</tr>
<tr>
  <td class="form-inline">
  <label class="custom-control custom-radio" style="margin-left:4px !important">
    <input class="custom-control-input" type="radio" name="insert-align-<mt:var name="id">" value="">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="None"></span>
  </label>
  <label class="custom-control custom-radio" style="margin-left:4px !important">
    <input class="custom-control-input" type="radio" name="insert-align-<mt:var name="id">" value="left">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Left"></span>
  </label>
  <label class="custom-control custom-radio" style="margin-left:4px !important">
    <input class="custom-control-input" type="radio" name="insert-align-<mt:var name="id">" value="center">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Center"></span>
  </label>
  <label class="custom-control custom-radio" style="margin-left:4px !important">
    <input class="custom-control-input" type="radio" name="insert-align-<mt:var name="id">" value="right">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"><mt:trans phrase="Right"></span>
  </label>
</td>
</tr>
</mt:if>
</table>
  </td>
</tr>
<mt:if name="__last__">
</tbody>
<table>
</mt:if>
</mt:objectloop>

  <button id="dialog-cancel-btn" class="btn btn-secondary" type="button"><mt:trans phrase="Cancel"></button>
  <button id="dialog-selector-btn" class="btn btn-primary" type="button"><mt:trans phrase="Insert"></button>

</form>
<script>
$('.specify-thumb-width').change(function() {
    var cell_class = $(this).prop('id');
    if ( $(this).prop('checked') ) {
        $( '.' + cell_class ).show();
    } else {
        $( '.' + cell_class ).hide();
    }
});
$('#list_body tr').mouseover(function() {
    $(this).css('cursor','move');
});
$(document).keydown(evnt_keydown);
function evnt_keydown(e) {
    if ( e.keyCode == 27 ) {
        close_dialog();
    }
}
$('#dialog-selector-btn').click(function() {
    $('#insert-asset-form').submit();
});
$('#dialog-cancel-btn').click(function() {
    close_dialog();
    return false;
});
function close_dialog () {
    window.parent.$('#modal').modal('hide');
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
}
$('#list_body').sortable();
$(":checkbox").keypress(function(e) {
    if ( e.keyCode == 13 ) {
        if ( $(this).prop('checked') ) {
            $(this).prop('checked', false);
        } else {
            $(this).prop('checked', true);
        }
        if ( $(this).hasClass('cb-all-select') ) {
            checked = $(this).prop('checked');
            $("input[name='model[]']").each(function(){
                $(this).prop('checked', checked);
            });
            $('.selector').prop('checked', checked);
        } else {
            set_all_select();
        }
    }
    return false;
});
</script>
<mt:include file="include/dialog_footer.tmpl">
</mt:if>