<mt:include file="include/header.tmpl">

<div id="print-area">
<div class="print-area-content" id="print" style="overflow: auto; padding: 10px;">
</div>
</div>

<mt:include file="include/footer_opened.tmpl">

<script>$("#print").html( $("#print").html() + '' + '<br>' );</script>