<mt:include file="include/header.tmpl">

<mt:if name="request.saved">
  <div id="saved-alert-message" class="alert alert-success" tabindex="0">
    <mt:var name="alert_close">
    <mt:if name="request.action_type" eq="enable">
      <mt:trans phrase="Plugin(s) enabled successfully.">
    <mt:else>
      <mt:trans phrase="Plugin(s) disabled successfully.">
    </mt:if>
  </div>
<script>
$('#saved-alert-message').focus();
</script>
</mt:if>

<div class="table-screen">

<form action="<mt:var name="script_uri">" method="POST">
<input type="hidden" name="__mode" value="manage_plugins">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_type" value="" id="this_type">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">

<mt:setvarblock name="table_header">
  <tr>
<mt:unless name="workspace_id">
  <th class="all-selector cb-col">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="selector custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  </th>
</mt:unless>
  <th><mt:trans phrase="Name"></th>
  <th><mt:trans phrase="Excerpt"></th>
  <th class="short-col"><mt:trans phrase="Version"></th>
  <th><mt:trans phrase="Settings"></th>
</tr>
</mt:setvarblock>

<mt:unless name="workspace_id">
<div class="form-group">
  <button type="submit" class="enable-btn btn btn-primary"><mt:trans phrase="Enable"></button>
  <button type="submit" class="disable-btn btn btn-secondary"><mt:trans phrase="Disable"></button>
</div>
</mt:unless>
<table class="table table-striped table-sm listing-table table-hover">
<thead>
  <mt:var name="table_header">
</thead>
<tbody id="list_body">
<mt:loop name="plugins_loop">
  <mt:var name="__value__" setvar="settings">
  <mt:var name="settings[id]" setvar="plugin_id">
  <mt:unless name="plugin_id">
    <mt:var name="settings[component]" lower_case="1" setvar="plugin_id">
  </mt:unless>
<tr id="line_<mt:var name="plugin_id" escape>">
<mt:unless name="workspace_id">
<th>
  <label class="custom-control custom-checkbox">
    <input id="box_<mt:var name="plugin_id" escape>" type="checkbox" class="custom-control-input" name="plugin_id[]" value="<mt:var name="plugin_id" escape>">
    <span class="custom-control-indicator"></span>
    <span class="custom-control-description"></span>
  </label>
</th>
</mt:unless>
<td>
<div>
<mt:var name="settings[status]" setvar="plugin_status">
<mt:var name="settings[label]" trans="$__key__">
<mt:if name="plugin_status">
<i class="fa fa-check-square" aria-hidden="true"></i>
<span class="sr-only">(<mt:trans phrase="Enabled">)</span>
</mt:if>
</div>
<mt:unless name="workspace_id">
<div class="plugin-switch"><mt:if name="plugin_status">
  <a class="disable-link" href="<mt:var name="script_uri">?__mode=manage_plugins&amp;_type=disable&amp;plugin_id[]=<mt:var name="plugin_id" escape>&amp;magic_token=<mt:var name="magic_token">"><mt:trans phrase="Disable this plugin"></a>
<mt:else>
  <a class="enable-link" href="<mt:var name="script_uri">?__mode=manage_plugins&amp;_type=enable&amp;plugin_id[]=<mt:var name="plugin_id" escape>&amp;magic_token=<mt:var name="magic_token">"><mt:trans phrase="Enable this plugin"></a>
</mt:if>
</div>
</mt:unless>
</td>
<td>
<div><mt:var name="settings[description]" trans="$__key__"></div>
<div><mt:trans phrase="Creator"> : <mt:if name="$settings[author_link]">
  <a target="_blank" href="<mt:var name="settings[author_link]" trans="$__key__">">
</mt:if>
  <mt:var name="$settings[author]" trans="$__key__">
<mt:if name="$settings[author_link]">
  </a>
</mt:if>
<mt:if name="$settings[doc_link]">
  <a target="_blank" href="<mt:var name="settings[doc_link]">" class="badge badge-default plugin-doc-link"><mt:trans phrase="Document"></a>
</mt:if>
</div>
</td>
<td>
<mt:var name="settings[version]" trans="$__key__">
</td>
<td class="very-short">
<mt:if name="plugin_status">
<mt:if name="workspace_id">
<mt:var name="settings[cfg_space]" setvar="has_config">
<mt:else>
<mt:var name="settings[cfg_system]" setvar="has_config">
</mt:if>
<mt:if name="has_config">
  <button type="button"
  class="btn btn-secondary"
  data-toggle="modal" data-target="#modal"
  data-href="<mt:var name="script_uri">?__mode=manage_plugins&amp;workspace_id=<mt:var name="workspace_id">&amp;plugin_id=<mt:var name="plugin_id">&amp;edit_settings=1"><mt:trans phrase="Settings"></button>
</mt:if>
</mt:if>
</td>
</tr>
</mt:loop>
<tfoot>
  <mt:var name="table_header">
</tfoot>
</table>
<mt:unless name="workspace_id">
<div class="form-group">
  <button type="submit" class="enable-btn btn btn-primary"><mt:trans phrase="Enable"></button>
  <button type="submit" class="disable-btn btn btn-secondary"><mt:trans phrase="Disable"></button>
</div>
</mt:unless>
</form>
</div>

<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <iframe></iframe>
    </div>
  </div>
</div>
<script>
var in_link = false;
var is_all  = false;
$('input').mouseover(function() {
    in_link = true;
});
$('input').mouseout(function() {
    in_link = false;
});
$('button').mouseover(function() {
    in_link = true;
});
$('button').mouseout(function() {
    in_link = false;
});
$('a').mouseover(function() {
    in_link = true;
});
$('a').mouseout(function() {
    in_link = false;
});
$('#list_body tr').click(function() {
    if ( in_link ) {
        return true;
    }    
    line_id = $(this).prop('id');
    line = line_id.replace( /line_/, '' );
    checked = $('#box_'+line).prop('checked');
    if ( checked ) {
        $('#box_'+line).prop('checked', false);
    } else {
        $('#box_'+line).prop('checked', true);
    }
    set_all_select();
});
function set_all_select () {
    is_all = true;
    $("input[name='plugin_id[]']").each(function(){
        if ( $(this).prop('checked') == false ) {
            is_all = false;
            return false;
        }
    });
    $('.selector').prop('checked', is_all );
}
$("input[name='plugin_id[]']").change(function(){
    set_all_select();
});
$('.selector').click(function(){
    checked = $(this).prop('checked');
    $("input[name='plugin_id[]']").each(function(){
        $(this).prop('checked', checked);
    });
    $('.selector').prop('checked', checked);
});
var selected_item_count;
function item_checked( count ) {
    selected_item_count = 0;
    var selected = false;
    $("input[name='plugin_id[]']").each(function(){
        if($(this).prop('checked') === true) {
            selected = true;
            if (! count ) {
                return false;
            }
            selected_item_count++;
        }
    });
    if ( count ) {
        return selected_item_count;
    }
    return selected;
}
$('.enable-link').click(function(){
    if(! confirm('<mt:trans phrase="Are you sure you want to enable this plugin?">') ) {
        return false;
    }
});
$('.disable-link').click(function(){
    if(! confirm('<mt:trans phrase="Are you sure you want to disable this plugin?">') ) {
        return false;
    }
});
$('.enable-btn').click(function(){
    if ( item_checked( true ) == 0 ) {
        alert('<mt:trans phrase="You did not select any plugin.">');
        return false;
    }
    if(! confirm('<mt:trans phrase="Are you sure you want to enable plugin(s)?">') ) {
        return false;
    }
    $('#this_type').val( 'enable' );
});
$('.disable-btn').click(function(){
    if ( item_checked( true ) == 0 ) {
        alert('<mt:trans phrase="You did not select any plugin.">');
        return false;
    }
    if(! confirm('<mt:trans phrase="Are you sure you want to disable plugin(s)?">') ) {
        return false;
    }
    $('#this_type').val( 'disable' );
});
</script>
<mt:include file="include/footer.tmpl">