<mt:include file="include/popup_header.tmpl">
<div id="__loader-bg" class="hidden">
  <img src="<mt:var name="prototype_path">assets/img/loading.gif" alt="" width="45">
</div>
<mt:if name="workspace_id">
<mt:var name="workspace_name" setvar="scope_name">
<mt:setvarblock name="scope_link">
<a target="_blank" href="<mt:var name="workspace_url">" class="link-in-alert"><mt:var name="workspace_name"></a>
</mt:setvarblock>
<mt:else>
<mt:var name="appname" setvar="scope_name">
<mt:var name="site_url" setvar="website_url">
<mt:setvarblock name="scope_link">
<a target="_blank" href="<mt:var name="site_url">" class="link-in-alert"><mt:var name="appname"></a>
</mt:setvarblock>
</mt:if>

<mt:if name="next_url">
    <script src="assets/js/pace.min.js"></script>
    <link href="assets/css/pace.css" rel="stylesheet">
<p><mt:trans phrase="Rebuilding dependencies..."></p>
<mt:var name="request.progress" escape setvar="progress">
<div class="pt-progress-bar">
<div class="pt-progress-bar-inner" style="width: <mt:if name="progress"><mt:var name="progress"><mt:else>0</mt:if>%">
</div>
</div>
<script>
setTimeout(function(){
    window.location.href = "<mt:var name="next_url">";
} , <mt:var name="rebuild_interval">);
</script>

<mt:elseif name="rebuild_end">
  <div id="header-alert-message" class="alert alert-success" tabindex="0">
    <mt:trans phrase="The files for %s have been published." params="$scope_link">
    <mt:if name="publish_time">
      <mt:var name="publish_time" sec2hms="1" setvar="_publish_time">
      <mt:trans phrase="Publish time: %s" params="$_publish_time">
    </mt:if>
  </div>

<main class="col-md-12 pt-3">
  <div class="row form-group">
  <button id="close-btn" class="btn btn-primary"><mt:trans phrase="Close"></button>
  <a class="btn btn-secondary" href="<mt:var name="script_uri">?__mode=rebuild_phase&amp;_type=start_rebuild<mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:trans phrase="Publish Again"></a>
  </div>
</main>
<script>
$('#close-btn').click(function(){
    window.open('about:blank','_self').close();
});
$('#header-alert-message').focus();
</script>

<mt:elseif name="rebuild_next">
    <script src="assets/js/pace.min.js"></script>
    <link href="assets/css/pace.css" rel="stylesheet">
<form method="POST" id="rebuild_next" action="<mt:var name="script_uri">">
<input type="hidden" name="__mode" value="rebuild_phase">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_type" value="rebuild_archives">
<input type="hidden" id="next_models" name="next_models" value="<mt:var name="next_models" escape>">
<input type="hidden" name="current_model" value="<mt:var name="current_model" escape>">
<input type="hidden" name="start_time" value="<mt:var name="start_time" escape>">
<input type="hidden" name="request_id" value="<mt:var name="request_id" escape>">
</fotm>
<p class="rebuilt_percent">100%</p>
<div class="pt-progress-bar">
<div class="pt-progress-bar-inner" style="width: 100%">
</div>
</div>

<script>
if ( $('#next_models').val() ) {
    setTimeout(function(){
        $('#rebuild_next').submit();
    } , <mt:var name="rebuild_interval">);
}
</script>

<mt:else>
<mt:unless name="request._type" eq="start_rebuild">
    <script src="assets/js/pace.min.js"></script>
    <link href="assets/css/pace.css" rel="stylesheet">
<form method="POST" id="rebuild_next" action="<mt:var name="script_uri">">
<input type="hidden" name="__mode" value="rebuild_phase">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="ids" value="<mt:var name="rebuild_ids" escape>">
<input type="hidden" name="_return_args" value="<mt:var name="_return_args" escape>">
<input type="hidden" name="_model" value="<mt:var name="_model" escape>">
<input type="hidden" name="apply_actions" value="<mt:var name="apply_actions" escape>">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="next_models" value="<mt:var name="next_models" escape>">
<input type="hidden" name="dependencies" value="<mt:var name="request.dependencies" escape>">
<input type="hidden" name="rebuild_dependencies" value="<mt:var name="rebuild_dependencies" escape>">
<input type="hidden" name="start_time" value="<mt:var name="start_time" escape>">
<input type="hidden" name="request_id" value="<mt:var name="request_id" escape>">
</fotm>

<p class="rebuilt_percent"><mt:var name="rebuilt_percent">%</p>

<div class="pt-progress-bar">
<div class="pt-progress-bar-inner" style="width: <mt:var name="rebuilt_percent">%">
</div>
</div>

<script>
setTimeout(function(){
    $('#rebuild_next').submit();
} , <mt:var name="rebuild_interval">);
</script>

<mt:else>

<main class="col-md-12 pt-3">

<form method="POST" action="<mt:var name="script_uri">" id="rebuild-form-main">
<input type="hidden" name="__mode" value="rebuild_phase">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_type" value="rebuild_archives">
<input type="hidden" name="start_rebuild" value="1">
<input type="hidden" name="request_id" value="<mt:var name="request_id" escape>">
<div class="row form-group" style="padding:7px;">
<mt:unless name="workspace_id">
<mt:setvar name="workspace_id" value="0">
</mt:unless>
<mt:countgroupby model="urlmapping" count="model" group="'workspace_id','model'" workspace_id="$workspace_id" glue="," setvar="all_models"><mt:var name="count_group_by_model"></mt:countgroupby>
<mt:countgroupby model="urlmapping" count="model" group="'workspace_id','model'" workspace_id="$workspace_id">
<mt:if name="__first__">
<select name="next_models" class="form-control">
<option value="<mt:var name="all_models">"><mt:trans phrase="All"></option>
</mt:if>
<option value="<mt:var name="count_group_by_model">"><mt:trans phrase="$count_group_by_model" language="default" setvar="models_label"><mt:trans phrase="$models_label"></option>
<mt:if name="__last__">
</select>
</mt:if>
</mt:countgroupby>
</div>
<div class="row form-group">
<button id="close-btn" class="btn btn-s btn-secondary"><mt:trans phrase="Cancel"></button>
<button id="__do_rebuild" class="btn btn-primary"><mt:trans phrase="Rebuild"></button>
</div>
</fotm>

<script>
$('#__do_rebuild').click(function(){
    $(this).attr('disabled', true);
    // $('#__loader-bg').show();
    $('#rebuild-form-main').submit();
    return false;
});
</script>

<script>
$('#close-btn').click(function(){
    window.open('about:blank','_self').close();
});
</script>
</main>
</mt:unless>
</mt:if>

<mt:include file="include/popup_footer.tmpl">