<mt:setvarblock name="html_head">
  <style>pre{ margin: 20px; padding: 20px; background-color: #f4f4ff; color: #009 }</style>
</mt:setvarblock>
<mt:include file="include/header.tmpl">
<mt:var name="html">
<mt:include file="include/footer.tmpl">