<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="name" escape>">
    <mt:var name="label" escape="1">
    <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-3">
        <mt:var name="edit" split=":" setvar="edit_props">
        <mt:var name="edit_props[1]" setvar="rel_model">
        <mt:var name="edit_props[2]" setvar="rel_col">
        <mt:var name="edit_props[3]" setvar="rel_type">
        <select class="form-control short" name="<mt:var name="__col_name__">">
        <mt:if name="workspace_id">
          <mt:setvarblock name="table_option">'display_space','1'</mt:setvarblock>
        <mt:else>
          <mt:setvarblock name="table_option">'display','1'</mt:setvarblock>
        </mt:if>
        <mt:objectloop model="table" sort_by="order" options="$table_option">
        <mt:if name="__first__">
          <option value="">
            <mt:trans phrase="Unspecified" component="Prototype">
          </option>
        </mt:if>
          <option <mt:if name="__col_value__" eq="$id">selected</mt:if> value="<mt:var name="id">"><mt:trans phrase="$label" component="Prototype" escape></option>
        </mt:objectloop>
        </select>
  </div>
</div>