<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape="1">
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10 form-inline">
    <select id="option-date_based" class="form-control short watch-changed" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
      <mt:if name="__first__">
        <option value="">
          <mt:trans phrase="Unspecified">
        </option>
      </mt:if>
        <option <mt:if name="__col_value__" eq="$__value__">selected</mt:if> value="<mt:var name="__value__" escape>"><mt:trans phrase="$__value__" escape></option>
    </mt:loop>
    </select>
    <span class="hidden" id="option-fy_start">
    <label>
    <mt:trans phrase="Start month of fiscal year"> : 
    <select class="form-control short watch-changed" name="fiscal_start">
    <mt:for from="1" to="12">
      <option value="<mt:var name="__counter__">" <mt:if name="object_fiscal_start" eq="$__counter__">selected</mt:if>><mt:var name="__counter__"></option>
    </mt:for>
    </select>
    </label>
    </span>
  </div>
</div>
<script>
$('#option-date_based').change(function(){
    if ($('#option-date_based').val() == 'Fiscal-Yearly' ) {
        $('#option-fy_start').show();
    } else {
        $('#option-fy_start').hide();
    }
});
if ($('#option-date_based').val() == 'Fiscal-Yearly' ) {
    $('#option-fy_start').show();
}
</script>
