<mt:if name="object_model">
<div class="row form-group">
  <div class="col-lg-2">
  <mt:trans phrase="Menu Type">
  </div>
  <div class="col-lg-3">
    <select name="menu_type" id="menu_type" class="form-control custom-select">
      <option value="9" <mt:if name="_menu_type" eq="9">selected</mt:if>><mt:trans phrase="Hidden" component="DisplayOptions"></option>
      <option value="1" <mt:if name="_menu_type" eq="1">selected</mt:if>><mt:trans phrase="Panel"></option>
      <option value="2" <mt:if name="_menu_type" eq="2">selected</mt:if>><mt:trans phrase="System Object"></option>
      <option value="3" <mt:if name="_menu_type" eq="3">selected</mt:if>><mt:trans phrase="Read-only Object"></option>
      <option value="4" <mt:if name="_menu_type" eq="4">selected</mt:if>><mt:trans phrase="Communication"></option>
      <option value="5" <mt:if name="_menu_type" eq="5">selected</mt:if>><mt:trans phrase="User and Permission"></option>
    </select>
  </div>
</div>
<mt:else>
<!--Do not Display-->
</mt:if>