<div class="row form-group">
  <div class="col-lg-12">
<textarea id="<mt:var name="__col_name__">" rows="<mt:if name="options"><mt:var name="options" escape><mt:else>10</mt:if>"
  class="form-control richtext" name="<mt:var name="__col_name__">"
  <mt:if name="readonly">readonly</mt:if>><mt:var name="value"></textarea>
  </div>
</div>