<div class="row form-group row-title-foot">
  <div class="col-lg-9 input-group-lg">
  <mt:if name="permalink">
    <div class="input-group copy-url copy-url-permalink">
    <input type="text" class="form-control form-control-sm clipboard-url" id="__permalink-clipboard"
    value="<mt:var name="permalink">">
    <button data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="Copy to Clipboard">" type="button" class="input-group-addon copy-clipboard" data-clipboard-target="#__permalink-clipboard"><i class="fa fa-clipboard" aria-hidden="true" aria-label="<mt:trans phrase="Copy to Clipboard">"></i></button>
    <button id="__view-permalink" data-toggle="tooltip" data-placement="left" title="<mt:trans phrase="View">" type="button" class="input-group-addon copy-clipboard"><i class="fa fa-external-link" aria-hidden="true" aria-label="<mt:trans phrase="View">"></i></button>
    </div>
    <mt:setvar name="permalink" value="">
    <script>
    $('#__view-permalink').click(function(){
        var permalink = $('#__permalink-clipboard').val();
        window.open( permalink, '_blank');
    });
    </script>
  </mt:if>
  </div>
  <mt:var name="object_text_format" setvar="object_text_format">
  <mt:unless name="request.id">
    <mt:setvar name="object_text_format" value="richtext">
  </mt:unless>
  <div class="col-lg-3">
    <div class="text-format-box">
    <span class="pull-right form-inline">
    <span class="text-format-label"><mt:trans phrase="Format"> : </span>
    <select id="text_format-select" name="text_format" class="form-control form-control-sm very-short">
      <option value=""><mt:trans phrase="None"></option>
      <option value="convert_breaks" <mt:if name="object_text_format" eq="convert_breaks">selected</mt:if>><mt:trans phrase="Convert Line Breaks"></option>
      <option value="markdown" <mt:if name="object_text_format" eq="markdown">selected</mt:if>><mt:trans phrase="Markdown"></option>
      <option value="markdown_with_smartypants" <mt:if name="object_text_format" eq="markdown_with_smartypants">selected</mt:if>>Markdown + SmartyPants</option>
      <option value="richtext" <mt:if name="object_text_format" eq="richtext">selected</mt:if>><mt:trans phrase="RichText"></option>
      <option value="textile_2" <mt:if name="object_text_format" eq="textile_2">selected</mt:if>><mt:trans phrase="Textile 2"></option>
    </select>
    </span>
  </div>
</div>
</div>
<div>
<div class="row form-group">
    <div class="col-lg-12">
    <textarea id="<mt:var name="__col_name__">" rows="<mt:if name="options"><mt:var name="options" escape><mt:else>20</mt:if>"
      class="form-control richtext" name="<mt:var name="__col_name__">"><mt:var name="value"></textarea>
    </div>
</div>
<script>
var editorMode = '<mt:var name="object_text_format">';
$('#text_format-select').change(function(){
    if ( $(this).val() == 'richtext' ) {
        editorInit();
    } else {
        tinymce.EditorManager.remove();
    }
    editorMode = $(this).val();
});
</script>