<mt:var name="rev_diff" setvar="raw_value">
<mt:if name="raw_value">
<span title="<mt:var name="value">"><mt:var name="rev_diff" trim_to="70+..."></span>
<mt:var name="raw_value" from_json="rev_diff">
<mt:loop name="rev_diff">
<mt:if name="__first__">
  <a class="btn btn-secondary btn-sm btn-compact" onclick="$('#rev-diff-<mt:var name="id">').toggle();" type="button">
  <i class="fa fa-search" aria-hidden="true"></i>
  <span class="sr-only"><mt:trans phrase="Toggle"></span>
  </a>
<table class="preview-rev_diff full table table-bordered table-sm hidden" id="rev-diff-<mt:var name="id">">
</mt:if>
<tr>
<th>
  <mt:var name="__key__" escape> : 
</th>
<td>
  <mt:var name="__value__" escape nl2br="1">
</td>
</tr>
<mt:if name="__last__">
</table>
</mt:if>
</mt:loop>
</mt:if>