<mt:var name="$_name" setvar="publish_option">
<mt:if name="publish_option" eq="1">
<mt:trans phrase="Static">
<mt:elseif name="publish_option" eq="2">
<mt:trans phrase="Static(Delayed)">
<mt:elseif name="publish_option" eq="3">
<mt:trans phrase="On-Demand">
<mt:elseif name="publish_option" eq="4">
<mt:trans phrase="Queue">
<mt:elseif name="publish_option" eq="5">
<mt:trans phrase="Manually">
<mt:elseif name="publish_option" eq="6">
<mt:trans phrase="Dynamic">
</mt:if>