/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 90px;
  font-size: 95%;
}

@media ( max-width: 991px ) {
  .dropdown {
    margin-left:-4px;
  }
  .workspace-dd-wrapper {
    margin-left: -4px !important;
  }
  .workspace-dd-wrapper i {
    padding: 5px !important;
  }
  .dropdown a {
    padding-left: 8px !important;
  }
  .header-util {
    margin-top: 1em;
  }
}

@media ( max-width: 768px ) {
  * {
    font-size: 99%;
  }
  .query-box {
    display:none !important;
  }
  .search-button {
    display:none !important;
    float: left !important;
    height: 29px !important;
    margin-top: -2px !important;
  }
  .create-new-link {
    margin-left: -2px !important;
  }
  .list-actions-col {
    min-width: 280px;
    vertical-align: baseline;
  }
  .list-actions-col select {
    float: left !important;
    height: 29px !important;
    margin-top: 2px !important;
    margin-right: 2px !important;
  }
  .list-actions-col input {
    float: left !important;
    height: 29px !important;
    margin-right: 2px;
    margin-top: 4px !important;
    margin-left: 0px !important;
  }
  .list-actions-col button {
    float: left !important;
    height: 29px !important;
    margin-top: 2px !important;
    margin-right: 2px;
  }
  button-sm {
    padding-left: 7px !important;
    padding-right: 7px !important;
    margin-left: 0px !important;
  }
  th.not-primary {
    display: none;
  }
  td.not-primary {
    display: none;
  }
  .toggle-infobox {
    display: inline !important;
  }
  .listing-table td {
    padding-bottom: 4px !important;
  }
  .create-new-button {
    display: none;
  }
  .create-new-button-icon {
    display: inline !important;
  }
  .dialog-chooser {
    margin-top: 0px !important;
  }
}
.create-new-button-icon {
    display: none;
}
.alt-search-button {
  margin-left: 3px !important;
}

.toggle-infobox {
  float: right;
  font-size: 90%;
  padding: 3px;
}

.alert {
  color: #000 !important;
}

.info-box {
  padding-top: 5px;
}

.cell-detail {
  width: 100%;
  font-size: 95%;
  margin-top: 5px;
}

.cell-detail th {
  width: 28%;
  padding: 2px !important;
}

.cell-detail td {
  padding: 2px !important;
}

body.dialog {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  font-size: 160%;
  width:70% !important;
}

.page-title-full {
  width:100% !important;
}

.plugin-action-buttons {
  margin-left: -5px;
  margin-top: 40px;
}

.plugin-doc-link {
  font-weight: normal;
}

.edit_image h1 {
  color: #000;
}

.edit_image {
  padding: 10px;
}

h2 {
  font-size: 140%;
  font-weight: bold !important;
  margin-bottom: 20px;
}

.title {
  font-weight: bold !important;
  padding-right: 9px;
}

h5 {
  font-weight: bold !important;
}

#__loader-bg {
  position:fixed;
  width:100%;
  height:100%;
  background-color:white;
  z-index:3;
  text-align:center;
  padding-top: 25%;
}

.navbar-brand {
  font-weight: bold;
}

.workspace-bar .navbar-brand {
  font-size:103% !important;
  padding-top: 2px;
}

.workspace-bar .dropdown-item {
  font-size: 85% !important;
}

.dropdown-menu {
  margin-right: 0px !important;
  padding-right: 16px !important;
}

.dropdown-item {
  margin-left: 0.5em !important;
}

.dropdown-toggle:focus {
  outline: solid 2px #15c;
}

input[type="checkbox"]:focus {
  outline: solid 2px #5af;
}

input[type="checkbox"] {
  width: 15px;
}

input[type="radio"]:focus {
  outline: solid 2px #5af;
}

input[type="radio"] {
  width: 15px;
}

.form-inline .form-control {
  margin-left: 1em;
}

.form-inline select {
  margin-right: 1em;
}

#user_id-edit {
  margin-left: 0.5em;
}

.status-has_deadline-cb {
  margin-left: 1em;
}

.sort-sortable-cb {
  margin-left: 1em;
}

#basename-wrapper input {
  width: 380px !important;
}

.delete-bun-sm {
  margin-left: 1.2em !important;
}

.current-filter {
  margin-left: 0.8em !important;
}

.period-separator {
  margin-left: 1em;
}

.custom-label-checkbox {
  margin-left: 1em;
}

.form-inline {
  padding-left:0px !important;
}

.workspace-bar .header-util{
  margin-right: 16px;
  height: 32px;
}

.workspace-bar .header-util a {
  color: black;
}

.workspace-bar .header-util .btn {
  font-size: 90% !important;
}

.nav-top {
  padding: 0px 16px 0px 17px;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

th.id {
  width: 20px !important;
}

td.id {
  width: 20px !important;
}

td.num {
  text-align: right;
  padding-right: 2em !important;
}

.sub-col {
  margin-top: 4px;
}

.sub-col div {
  margin: 3px;
}

.btn {
  margin-left: 5px;
}

.header-util {
  margin-left:-15px;
  margin-bottom: 3px;
}

.header-util a {
  margin-right: -9px;
  margin-left: 9px;
}

input.num {
  width: 80px;
  text-align:center;
}

input.e-num {
  width: 120px;
  text-align: center;
}

input.num-size {
  width: 100px !important;
  text-align: center;
}

input.single{
  width: 60px !important;
}

input.time{
  width: 180px !important;
  margin-left: 8px;
}

input.short {
  width: 380px !important;
}

.very-short {
  width: 120px !important;
  font-size: 88%;
  margin-right: -4px !important;
  margin-left: 1px !important;
}

select.short {
  width: 140px !important;
}

.rel-any-right-col {
  padding-left: 10px;
}

.group-relation-list {
  list-style-type: none;
  padding-left: 0;
}

.group-relation-list li {
  padding: 10px;
  margin-bottom: 4px;
}

.group-item {
  color: white;
  background-color: #333;
  border-color: #333;
}

.group-chooser {
  margin-left: 0px;
}

.group-relation-list button {
  margin: 3px 6px 0px 0px;
  display: inline !important;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.group-relation-list span {
  display: inline !important;
  width: 90%;
}

.dialog-chooser {
  margin-top: -4px;
  font-size: 102%;
  font-weight: normal;
  padding: 2px 6px;
}

.active .nav-link {
  color:#fff !important;
  font-weight: bold !important;
}

.col-lg-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cb-col {
  width: 20px !important;
}

.plugin-switch {
  font-size: 85%;
  margin-top: 5px;
}

.nav-link {
  color:#ddd !important;
  font-size:90%;
  padding-top: 8px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 30px;
  max-width: 103px;
  margin-left: 0px;
  margin-right: -2px;
}

.header-util {
  white-space: nowrap;
}

.header-util a {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

.workspace-dd {
  padding-left: 14px;
  font-size:110% !important;
}

.nav-item-ws {
  font-weight: normal;
  font-size:94%;
}

.nav-item-a {
  font-size:90% !important;
}

.workspace-dd-wrapper {
  margin-left: -10px;
}

.brand-workspace {
  background-color: #333 !important;
  margin: 3px 18px 0px 0px;
}

.nav-top .navbar-toggler {
  margin-top: 4px;
}

.workspace-bar .navbar-toggler {
  margin-top: 2px;
}

.workspace-bar {
  padding: 0px 0px 1px 17px;
  background-color: #333 !important;
  color: white !important;
  margin-top: -13px;
}

.workspace-bar ul {
  height: 99%;
  padding-bottom: 0px;
  margin-bottom: -7px;
}

.workspace-bar a {
  font-size: 95% !important;
}

.btn-workspace {
  height: 24px;
  width: 57px;
}

.actions {
  margin-bottom: 10px;
}

.full {
  width: 100%;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 80%;
}

.current-cnd {
  color: red;
  text-decoration: underline;
}

.toggle {
  color: gray;
}

th.id {
  white-space: nowrap;
}

.search-button {
  margin-left:-6px;
}

.title-with-opt {
  margin-top: -38px;
  width: 85%;
}

#__save {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.save-order-btn {
  margin-left: 1px;
}

.preview-rev_diff th {
  white-space: nowrap;
}

.preview-rev_diff {
  font-size: 85%;
  margin: 0 !important;
}

.btn-compact {
  margin: 0 !important;
  padding: 1px 3px 2px 3px !important;
}

.hidden {
  display: none;
}

.page-current {
  padding-right: 9px;
  padding-top: 3px;
  font-size: 95%;
}

.btn {
  padding-left : 10px;
  padding-right : 10px;
}

.order_col {
  margin:0 -7px 0 -7px;
  width: 70px !important;
  text-align: center;
}

.listing-table td, .listing-table th {
  padding: 8px;
}

.list-small-icon {
  margin-left: 0px;
}

.search-col {
  width:42px;
}

.list-icon {
  float:left;
  width:42px;
  height:22px;
  margin:-5px 4px 5px -8px;
  text-align:center;
}

.readonly {
  background-color: #E7EAEB;
}

.bar .btn {
  margin-top: 5px !important;
  height: 28px !important;
}

div.mce-fullscreen {
    z-index: 1050;
}

.disp-option {
  margin-top:10px;
}

.query-box {
  width: 145px !important;
  margin-left: 0px !important;
}

.list-action-btn {
  margin-right: 4px;
}

.list-delete-btn {
  margin-left: 0px !important;
}

.pagination-col {
  padding-top: 14px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 44px;
  line-height: 44px; /* Vertically center the text there */
  background-color: #000;
  color: #fff;
  padding-left: 18px;
}

.meta{
  font-size: 85%;
  margin-bottom: 5px !important;
}

.dashboard-card {
  margin: 10px 0 10px 0;
}

.abs-last {
  margin-bottom: 60px;

}

.abs-bottom {
  position: absolute;
  bottom: 20px;
  margin-top: 40px;
}

.sub-col label {
  margin-bottom: 0px;
}

#modal .modal-dialog {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 800px;
}

#modal .modal-content {
  height: 100%;
  overflow: hidden;
}

#modal .modal-content iframe {
  border: none;
  height: 100%;
}

#print-area {
  width: 100%;
  height: 360px;
  max-height: 100%;
  min-height: 80%;
}

#print-area .print-area-content {
  height: 100%;
  border: 1px solid gray;
}

#print-area .print-area-content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.form-inline-padding {
  padding-left: 1em !important;
}

.relation-list {
  list-style-type: none;
  display: inline;
  padding-left: 0;
  line-height: 2.4em !important;
  max-width: 90%;
  overflow: auto;
}

.relation-list li {
  display: inline-block;
  padding-right: 4px;
}

.relation-list .hidden {
  display: none !important;
}

.status-select {
  width: 150px !important;
}

.badge {
  font-size: 102%;
  font-weight: normal;
  padding: 3px 9px;
  white-space: nowrap !important;
}

.default_widget {
  margin-top: -10px !important;
}

.dashboard-widget .btn-sm {
  margin-top: 4px !important;
}

.default_widget .card-block {
  padding: 16px 22px 12px 22px !important;
  margin-bottom: -10px !important;
}

.card {
  margin-bottom: 20px;
}

.card-footer {
  padding: 10px 0px 10px 7px;
}

.copy-url{
  margin-top: 8px;
  height: 32px !important;
}

.copy-url-permalink {
  margin-top: 8px;
}

.row-title-main {
  margin-bottom: 0px;
}

.row-title-foot {
  margin-top: 3px;
  margin-bottom: 8px;
}

.text-format-box {
  height: 32px;
  margin: 11px 5px 0px 0px;
  min-width: 212px;
  white-space: nowrap;
  font-size: 85%;
}

.text-format-box select {
  font-size: 95%;
}

.insert-asset-label input {
  margin-right: 7px !important;
}

.insert-image-size input {
  margin-right: 1px !important;
  width: 70px !important;
}

.table-inner tr th {
  border: none !important;
}

.table-inner tr td {
  border: none !important;
}

.insert-asset-selector {
  vertical-align: middle !important;
}

.insert-image-size label {
  margin-left: 14px !important;
}

.text-format-label {
  padding-bottom: 3px; margin-right: 5px;
}

.clipboard-url {
  color: #555;
  font-size: 85%;
  padding: 8px;
}

.add-tags {
  margin-top:-13px !important;
}

input.date {
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 180px !important;
}

input.time {
  padding: 5px 10px 5px 10px;
  text-align: center;
  width: 128px !important;
}

.badge-relation {
  margin-right: 6px;
  display: inline-block;
  padding: 4px 8px 4px 8px;
  white-space: nowrap !important;
}

.close-sm {
  padding: 0px 4px 0px 4px !important;
  margin-top: -2px;
  margin-bottom: -1px;
  font-size: 75%;
  height: 18px;
}

.list-col {
  max-width: 130px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.list-col-primary {
  max-width: 300px;
  min-width: 130px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

i.required {
  font-size: 50% !important;
  color: #666;
  margin-left: 7px;
}

.figure-wrapper {
  margin: auto;
  text-align: center;
}

.asset-meta label {
  margin-left: 16px;
}

.row-more {
  margin-top: -8px;
}

.object-metadata {
  margin-left: 10px;
}

.CodeMirror {
    border: 1px solid #ccc !important;
    font-size: 11pt;
}

.popup h1 {
  width:100% !important;
  padding-left: 10px;
  margin-bottom: 0px;
}

.popup .loading {
  height:1em;
  margin-top:-5px;
  margin-left: -7px;
}

.popup p {
  margin: 0.5em;
}

.multiple-field {
  margin-top: -11px;
}

.detach-field {
  border: 1px solid gray !important;
  margin-top: 2px;
}

.column-detail-conpact {
  margin-top: 0px;
  margin-bottom: 7px;
}

.column-detail-hint {
  margin-top: -10px;
}

.hint-block {
  margin-top: 6px;
}

.text-muted {
  font-size: 90%;
}

.short-col {
  width: 180px;
}

.table-screen .active-cell {
  background-color: #FBF7D9 !important;
}

.table-screen .active-cell th {
  padding-bottom: 0px;
}

.table-screen .all-selector {
  padding-bottom: 0px;
}

.custom-field-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eee !important;
  padding-top: 8px;
  padding-left: 0px;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 10px;
}

.pt-progress-bar {
  width:100%;
  height:30px;
  border:1px solid #ddd;
}

.pt-progress-bar-inner {
  height:100%;
  background-color: #07c; 
}