    <input type="hidden" name="value" value="0">
    <label class="custom-control custom-checkbox">
    <input id="field.<mt:var name="field_uniqueid">" class="custom-control-input watch-changed" type="checkbox" name="value" value="1" <mt:if name="field.value">checked</mt:if>>
        <span class="custom-control-indicator"></span>
    </label>