  <div class="form-inline">
    <input id="field.<mt:var name="field_uniqueid">" class="form-control watch-changed inline-input" type="date" class="form-control date watch-changed" name="field_date" value="<mt:if name="field.field_date"><mt:var name="field.field_date" format_ts="Y-m-d"></mt:if>">
    <input class="form-control watch-changed inline-input" type="time" step="1" class="form-control time watch-changed" name="field_time" value="<mt:if name="field.field_time"><mt:var name="field.field_time" format_ts="H:i:s"></mt:if>">
  </div>