    <div class="cf-editor-wrapper">
    <textarea id="field.<mt:var name="field_uniqueid">" rows="10" class="form-control richtext" name="value"><mt:var name="field.value" escape></textarea>
    </div>