      <div class="form-inline">
        <input id="field.<mt:var name="field_uniqueid">" class="form-control watch-changed very-short" type="tel" name="area_code" value="<mt:var name="field.area_code">"> - <input  class="form-control watch-changed very-short" type="tel" name="state_code" value="<mt:var name="field.state_code">"> - <input  class="form-control watch-changed very-short" type="tel" name="phone_number" value="<mt:var name="field.phone_number">">
      </div>