<mt:var name="options" split="," setvar="_options_loop">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape="1">
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-3">
    <select class="form-control custom-select short watch-changed" name="<mt:var name="__col_name__">">
    <mt:loop name="_options_loop">
  <mt:if name="__index__" ne="2">
    <mt:if name="__index__" eq="0">
        <option <mt:if name="__col_value__" eq="6">selected</mt:if> value="6"><mt:trans phrase="$__value__" escape></option>
    <mt:else>
        <option <mt:if name="__index__" eq="$__col_value__">selected</mt:if> value="<mt:var name="__index__" escape>"><mt:trans phrase="$__value__" escape></option>
    </mt:if>
  </mt:if>
    </mt:loop>
    </select>
    <mt:var name="_hint">
  </div>
</div>