<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="name" escape>"><mt:var name="label" escape="1"></label>
  </div>
  <div class="col-lg-5">
  <mt:var name="request.id" setvar="_table_id">
    <select id="<mt:var name="name" escape>" name="<mt:var name="name" escape>" class="form-control">
      <mt:objectloop model="column" sort_by="order" table_id="$_table_id">
      <mt:if name="type" eq="string"><mt:if name="list">
      <option value="<mt:var name="name" escape>" <mt:if name="name" eq="$value">selected</mt:if>><mt:trans phrase="$label"></option>
      </mt:if></mt:if>
      </mt:objectloop>
    </select>
  </div>
</div>
