<mt:tablehascolumn column="workspace_id">
<div class="row form-group row-more">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <input type="hidden" name="<mt:var name="__col_name__">" value="0">
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="__col_name__">" class="custom-control-input"
     type="checkbox" name="<mt:var name="__col_name__">" value="1" <mt:if name="value">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:var name="label" escape></span>
    </label>
    
    <input type="hidden" name="display_dashboard" value="0">
    <label id="display_dashboard-wrapper" class="custom-control custom-checkbox">
    <input id="display_dashboard" class="custom-control-input"
      <mt:if name="object_display_dashboard">checked</mt:if>
     type="checkbox" name="display_dashboard" value="1">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Display in Dashboard"></span>
    </label>
<mt:ignore>
    <input type="hidden" name="allow_comment" value="0">
    <label id="display_dashboard-wrapper" class="custom-control custom-checkbox">
    <input id="display_dashboard" class="custom-control-input"
      <mt:if name="object_allow_comment">checked</mt:if>
     type="checkbox" name="allow_comment" value="1">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Accept Comments"></span>
    </label>
</mt:ignore>
  </div>
</div>
<script>
$("#<mt:var name="name" escape>").click(function(){
    if ( $(this).prop('checked') == false ) {
        $("#display_dashboard").prop('checked',false);
        $("#display_dashboard-wrapper").hide();
    } else {
        $("#display_dashboard-wrapper").show();
    }
});
</script>
</mt:tablehascolumn>