<mt:setvar name="activity_limit" value="30">
<mt:getactivity workspace_id="$workspace_id" model="$activity_model" column="$activity_column" limit="$activity_limit" setvar="_workspace_activity">
<mt:if name="_workspace_activity">
<script src="<mt:var name="prototype_path">assets/Chart.js/Chart.min.js"></script>
<div class="card dashboard-widget" id="widget-activity">
  <h2 class="card-header"><mt:trans phrase="Activity"> ( <mt:var name="activity_label" translate> )
    <button  type="button" class="detatch-widget" aria-label="<mt:trans phrase="Detach">" data-name="widget-activity">
      <span aria-hidden="true">&times;</span>
    </button>
  </h2>
  <mt:var name="activity_label" translate setvar="activity_label">
  <div class="card-block">
    <div style="height:160px;max-height:160px;" id="_activity_log-wrapper">
    <canvas id="_activity_log" width="100%" height="160px"
        style="margin-bottom:-10px;display:none;height:160px;max-height:160px"></canvas>
    </div>
    <script>
    var ctx = document.getElementById('_activity_log').getContext('2d');
    ctx.canvas.height = 160;
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [<mt:getactivity model="$activity_model" column="$activity_column" workspace_id="$workspace_id" limit="$activity_limit">],
        datasets: [{
          label: '<mt:trans phrase="Activity (%s)" params="$activity_label">',
          data: [<mt:getactivity model="$activity_model" column="$activity_column" data="1" workspace_id="$workspace_id" limit="$activity_limit">],
          backgroundColor: "rgba(35,180,51,0.4)"
        }]
      },
      options: {
        legend: {
          display: false
        },
        responsive: true,
        maintainAspectRatio: false,
        animation: false
      }
    });
    $('#_activity_log').show(90);
    </script>
    <mt:ifusercan action="list" model="$activity_model" workspace_id="$workspace_id">
    <table class="activity_footer-table" role="presentation">
    <tr>
    <td>
    <mt:tables show_activity="1">
      <mt:if name="__first__">
      <form action="<mt:var name="script_uri">" method="POST">
      <input type="hidden" name="__mode" value="change_activity">
      <input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
      <input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
      <select name="_model" class="form-control custom-select form-control-sm control-inline form-control-very-sm" style="min-width:85px;">
      <option <mt:if name="name" eq="log">selected</mt:if> value="log"><mt:trans phrase="Logs"></option>
      </mt:if>
      <option <mt:if name="name" eq="$activity_model">selected</mt:if> value="<mt:var name="name" escape>"><mt:var name="plural" escape translate></option>
      <mt:if name="__last__"></select>
      <button class="control-inline btn btn-sm btn-secondary btn-very-sm btn-activity-change"><mt:trans phrase="Change"></button>
      </form>
      </mt:if>
    </mt:tables>
    </td>
    <td>
      <mt:var name="activity_label" translate setvar="activity_label">
      <div class="text-right"><a href="<mt:var name="script_uri">?__mode=view&_type=list&_model=<mt:var name="activity_model"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"
        class="btn btn-info btn-sm"><mt:trans phrase="View all %s" params="$activity_label"></a>
    </div></td></tr>
    </table>
    </mt:ifusercan>
  </div>
</div>
</mt:if>