<mt:if name="news_box_content">
<div class="card dashboard-widget" id="widget-newsbox">
  <h2 class="card-header"><mt:trans phrase="PowerCMS X Events and News">
    <button  type="button" class="detatch-widget" aria-label="<mt:trans phrase="Detach">" data-name="widget-newsbox">
      <span aria-hidden="true">&times;</span>
    </button>
  </h2>
  <div class="card-block">
    <mt:var name="news_box_content">
  </div>
</div>
</mt:if>