<mt:for merge_linefeeds="1">
<mt:var name="form_name" language="$language" setvar="form_name">
<mt:trans phrase="(%s) The inquiry posted for %s has been received." params="'$app_name','$form_name'">

<mt:loop name="post_params">
<mt:var name="post_question" language="$language"> :
<mt:var name="post_value">
</mt:loop>

<mt:var name="script_uri"><mt:var name="contact_param">

<mt:include module="(Website) Mail Footer">
</mt:for>
