<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title><mt:if name="html_title"><mt:var name="html_title"><mt:else><mt:var name="page_title"></mt:if> | <mt:getoption key="appname" escape><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape></mt:if></title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/darkroomjs/darkroom.css">
    <link rel="stylesheet" href="assets/darkroomjs/page.css?<mt:date format="YmdHis">">
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
  </head>

  <body class="dialog edit_image">
<mt:if name="has_thumbnail_image">
<script>
window.parent.$('#modal').modal('hide');
window.parent.$('#image_preview-<mt:var name="request.view" escape>').prop('src','<mt:var name="thumbnail_image">');
window.parent.$('#image_preview-<mt:var name="request.view" escape>').prop('src','<mt:var name="thumbnail_image">');
window.parent.$('#<mt:var name="request.view" escape>-magic').val('<mt:var name="request._screen_id" escape>-<mt:var name="request.view" escape>');
var prop_tmpl = window.parent.file_meta_tmpl;
prop_tmpl = prop_tmpl.replace('file_name', '<mt:var name="file_name">');
prop_tmpl = prop_tmpl.replace('file_size', '<mt:var name="file_size" format_size="1">');
prop_tmpl = prop_tmpl.replace('mime_type', '<mt:var name="mime_type">');
var image_tmpl = window.parent.file_image_tmpl;
image_tmpl = image_tmpl.replace('image_width', '<mt:var name="image_width">');
image_tmpl = image_tmpl.replace('image_height', '<mt:var name="image_height">');
prop_tmpl = prop_tmpl + image_tmpl;
window.parent.$('#popover-<mt:var name="request.view" escape>').popover('dispose');
window.parent.$('#popover-<mt:var name="request.view" escape>').popover({
    title: "<mt:trans phrase="Properties">",
    content: prop_tmpl,
    placement: "right",
    html: true
});
window.parent.editContentChanged = true;
if ( '<mt:var name="request._model" escape>' == 'asset' ) {
    window.parent.$('#_object_size').html('<mt:var name="file_size" format_size="1">');
    window.parent.$('#size').val('<mt:var name="file_size">');
    window.parent.$('#_object_width').html('<mt:var name="image_width">px');
    window.parent.$('#_object_height').html('<mt:var name="image_height">px');
    window.parent.$('#image_width').val('<mt:var name="image_width">');
    window.parent.$('#image_height').val('<mt:var name="image_height">');
}
window.parent.$('#<mt:var name="request.view" escape>-alert-message').html('<mt:trans phrase="The file has successfully edited. The edited file will not be reflected until you save this page.">');
window.parent.$('#<mt:var name="request.view" escape>-alert').show();
window.parent.$('#<mt:var name="request.view" escape>-alert').focus();
window.location.href = '<mt:var name="script_uri">?__mode=loading';
</script>
</mt:if>
<div id="main-content">
<form action="<mt:var name="script_uri">" method="POST" id="edit_image_form">
    <input type="hidden" name="__mode" value="edit_image">
    <input type="hidden" name="_model" value="<mt:var name="request._model" escape>">
    <input type="hidden" name="_type" value="edit">
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
    <mt:if name="workspace_id">
    <input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
    </mt:if>
    <input type="hidden" name="view" value="<mt:var name="request.view" escape>">
    <input type="hidden" name="_screen_id" value="<mt:var name="request._screen_id" escape>">
    <input type="hidden" name="id" value="<mt:var name="request.id" escape>">
    <input type="hidden" name="image_data" id="image_data" value="">
    <input name="orig_width" type="hidden" value="<mt:var name="image_width">">
    <input name="orig_height" type="hidden" value="<mt:var name="image_height">">
      <mt:ignore>
        <div class="row form-group form-inline" style="position: absolute; top: 20px; right: 35px; left: 35px; text-align: center !important">
          <strong><mt:trans phrase="Resize"></strong> &nbsp; : &nbsp;
          <mt:trans phrase="Width"> : <input name="image_width" type="number" class="form-control form-control-sm" value="<mt:var name="image_width">" style="width:80px; margin-left:5px; margin-right: 5px; text-align:center"> px &times;
          <mt:trans phrase="Height"> : <input name="image_height" type="number" class="form-control form-control-sm" value="<mt:var name="image_height">" style="width:80px; margin-left:5px; margin-right: 5px; text-align:center"> px
          <label class="custom-control custom-checkbox" style="margin-left: 12px; margin-right: 3px">
            <input id="" class="custom-control-input" type="checkbox" name="" value="1">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"><mt:trans phrase="Keep aspect ratio"></span>
          </label>
          <button id="resize-apply-button" class="btn btn-sm btn-secondary" type="button"><mt:trans phrase="Apply"></button>
          <button id="resize-reset-button" class="btn btn-sm btn-secondary" type="button"><mt:trans phrase="Reset"></button>
        </div>
      </mt:ignore>
    <div class="container-fluid">
        <div class="row" style="margin-top:63px;">
          <div class="figure-wrapper">
          <figure class="image-container target">
            <img src="<mt:var name="edit_url">" alt="<mt:trans phrase="Image for Edit">" id="target">
          </figure>
          </div>
        </div>
        <div class="row form-group form-inline" style="text-align:right !important">
          <button id="dialog-cancel-btn" class="btn btn-secondary" type="button"><mt:trans phrase="Cancel"></button>
          <button id="dialog-submit-btn" class="btn btn-primary" type="submit"><mt:trans phrase="Save"></button>
        </div>
    </div>
</form>
</div>
<script>
$('#dialog-submit-btn').click(function(){
    var newImage = dkrm.sourceImage.toDataURL();
    $('#image_data').val( newImage );
});
$('#dialog-cancel-btn').click(function(){
    window.parent.$('#modal').modal('hide');
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    return false;
});
$(document).keydown(evnt_keydown);
function evnt_keydown(e) {
    if ( e.keyCode == 27 ) {
        window.parent.$('#modal').modal('hide');
        window.location.href = '<mt:var name="script_uri">?__mode=loading';
    }
}
</script>

<script src="assets/darkroomjs/vendor/fabric.js"></script>
<script src="assets/darkroomjs/darkroom.js?<mt:date format="YmdHis">"></script>

<script>
var dkrm = new Darkroom('#target', {
  // Size options
    minWidth: 100,
    minHeight: 100,
    maxWidth: 600,
    maxHeight: 500,
    backgroundColor: 'transparent',
    // Plugins options
    plugins: {
        crop: {
            quickCropKey: 67, //key "c"
            //minHeight: 50,
            //minWidth: 50,
            //ratio: 4/3
        },
        save: false
    },
    // Post initialize script
    initialize: function() {
        var cropPlugin = this.plugins['crop'];
        cropPlugin.requireFocus();
    }
});
</script>
<mt:include file="include/dialog_footer.tmpl">