<mt:var name="sort_cond" value="">
<mt:if name="request.sort">
<mt:if name="request.direction">
<mt:setvarblock name="sort_cond">&amp;sort=<mt:var name="request.sort" escape>&amp;direction=<mt:var name="request.direction" escape></mt:setvarblock>
</mt:if>
</mt:if>
<mt:if name="request.query">
<mt:setvarblock name="query_cond">&amp;query[]=<mt:var name="query" escape></mt:setvarblock>
</mt:if>
<mt:setvar name="_single_select" value="0">
<mt:setvar name="_get_col" value="">
<mt:if name="request.dialog_view">
<mt:if name="request.get_col">
<mt:var name="request.get_col" setvar="_get_col">
</mt:if>
<mt:setvarblock name="dialog_param">&amp;dialog_view=1</mt:setvarblock>
<mt:if name="request.single_select">
<mt:setvar name="_single_select" value="1">
</mt:if>
</mt:if>
<mt:setvar name="selecter_param" value="">
<mt:if name="request.target">
<mt:setvarblock name="selecter_param">&amp;target=<mt:var name="request.target" escape>&amp;get_col=<mt:var name="request.get_col" escape>&amp;selected_ids=<mt:var name="request.selected_ids" escape>&amp;from_obj=<mt:var name="request.from_obj" escape></mt:setvarblock>
</mt:if>

<mt:if name="request.dialog_view">
<mt:include file="include/dialog_header.tmpl">
<mt:setvar name="sortable" value="">
<mt:else>
<mt:include file="include/header.tmpl">
</mt:if>

<mt:setvarblock name="this_url"><mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model"></mt:setvarblock>
<mt:setvarblock name="setup_search">
$(".search-btn").click(function(){
  $("#__mode").prop('value','view');
  return true;
});
$(".query-box").keypress(function(e){
  if(e.which==13){
    $("#__mode").prop('value','view');
    in_search = true;
    return true;
  }
});
</mt:setvarblock>
<mt:setvarblock name="search_box">
  <input class="query-box form-control mb-2 mr-sm-2 mb-sm-0 form-control-sm" name="query" type="text" value="<mt:var name="query" escape>" placeholder="<mt:trans phrase="Keyword">">
  <button class="search-btn btn btn-secondary search-button btn-sm" type="submit"><mt:trans phrase="Search"></button>
</mt:setvarblock>
<mt:setvarblock name="current_filter">
<mt:if name="current_filter_name"><span class="current-filter"> ( <mt:trans phrase="Current Filter"> : <a href="javascript:void(0);" data-toggle="modal" data-target="#filterOptions"><mt:var name="current_filter_name" escape></a> - <a href="<mt:var name="this_url">&amp;_detach_filter=1<mt:var name="query_cond"><mt:var name="dialog_param"><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if><mt:var name="selecter_param">"><mt:trans phrase="Detach"></a> )</span></mt:if>
</mt:setvarblock>

<mt:var name="sortable" setvar="_sortable">
<mt:trans phrase="ascend" setvar="order_asc">
<mt:trans phrase="descend" setvar="order_desc">

<mt:if name="request.revision_select">
<mt:trans phrase="Revisions" setvar="plural">
</mt:if>

    <mt:if name="request.deleted">
  <div class="alert alert-success">
    <mt:var name="alert_close">
    <mt:trans phrase="Removed %s." params="$plural">
  </div>
    </mt:if>

    <mt:if name="request.saved_order">
  <div class="alert alert-success">
    <mt:var name="alert_close">
    <mt:trans phrase="%s's order saved successfully." params="$plural">
  </div>
    </mt:if>

    <mt:if name="request.saved_props">
  <div class="alert alert-success">
    <mt:var name="alert_close">
    <mt:trans phrase="%s's display options saved successfully." params="$label">
  </div>
    </mt:if>

<form action="<mt:var name="script_uri">" method="POST" class="form-inline">

<input type="hidden" name="__mode" value="" id="__mode">
<input type="hidden" name="_model" value="<mt:var name="model">">
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">">
<input type="hidden" name="_type" value="list">
<input type="hidden" name="sort" value="<mt:var name="request.sort" escape>">
<input type="hidden" name="direction" value="<mt:var name="request.direction" escape>">
<mt:if name="workspace_id">
<input type="hidden" name="workspace_id" value="<mt:var name="workspace_id">">
</mt:if>

<input type="hidden" name="filter_params" value="<mt:var name="filter_params" escape>">
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape>">
<mt:if name="request.dialog_view">
<input type="hidden" name="target" value="<mt:var name="request.target" escape>">
<input type="hidden" name="single_select" value="<mt:var name="request.single_select" escape>">
<input type="hidden" name="get_col" value="<mt:var name="request.get_col" escape>">
<input type="hidden" name="dialog_view" value="1">
</mt:if>
<mt:unless name="objects">
  <div class="alert alert-success full">
    <mt:trans phrase="%s not found." params="$plural">
  </div>  
<mt:if name="query">
  <div class="full">
  <mt:var name="search_box">
  <mt:var name="current_filter">
  </div>
<script>
var in_search = false;
<mt:var name="setup_search">
</script>
<mt:else>
  <mt:if name="current_filter">
    <mt:var name="current_filter">
  </mt:if>
</mt:if>
</form>
<mt:if name="request.dialog_view">
  <button id="dialog-cancel-btn" class="btn btn-secondary" type="submit"><mt:trans phrase="Cancel"></button>
<script>
$('#dialog-cancel-btn').click(function(){
    window.parent.$('#modal').modal('hide');
    return false;
});
</script>
</mt:if>

<mt:else>

<mt:setvarblock name="list_nav">
<table class="full table-sm">
<tr>
<td>
<mt:if name="can_action">
  <button type="submit" class="__delete list-delete-btn btn btn-secondary btn-sm"><mt:trans phrase="Delete"></button>
<mt:if name="list_actions">
  <mt:include file="include/list_actions.tmpl">
</mt:if>
<mt:if name="_sortable">
  <button type="submit" class="__save_order save-order-btn btn btn-secondary btn-sm"><mt:trans phrase="Save Order"></button>
</mt:if>
</mt:if>
<mt:if name="_per_page">
  <mt:var name="search_box">
</mt:if>
  <mt:var name="current_filter">
</td>
<td class="pagination-col">
<mt:if name="_per_page">
<nav aria-label="<mt:trans phrase="Page navigation">" class="pull-right">
  <ul class="pagination pagination-sm">
    <li class="page-item <mt:unless name="has_prev">disabled</mt:unless>">
      <a class="page-link" href="<mt:if name="has_prev"><mt:var name="this_url">&amp;offset=<mt:var name="prev_offset"><mt:var name="sort_cond"><mt:var name="query_cond"><mt:var name="dialog_param"><mt:else>#</mt:if>" aria-label="<mt:trans phrase="Previous">">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only"><mt:trans phrase="Previous"></span>
      </a>
    </li>
    <li class="page-item <mt:unless name="next_offset">disabled</mt:unless>">
      <a class="page-link" href="<mt:if name="next_offset"><mt:var name="this_url">&amp;offset=<mt:var name="next_offset"><mt:var name="sort_cond"><mt:var name="query_cond"><mt:var name="dialog_param"><mt:else>#</mt:if>" aria-label="<mt:trans phrase="Next">">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only"><mt:trans phrase="Next"></span>
      </a>
    </li>
  </ul>
</nav>
</mt:if>
<mt:if name="_per_page">
<div class="pull-right page-current">
  <mt:trans phrase="%s - %s of %s Items" params="'$list_from','$list_to','$object_count'">
</div>
</mt:if>
</td>
</tr>
</table>
</mt:setvarblock>

<mt:setvarblock name="table_header">
<tr>
<th class="id">
<mt:unless name="_single_select">
<label class="custom-control custom-checkbox">
  <input type="checkbox" class="selector custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description"></span>
</label>
</mt:unless>
</th>
<mt:setvar name="table_colspan" value="">
<mt:objectcols>
<mt:var name="name" setvar="column_name">
<mt:if name="column_name" eq="workspace_id">
    <mt:if name="workspace_id">
        <mt:setvar name="column_name" value="">
    </mt:if>
</mt:if>
<mt:if name="column_name">
    <th class="<mt:if name="name" eq="id">id</mt:if> <mt:if name="list" like="num">num</mt:if>">
    <mt:var name="label" escape trim_to="10+...">
  <mt:if name="type" ne="relation">
    <span class="text-sm toggle">
    <mt:setvar name="class_asc" value="">
    <mt:setvar name="class_desc" value="">
    <mt:if name="request.sort" eq="$name">
      <mt:if name="request.direction" eq="asc">
        <mt:setvar name="class_asc" value="1">
      <mt:elseif name="request.direction" eq="desc">
        <mt:setvar name="class_desc" value="1">
      </mt:if>
    </mt:if>
    <a aria-label="<mt:trans phrase="Sort by %s in %s" params="'$label','$order_asc'" escape><mt:if name="class_asc">(<mt:trans phrase="Selected">)</mt:if>" class="<mt:if name="class_asc">current-cnd</mt:if>" href="<mt:var name="this_url">&amp;sort=<mt:var name="name">&amp;direction=asc<mt:var name="query_cond"><mt:var name="workspace_param"><mt:var name="dialog_param">">&#9650;</a>
    <a aria-label="<mt:trans phrase="Sort by %s in %s" params="'$label','$order_desc'" escape><mt:if name="class_asc">(<mt:trans phrase="Selected">)</mt:if>" class="<mt:if name="class_desc">current-cnd</mt:if>" href="<mt:var name="this_url">&amp;sort=<mt:var name="name">&amp;direction=desc<mt:var name="query_cond"><mt:var name="workspace_param"><mt:var name="dialog_param">">&#9660;</a></span>
  </mt:if>
</th>
</mt:if>
</mt:objectcols>
</tr>
<mt:unless name="_single_select">
  <mt:if name="list_from" ne="1">
    <mt:setvar name="show_all_selected" value="1">
  </mt:if>
  <mt:if name="list_to" ne="$object_count">
    <mt:setvar name="show_all_selected" value="1">
  </mt:if>
  <mt:if name="show_all_selected">
  <tr>
    <td colspan="4" class="all-selected-cell hidden">
<label class="custom-control custom-checkbox" style="display:inline;">
  <input type="checkbox" class="custom-control-input cb-all-selected" name="all_selected" value="1">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description"></span>
    &nbsp; <mt:trans phrase="Select all %s items" params="$object_count">
</label>
    </td>
  </tr>
</mt:if>
</mt:unless>
</mt:setvarblock>

<mt:var name="list_nav">
<mt:loop name="objects">
<mt:if name="__first__">
<table class="table table-striped table-sm listing-table table-hover">
</mt:if>
<mt:if name="__first__">
<thead>
<mt:var name="table_header">
</thead>
<tbody id="list_body">
</mt:if>
<tr id="line_<mt:objectvar name="id">">
<mt:objectcols>
<mt:var name="name" setvar="column_name">
<mt:if name="column_name" eq="workspace_id">
    <mt:if name="workspace_id">
        <mt:setvar name="column_name" value="">
    </mt:if>
</mt:if>
<mt:var name="list" setvar="list_prop">
<mt:objectvar name="$column_name" escape setvar="value">
<mt:objectvar name="$column_name" setvar="raw_value">
<mt:if name="__first__">
<td>
  <mt:if name="_get_col">
  <mt:objectcols>
<mt:if name="__first__">
<mt:setvar name="__status__" value="0">
</mt:if>
    <mt:if name="list" eq="primary">
        <mt:objectvar name="$_get_col" setvar="__primary_value">
    </mt:if>
    <mt:if name="name" eq="$_get_col">
        <mt:objectvar name="$_get_col" setvar="_get_col_value">
    </mt:if>
    <mt:if name="request.from_obj" eq="group">
      <mt:if name="name" eq="status">
        <mt:unless name="__status__">
        <mt:objectvar name="status" setvar="__status__">
        <mt:setvarblock name="_get_col_value" append="1">
          (<mt:statustext status="$__status__" options="$options" icon="1" text="1">)
        </mt:setvarblock>
        </mt:unless>
      </mt:if>
    </mt:if>
</mt:objectcols>
  <input type="hidden" id="_get_col_<mt:objectvar name="id">" value="<mt:var name="_get_col_value" escape>">
  </mt:if>
  <mt:unless name="_single_select">
    <label class="custom-control custom-checkbox">
      <input id="box_<mt:objectvar name="id">" type="checkbox" name="id[]" value="<mt:objectvar name="id">" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  <mt:else>
    <label class="custom-control custom-radio">
      <input type="radio" id="box_<mt:objectvar name="id">" name="id" value="<mt:objectvar name="id">" class="custom-control-input">
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"></span>
    </label>
  </mt:if>
  <mt:setvar name="sort_order" value="0">
  <mt:if name="name" eq="order">
    <mt:if name="_sortable">
      <mt:if name="can_action">
        <mt:setvar name="sort_order" value="1">
      </mt:if>
    </mt:if>
  </mt:if>
</td>
</mt:if>
<mt:if name="model" ne="workspace">
<mt:objectvar name="workspace_id" setvar="_workspace_id">
</mt:if>
<mt:var name="name" setvar="__name__">
<mt:if name="workspace_id">
  <mt:if name="name" eq="workspace_id">
    <mt:setvar name="__name__" value="">
  </mt:if>
</mt:if>
<mt:if name="__name__">
  <mt:objectvar name="id" setvar="_object_id">
  
  <mt:setvarblock name="include_path">include/list/<mt:var name="model">/column_<mt:var name="column_name">.tmpl</mt:setvarblock>
  <mt:include file="$include_path" setvar="alt_value">
  <mt:unless name="alt_value">
    <mt:setvarblock name="include_path">include/list/column_<mt:var name="column_name">.tmpl</mt:setvarblock>
    <mt:include file="$include_path" setvar="alt_value">
  </mt:unless>
  <td class="<mt:if name="__name__" eq="id">id </mt:if><mt:if name="list_prop" eq="number"><mt:unless name="sort_order"><mt:if name="column_name" ne="status">num</mt:if></mt:unless></mt:if> list-col<mt:if name="list" eq="primary">-primary</mt:if>">
  <mt:if name="alt_value">
    <mt:var name="alt_value">
  <mt:else>
  <mt:if name="list_prop" like="object"><mt:getobjectname id="$value" type="$list_prop" escape trim_to="20+..." setvar="value"></mt:if>
    <mt:if name="list_prop" eq="primary">
      <a <mt:if name="request.dialog_view">target="_blank"</mt:if> href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape>&amp;id=<mt:objectvar name="id" escape><mt:if name="_workspace_id">&amp;workspace_id=<mt:var name="_workspace_id"></mt:if><mt:if name="model" eq="workspace">&amp;workspace_id=<mt:objectvar name="id"></mt:if><mt:if name="request.revision_select">&amp;edit_revision=1</mt:if>">
      <mt:if name="__file_col__">
        <mt:objectvar name="id" setvar="obj_id">
        <div class="list-icon">
        <mt:assetthumbnail id="$obj_id" type="default" square="1" name="$__file_col__" model="$model" data_uri="1" setvar="thumbnail">
        <mt:assetproperty property="class" name="$__file_col__" model="$model" id="$obj_id" setvar="obj_class">
        <mt:if name="thumbnail">
          <img src="<mt:var name="thumbnail">" width="32" width="height" alt="<mt:trans phrase="$obj_class">"> 
          <mt:if name="_get_col">
            <input type="hidden" id="_get_col_img_<mt:objectvar name="id">" value="<mt:var name="thumbnail">">
          </mt:if>
        <mt:else>
          <i class="list-small-icon btn fa <mt:if name="obj_class" eq="image">fa-file-image-o<mt:elseif name="obj_class" eq="pdf">fa-file-pdf-o<mt:else><mt:unless name="obj_class">fa-minus<mt:else>fa-file-o</mt:unless></mt:if>" aria-hidden="true"></i>
          <span class="sr-only"><mt:trans phrase="$obj_class"></span>
      </mt:if>
      </div>
      </mt:if>
      <mt:unless name="value">
      <mt:setvarblock name="value">(<mt:trans phrase="null">)</mt:setvarblock>
      </mt:unless>
      <mt:if name="column_name" eq="message">
        <mt:var name="value" trim_to="120+...">
      <mt:else>
        <mt:var name="value" trim_to="80+...">
      </mt:if>
      </a>
      <mt:if name="_has_mapping">
        <mt:objectvar name="permalink" escape setvar="permalink">
        <mt:if name="permalink">
        &nbsp; 
        <a href="<mt:var name="permalink">" target="_blank">
        <i class="fa fa-external-link" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="View"></span>
        </a>
        </mt:if>
      </mt:if>

    <mt:elseif name="list_prop" eq="checkbox">
      <mt:if name="value">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="Checked"></span>
      </mt:if>
    <mt:elseif name="list_prop" eq="datetime">
      <mt:var name="value" format_ts="Y-m-d H:i">
    <mt:elseif name="list_prop" eq="date">
      <mt:var name="value" split=" " setvar="col_date">
      <mt:var name="col_date[0]">
    <mt:elseif name="list_prop" eq="password">
    <mt:if name="value">
    *********...
    </mt:if>
    <mt:elseif name="list_prop" eq="text_short">
      <mt:var name="value" trim_to="12+...">
    <mt:elseif name="list_prop" like=":">
      <mt:if name="column_name" eq="workspace_id">
        <mt:unless name="workspace_scope">
          <a href="<mt:var name="this_url"><mt:var name="sort_cond"><mt:var name="query_cond">&amp;workspace_id=<mt:var name="value"><mt:var name="dialog_param">">
        </mt:unless>
      </mt:if>
      <mt:objectvar name="id" setvar="from_id">
      <mt:getobjectname id="$value" from_id="$from_id" type="$list_prop" name="$name" model="$model" trim_to="40+..." escape>
      <mt:if name="column_name" eq="workspace_id">
        <mt:unless name="workspace_scope">
          </a>
        </mt:unless>
      </mt:if>
    <mt:elseif name="list_prop" eq="popover">

<button id="popover-<mt:var name="column_name">-<mt:objectvar name="id">" type="button" class="btn btn-secondary btn-sm" data-container="body" data-toggle="popover" data-placement="left">
<i class="fa fa-commenting-o" aria-hidden="true"></i>
<span class="sr-only"><mt:trans phrase="Toggle"></span>
</button>
<script>
$('#popover-<mt:var name="column_name">-<mt:objectvar name="id">').popover({
    title: '<mt:var name="label" escape trim_to="10+...">',
    content: '<mt:var name="value" encode_js="1" trim_to="600+...">',
    placement: "bottom",
    html: true
});
</script>
    <mt:else>
      <mt:if name="sort_order">
        <input name="order_<mt:objectvar name="id">" type="number" class="form-control order_col form-control-sm" value="<mt:var name="value">">
      <mt:else>
        <mt:if name="list_prop" eq="number">
          <mt:if name="column_name" eq="status">
            <mt:statustext status="$value" options="$options" icon="1" text="1">
          <mt:else>
            <mt:var name="value">
          </mt:if>
        <mt:else>
          <mt:objectvar name="id" setvar="_object_id">
            <mt:if name="column_name" eq="modified_on">
                <mt:var name="value" format_ts="Y-m-d H:i">
            <mt:else>
                <mt:var name="value" trim_to="40+...">
            </mt:if>
        </mt:if>
      </mt:if>
    </mt:if>
  <mt:if name="__counter__" eq="2">
    <mt:unless name="table_primary">
      <a <mt:if name="request.dialog_view">target="_blank"</mt:if> href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape>&amp;id=<mt:objectvar name="id" escape><mt:if name="_workspace_id">&amp;workspace_id=<mt:var name="_workspace_id"></mt:if>">
      (<mt:trans phrase="Edit">)
      </a>
    </mt:unless>
  </mt:if>
  </mt:if>
</td>
</mt:if>
</mt:objectcols>
</tr>
<mt:if name="__last__">
</tbody>
<tfoot>
<mt:var name="table_header">
</tfoot>
</table>
</mt:if>
</mt:loop>
<mt:var name="list_nav">

<mt:if name="request.dialog_view">
  <button id="dialog-cancel-btn" class="btn btn-secondary" type="submit"><mt:trans phrase="Cancel"></button>
  <button id="dialog-selector-btn" class="btn btn-primary" type="submit"><mt:trans phrase="Select"></button>
</mt:if>
</form>

<script>
<mt:if name="request.dialog_view">
$(document).keydown(evnt_keydown);
function evnt_keydown(e) {
    if ( e.keyCode == 27 ) {
        window.parent.$('#modal').modal('hide');
        window.location.href = '<mt:var name="script_uri">?__mode=loading';
    }
}
</mt:if>
var in_link = false;
$('a').mouseover(function() {
    in_link = true;
});
$('a').click(function() {
    in_link = true;
});
$('a').mouseout(function() {
    in_link = false;
});
<mt:if name="_single_select">
$('input').click(function() {
    in_link = true;
});
</mt:if>
$('input').mouseover(function() {
    in_link = true;
});
$('input').mouseout(function() {
    in_link = false;
});
$('#list_body tr').click(function() {
    if ( in_link ) {
        return true;
    }
    line_id = $(this).prop('id');
    line = line_id.replace( /line_/, '' );
    checked = $('#box_'+line).prop('checked');
    if ( checked ) {
        $('#box_'+line).prop('checked', false);
    } else {
        $('#box_'+line).prop('checked', true);
    }
});
<mt:if name="_sortable">
$('#list_body tr').mouseover(function() {
    $(this).css('cursor','move');
});
</mt:if>
var in_search = false;
var selected_ids = [];
<mt:if name="request.dialog_view">
var target_control;
<mt:unless name="request.revision_select">
    $(function(){
        target_control = '<mt:var name="request.target" escape>';
    <mt:if name="request.single_select">
        var selected_id = window.parent.$('#'+target_control).val();
        $("input[name='id']").each(function(){
            if( $(this).val() == selected_id ) {
                $(this).prop('checked', true);
            }
      });
    <mt:else>
        window.parent.$("input[name='"+target_control+"[]']").each(function(){
            if ( $(this).val() ) {
              selected_ids.push($(this).val());
            }
        });
        $("input[name='id[]']").each(function(){
            if( $.inArray($(this).val(), selected_ids ) != -1 ) {
                $(this).prop('checked', true );
            }
        });
    </mt:if>
  });
</mt:unless>
$('#dialog-cancel-btn').click(function(){
    window.parent.$('#modal').modal('hide');
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    return false;
});
$('#dialog-selector-btn').click(function(){
<mt:if name="request.single_select">
    var selected = $('input[name=id]:checked').val();
    selected = $( '<span/>' ).text(selected).html();
    if (! selected ) {
        alert('<mt:trans phrase="You did not select any %s." params="$label">');
        return false;
    }
  <mt:unless name="request.revision_select">
    var col_value = $('#_get_col_' + selected ).val();
    col_value = $( '<span/>' ).text(col_value).html();
    window.parent.$('#'+target_control).val(selected);
    window.parent.$('#'+target_control+'-label').html(col_value);
    window.parent.$('#'+target_control+'-close').show();
    if ( $('#_get_col_img_' + selected ) ) {
        var col_img = $('#_get_col_img_' + selected ).val();
        if ( col_img ) {
            col_img = $( '<span/>' ).text(col_img).html();
            window.parent.$('#'+target_control+'-img').prop('src',col_img);
            window.parent.$('#'+target_control+'-img').show();
        } else {
            window.parent.$('#'+target_control+'-img').hide();
        }
    }
  <mt:else>
    next_url = '<mt:var name="script_uri">?__mode=view&_type=edit&_model=<mt:var name="model">&edit_revision=1&id='+selected<mt:if name="workspace_id">+'&workspace_id=<mt:var name="workspace_id">'</mt:if>;
    window.parent.$('#modal').modal('hide');
    window.parent.location.href = next_url;
    return;
  </mt:unless>
<mt:else>
    if ( in_search ) {
        return true;
    }
    if ( item_checked() == false ) {
        alert('<mt:trans phrase="You did not select any %s." params="$label">');
        return false;
    }
    var checked_ids = [];
    $("input[name='id[]']").each(function(){
        if ( $(this).prop('checked') ) {
            checked_ids.push( $(this).val() );
        }
    });
    var count = checked_ids.length;
  <mt:unless name="request.select_add">
    window.parent.$('.'+target_control+'-child').each(function(){
        $(this).remove();
    });
  </mt:unless>
    for( var i = 0; i < count; i++ ) {
        <mt:if name="request.select_add">
        if( $.inArray(checked_ids[i], selected_ids ) != -1 ) {
            continue;
        }
        </mt:if>
        window.parent.$('#'+target_control+'-none').hide();
        li = window.parent.$('#'+target_control+'-tmpl');
        newli = li.clone( true ).appendTo('#'+target_control );
        newli.removeClass('hidden');
        var col_value = $('#_get_col_' + checked_ids[i] ).val();
        newli.children('span').html( col_value );
        newli.children('input').val( checked_ids[i] );
        newli.removeAttr('id');
        newli.addClass( target_control+'-child');
        newli.show();
    }
</mt:if>
<mt:unless name="request.revision_select">
    window.parent.$('#modal').modal('hide');
    window.parent.editContentChanged = true;
    window.location.href = '<mt:var name="script_uri">?__mode=loading';
    return false;
</mt:unless>
});
</mt:if>
<mt:if name="_sortable">
<mt:unless name="request.dialog_view">
$('#list_body').sortable({
    stop: function( evt, ui ) {
        reorder();
    }
});
function reorder(){
    var i = 0;
    $('.order_col').each(function(){
        i++;
        $(this).prop('value',i<mt:if name="model" eq="table">*10</mt:if>);
    });
}
</mt:unless>
</mt:if>

$('.query-box').change(function(){
    $('.query-box').val( $(this).val() );
});
$("input[name='id[]']").change(function(){
    is_all = true;
    $("input[name='id[]']").each(function(){
        if ( $(this).prop('checked') == false ) {
            is_all = false;
            return false;
        }
    });
    $('.selector').prop('checked', is_all );
});
$('.selector').click(function(){
    checked = $(this).prop('checked');
    $("input[name='id[]']").each(function(){
        $(this).prop('checked', checked);
    });
    $('.selector').prop('checked', checked);
<mt:if name="show_all_selected">
    if ( checked ) {
        $('.all-selected-cell').show();
    } else {
        $('.all-selected-cell').hide();
        $('.cb-all-selected').prop('checked', false);
    }
</mt:if>
});
<mt:if name="list_actions">
$('.cb-all-selected').change(function(){
    $('.cb-all-selected').prop('checked', $(this).prop('checked'));
});
</mt:if>
$('.__delete').click(function(){
    if ( in_search ) {
        return true;
    }
    if( item_checked() == false ) {
        alert('<mt:trans phrase="You did not select any %s to delete." params="$label">');
        return false;
    }
    var selected_items = item_checked( true );
    var cfm_msg = '<mt:trans phrase="Are you sure you want to remove _1 %s?" params="$plural">';
    cfm_msg = cfm_msg.replace( '_1', selected_items );
    if(! confirm( cfm_msg ) ) {
        return false;
    }
    $("#__mode").prop('value', 'delete');
    return true;
});
$('.__action').click(function(){
    // if ( in_search ) {
    //     return true;
    // }
    if (! $('.select-action').val() ) {
        alert('<mt:trans phrase="You did not select any action.">');
        return false;
    }
    if( item_checked() == false ){
        alert('<mt:trans phrase="You did not select any %s." params="$label">');
        return false;
    }
    var cfm_msg = '<mt:trans phrase="Are you sure you want to process _1 _2?">';
    var selected_items = item_checked( true );
    cfm_msg = cfm_msg.replace( '_1', selected_items );
    cfm_msg = cfm_msg.replace( '_2', '<mt:var name="plural">' );
    if(! confirm(cfm_msg) ) {
        return false;
    }
    if ( action_status_select ) {
        $('.itemset-action-input').val( $('.action-status-select').val() );
    }
    $("#__mode").prop('value', 'list_action');
    return true;
});
<mt:if name="_sortable">
$('.__save_order').click(function(){
    if ( in_search ) {
        return true;
    }
    if ( item_checked() == false ) {
        alert('<mt:trans phrase="You did not select any %s to save order." params="$label">');
        return false;
    }
    if(! confirm('<mt:trans phrase="Are you sure you want to save order of selected %s?" params="$plural">') ) {
        return false;
    }
    $('#__mode').prop('value', 'save_order');
    return true;
    });
</mt:if>
<mt:var name="setup_search">
var selected_item_count;
function item_checked( count ) {
    if ( count && $('.cb-all-selected').prop('checked') ) {
        return <mt:var name="object_count">;
    }
    selected_item_count = 0;
    var selected = false;
    $("input[name='id[]']").each(function(){
        if($(this).prop('checked') === true) {
            selected = true;
            if (! count ) {
                return false;
            }
            selected_item_count++;
        }
    });
    if ( count ) {
        return selected_item_count;
    }
    return selected;
}
</script>
</mt:unless>

<mt:if name="request.dialog_view">
<mt:include file="include/dialog_footer.tmpl">
<mt:else>
<mt:include file="include/footer.tmpl">
</mt:if>