<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title><mt:trans phrase="Now Loading"></title>
    <link href="assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
  </head>
  <body>
<div id="__loader-bg">
  <img src="assets/img/loading.gif" alt="" width="45">
</div>
  </body>
</html>