<div class="text-left">
<mt:if name="$_name" eq="1">
  <mt:trans phrase="Panel">
<mt:elseif name="$_name" eq="2">
  <mt:trans phrase="System Object">
<mt:elseif name="$_name" eq="3">
  <mt:trans phrase="Read-only Object">
<mt:elseif name="$_name" eq="4">
  <mt:trans phrase="Communication">
<mt:elseif name="$_name" eq="5">
  <mt:trans phrase="User and Permission">
<mt:elseif name="$_name" eq="9">
  <mt:trans phrase="Hidden" component="DisplayOptions">
</mt:if>
</div>