<div style="height: 30px;margin-top:-10px">
<span class="pull-right">
<button type="button" class="btn btn-primary btn-sm" onclick="
    if ( editorMode == 'CodeMirror' ) {
        $('#text').show();
        $('.CodeMirror').hide();
        editorMode = 'None';
        $(this).removeClass('btn-primary');
        $(this).addClass('btn-secondary');
    } else {
        $('#text').hide();
        $('.CodeMirror').show();
        editorMode = 'CodeMirror';
        $(this).removeClass('btn-secondary');
        $(this).addClass('btn-primary');
    }
">
    <i class="fa fa-code" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Toggle Editor"></span>
</button>
</span>
</div>

<link rel=stylesheet href="assets/codemirror/lib/codemirror.css">
<script src="assets/codemirror/lib/codemirror.js"></script>
<script src="assets/codemirror/mode/xml/xml.js"></script>
<script src="assets/codemirror/mode/javascript/javascript.js"></script>
<script src="assets/codemirror/mode/css/css.js"></script>
<script src="assets/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="assets/codemirror/addon/edit/matchbrackets.js"></script>
<script src="assets/codemirror/Prototype/htmlmixed.js"></script>

<div class="row form-group">
  <div class="col-lg-12" style="">
<textarea id="text" rows="40"
  class="form-control watch-changed" name="<mt:var name="__col_name__">"><mt:var name="value"></textarea>
  </div>
</div>

<script>
var editorMode = 'CodeMirror';
var editor = CodeMirror.fromTextArea(document.getElementById("text"), {
  lineNumbers: true,
  mode: "text/html"
});
editor.setSize('100%', 600);
</script>
