<script>
    var col_perms = $('#col_perms').val();
    col_perms = JSON.parse(col_perms) ;
    $.each(col_perms, function(key, val) {
        if ( val ) {
            if ( val == '__all__' ) {
                $('#columns-' + key).prop('checked',true);
                $('.columns-' + key).each(function(){
                    $(this).prop('checked',true);
                });
            } else {
                var cols = val.split(',');
                $('.columns-' + key).each(function(){
                    var col_name = $(this).val();
                    if ( $.inArray( col_name, cols ) != -1 ) {
                        $(this).prop('checked',true);
                    }
                });
            }
        }
    });
</script>