<div class="row form-group">
  <div class="col-lg-2">
    <label for="name">
      <mt:trans phrase="App Name">
      <mt:var name="field_required">
    </label>
  </div>
  <div class="col-lg-10 input-group">
    <input type="text" id="name" name="setting_name" class="form-control" value="<mt:var name="setting_name" escape>">
  </div>
</div>