<div class="row form-group">
  <div class="col-lg-2">
    <label for="setting_batchapproval_mail_footer">
      <mt:trans phrase="Mail Footer" component="BatchApproval">
    </label>
  </div>
  <div class="col-lg-10">
    <textarea class="form-control" id="setting_batchapproval_mail_footer" name="setting_batchapproval_mail_footer"
        class="form-control" rows="7"><mt:var name="setting_batchapproval_mail_footer" escape></textarea>
  </div>
</div>
