<mt:unless name="$_name"><mt:var name="appname" escape>(<mt:trans phrase="System">)<mt:else><mt:var name="$_name" setvar="reg_ws_id"><mt:setcontext context="workspace" id="$reg_ws_id"><mt:websitename escape></mt:setcontext></mt:unless>