<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
    <input id="<mt:var name="__col_name__">" type="color" name="<mt:var name="__col_name__">" value="<mt:if name="value"><mt:var name="value"><mt:else>#CCC</mt:if>" class="watch-changed form-control color-picker <mt:var name="ctrl_class">">
  </div>
</div>