<mt:unless name="object_name">
<mt:setvar name="object_name" value="new_table">
</mt:unless>
<mt:if name="object_name" ne="table">
<mt:if name="object_name" ne="user">
<mt:if name="object_name" ne="relation">
<mt:if name="object_name" ne="workspace">
<div class="row form-group">
  <div class="col-lg-2 row-more">
  </div>
  <div class="col-lg-10 row-more">
    <input type="hidden" name="<mt:var name="name" escape>" value="0">
    <mt:ignore>Before checkbox, input hidden value="0"</mt:ignore>
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="name" escape>" class="form-control custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="<mt:var name="name" escape>" value="1" <mt:if name="value">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:var name="label" escape></span>
    </label>
  </div>
</div>
</mt:if>
</mt:if>
</mt:if>
</mt:if>