<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="name" escape>"><mt:var name="label" escape="1"></label>
  </div>
  <div class="col-lg-10 form-inline">

    <input type="hidden" name="sortable" value="0">
    <label class="custom-control custom-checkbox sort-sortable-cb">
    <input id="auditing" class="custom-control-input"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="sortable" value="1" <mt:if name="object_sortable">checked</mt:if>>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description"> 
        <mt:trans phrase="Sortable"></span>
    </label>

    <mt:var name="request.id" setvar="_table_id">
    <select id="<mt:var name="name" escape>" name="<mt:var name="name" escape>" class="form-control">
      <mt:objectloop model="column" sort_by="order" table_id="$_table_id">
      <mt:if name="type" eq="int">
      <option value="<mt:var name="name" escape>" <mt:if name="name" eq="$value">selected</mt:if>>
        <mt:trans phrase="$label" escape>
      <mt:elseif name="type" eq="datetime">
      <option value="<mt:var name="name" escape>" <mt:if name="name" eq="$value">selected</mt:if>>
        <mt:trans phrase="$label" escape>
      </option>
      </mt:if>
      </mt:objectloop>
    </select>

    <select name="sort_order" class="form-control">
      <option value="ascend" <mt:if name="object_sort_order" eq="ascend">selected</mt:if>>
        <mt:trans phrase="Ascend">
      </option>
      <option value="descend" <mt:if name="object_sort_order" eq="descend">selected</mt:if>>
        <mt:trans phrase="Descend">
      </option>
    </select>
  </div>
</div>
