<mt:var name="edit" split=":" setvar="edit_props">
<mt:var name="edit_props[1]" setvar="rel_model">
<mt:var name="edit_props[2]" setvar="rel_col">
<mt:var name="edit_props[3]" setvar="rel_type">
<div class="row form-group">
  <div class="col-lg-2">
    <label for="<mt:var name="__col_name__">">
      <mt:var name="label" escape>
      <mt:if name="not_null"><mt:var name="field_required"></mt:if>
    </label>
  </div>
  <div class="col-lg-10">
  <mt:setvarblock name="__rel_name__">object_<mt:var name="__col_name__"></mt:setvarblock>
  <ul id="<mt:var name="__col_name__">" class="relation-list">

    <li <mt:if name="$__rel_name__">style="display:none" </mt:if>class="badge badge-default badge-relation" id="<mt:var name="__col_name__">-none">
    <mt:trans phrase="(None selected)">
    </li>
    <li class="hidden badge badge-default badge-relation badge-draggable" id="<mt:var name="__col_name__">-tmpl">
    <span><mt:trans phrase="Default"></span>
    <button type="button" class="btn btn-secondary btn-sm close-sm" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
      <span aria-hidden="true">&times;</span>
    </button>
    <input type="hidden" name="<mt:var name="__col_name__">[]" value="">
    </li>
  <mt:setvarblock name="selected_ids"><mt:loop name="$__rel_name__" glue=","><mt:var name="__value__"></mt:loop></mt:setvarblock>

  <mt:loop name="$__rel_name__">
    <li class="<mt:var name="__col_name__">-child badge badge-default badge-relation badge-draggable">
    <span><mt:getobjectname id="$__value__" type="$edit"></span>
    <button type="button" class="btn btn-secondary btn-sm close-sm" aria-label="<mt:trans phrase="Detach">" data-name="<mt:var name="__col_name__">">
      <span aria-hidden="true">&times;</span>
    </button>
    <input type="hidden" name="<mt:var name="__col_name__">[]" value="<mt:var name="__value__" escape>"></li>
  </mt:loop>
  </ul>
  <button type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
    data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;selected_ids=<mt:var name="selected_ids" escape>"><mt:trans phrase="Select..."></button>
  <button type="button" class="btn btn-primary btn-sm dialog-chooser" data-toggle="modal" data-target="#modal"
    data-href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="rel_model" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>&amp;dialog_view=1&amp;target=<mt:var name="__col_name__">&amp;get_col=<mt:var name="rel_col" escape>&amp;selected_ids=<mt:var name="selected_ids" escape>&amp;select_add=1"><mt:trans phrase="Add..."></button>
  </div>
<script>
$('#<mt:var name="__col_name__">').sortable ( {
// TODO keyboard oparation
});
</script>
  </div>
<div class="row form-group add-tags">
  <div class="col-lg-2">
  </div>
  <div class="col-lg-10">
    <input type="text" placeholder="<mt:trans phrase="Please enter comma-separated tags to add.">" class="form-control" name="additional_tags" value="<mt:if name="request.additional_tags"><mt:var name="request.additional_tags" escape></mt:if>">
  </div>
</div>
</div>