    <mt:var name="field_name" escape>
    <mt:if name="field_required">
    <i class="fa fa-asterisk required" aria-hidden="true"></i>
    <span class="sr-only"><mt:trans phrase="Required"></span>
    </mt:if>