<mt:if name="workspace_id"><mt:if name="user_fix_spacebar"><mt:setvar name="_fix_spacebar" value="1"></mt:if></mt:if>
<!DOCTYPE html>
<html lang="<mt:if name="user_language"><mt:var name="user_language" escape><mt:else>en</mt:if>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title><mt:if name="html_title"><mt:var name="html_title" escape><mt:else><mt:var name="page_title" escape></mt:if><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape></mt:if> | <mt:getoption key="appname" escape></title>
    <link href="<mt:var name="prototype_path">assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="<mt:var name="prototype_path">assets/js/jquery-3.2.1.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/tether.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/bootstrap.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery-ui.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/jquery.cookie.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/clipboard.min.js"></script>
    <script src="<mt:var name="prototype_path">assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="<mt:var name="prototype_path">assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
    <link href="<mt:var name="prototype_path">assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="<mt:var name="prototype_path">assets/css/jquery.fileupload.css">
    <style type="text/css">
      .nav-top,.navbar-brand,.dropdown-menu, .nav-top a, footer{ background-color: <mt:getoption key="barcolor"> !important; color: <mt:getoption key="bartextcolor"> !important; }
      .nav-top .my-sm-0, .nav-top .navbar-toggler{ border-color: <mt:var name="bartextcolor"> !important; }
      <mt:if name="workspace_barcolor"><mt:if name="workspace_bartextcolor" escape>
      .brand-workspace, .workspace-bar, .workspace-bar a,
      .workspace-bar .dropdown-menu{ background-color: <mt:var name="workspace_barcolor" escape> !important; color: <mt:var name="workspace_bartextcolor"> !important; }
      .workspace-bar button.my-sm-0{ border-color: <mt:var name="workspace_bartextcolor"> !important; }
      .workspace-bar .my-sm-0, .workspace-bar .navbar-toggler{ border-color: <mt:var name="workspace_bartextcolor"> !important; }
      </mt:if>
      </mt:if>
      <mt:if name="user_control_border">
      .form-control, .custom-select .relation_nestable_list, .custom-control-indicator, .mce-tinymce, .btn-secondary, .group-relation-list .card { border: 1px solid <mt:var name="user_control_border" escape> !important }
      </mt:if>
    </style>
  <mt:if name="request._type" eq="edit">
    <script src="<mt:var name="prototype_path">assets/js/tinymce/tinymce.min.js"></script>
  </mt:if>
    <mt:var name="html_head">
    <mt:if name="invisible_selector">
    <style><mt:var name="invisible_selector" join=",">{display:none !important}</style>
    </mt:if>
    <mt:if name="workspace_id"><style><mt:if name="_fix_spacebar">body { padding-top: 80px; } .workspace-bar { margin-top: 0;}
    <mt:else>.workspace-bar { margin-bottom: 14px;}</mt:if></style></mt:if>
  </head>
<mt:if name="debug_mode"><mt:setvar name="body_class" value=" with-debug-footer" append="1"></mt:if>
<mt:if name="workspace_id"><mt:setvar name="body_class" value=" is-workspace" append="1"></mt:if>
  <body class="<mt:var name="body_class">">
<mt:if name="request._type" eq="edit">
<mt:if name="__show_loader">
<div id="__loader-bg">
  <img src="<mt:var name="prototype_path">assets/img/loading.gif" alt="" width="45" height="45">
</div>
<script>
window.onload = function(){
    $('#__loader-bg').hide("fast");
}
jQuery.fn.extend({
  ksortable: function(options) {
    this.sortable(options);
    $(this).children().attr('tabindex', 0).bind('keydown', function(event) {
    // $('li', this).attr('tabindex', 0).bind('keydown', function(event) {
        if(event.which == 37 || event.which == 38) { // left or up
          $(this).insertBefore($(this).prev());
        } 
        if(event.which == 39 || event.which == 40) { // right or down
          $(this).insertAfter($(this).next()); 
        }     
        if (event.which == 84 || event.which == 33) { // "t" or page-up
          $(this).parent().prepend($(this));
        } 
        if (event.which == 66 || event.which == 34) { // "b" or page-down
          $(this).parent().append($(this));
        } 
        if(event.which == 82) { // "r"
          var p = $(this).parent();
          p.children().each(function(){p.prepend($(this))})
        } 
        if(event.which == 83) { // "s"
          var p = $(this).parent();
          p.children().each(function(){
            if(Math.random()<.5)
              p.prepend($(this));
            else
              p.append($(this));
          })
        }
        var keyNums = [33, 34, 37, 38, 39, 40, 66, 82, 83, 84];
        var keyNum = event.which + 0;
        if (keyNums.indexOf(keyNum) >= 0){
          $(this).focus();
          if ( $(this).hasClass("edit-options-child") ) {
            sort_fields();
          } else if ( $(this).hasClass("badge-relation") ) {
            editContentChanged = true;
          }
        }
    });
  }
});
</script>
</mt:if>
</mt:if>
  <div id="main-content">
<mt:if name="_fix_spacebar">
  <div class="fixed-top">
</mt:if>
    <nav class="bar navbar navbar-toggleable-md navbar-inverse bg-inverse nav-top<mt:unless name="_fix_spacebar"> fixed-top</mt:unless>">
      <mt:if name="this_mode" eq="upgrade">
        <mt:if name="request._type" eq="install">
        <a class="navbar-brand brand-prototype" href="<mt:var name="script_uri">?__mode=upgrade&amp;_type=install">PowerCMS X</a>
        </mt:if>
      </mt:if>
      <mt:if name="user_id"><mt:if name="request.__mode" ne="logout">
      <button style="background-color: <mt:getoption key="barcolor"> !important; color: <mt:getoption key="bartextcolor"> !important;" class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="<mt:trans phrase="Toggle Navigation">">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="Toggle Navigation"></span>
      </button>
      </mt:if></mt:if>
      <mt:var name="workspace_param" value="">
        <mt:if name="workspace_id">
          <mt:setvarblock name="workspace_param">&amp;workspace_id=<mt:var name="workspace_id"></mt:setvarblock>
        </mt:if>
      <mt:if name="this_mode" ne="upgrade">
      <a class="navbar-brand" href="<mt:var name="script_uri">"><mt:var name="appname" escape trim_to="20+..."><span id="navbar-brand-end"></span></a>
      <mt:setvar name="workspace_counter" value="0">
      <mt:if name="this_mode" ne="login">
        <mt:setvar name="selector_limit" value="16">
        <mt:setvar name="ws_sort_by" value="last_update">
        <mt:setvar name="ws_sort_order" value="descend">
        <mt:if name="user_space_order" eq="Default">
          <mt:setvar name="ws_sort_by" value="order">
          <mt:setvar name="ws_sort_order" value="ascend">
        </mt:if>
        <mt:objectloop cols="id,name" model="workspace" can_access="1" limit="$selector_limit" sort_by="$ws_sort_by" direction="$ws_sort_order">
        <mt:if name="__first__">
          <div class="hidden nav-item dropdown workspace-dd-wrapper active" id="workspace-selector">
            <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
            <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Select a WorkSpace">" class="fa fa-cube workspace-dd" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="WorkSpaces"></span>
            </a>
            <div class="dropdown-menu">
        </mt:if>
            <mt:if name="__counter__" lt="$selector_limit">
            <a class="dropdown-item btn-sm <mt:if name="id" eq="$workspace_id">active</mt:if>" href="<mt:var name="script_uri">?<mt:if name="request_method" eq="GET"><mt:if name="request._type" eq="list"><mt:var name="query_string" replace="'does_act=1',''" escape></mt:if></mt:if>&amp;workspace_id=<mt:var name="id">">
              <mt:var name="name" escape>
            </a>
            <mt:else>
            <a class="dropdown-item btn-sm" data-toggle="modal" data-target="#modal"
                data-href="" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=workspace&amp;dialog_view=1&amp;workspace_select=1"><mt:trans phrase="Select..."></a>
            </mt:if>
        <mt:if name="__last__">
            <mt:setvar name="workspace_counter" value="$__counter__">
            </div>
          </div>
<script>
$(window).on('load resize', function(){
  var brandOffset = $('#navbar-brand-end').offset();
  $('#workspace-selector').css('position','absolute');
  $('#workspace-selector').css('left',brandOffset.left + 14);
  $('#workspace-selector').css('top','0px');
  if ( $('#workspace-selector').is(':hidden') ) {
    $('#workspace-selector').show('fast');
  }
});
</script>
        </mt:if>
        </mt:objectloop>
      <div class="collapse navbar-collapse" id="navbars" <mt:unless name="workspace_counter">style="margin-left:-66px"</mt:unless>>
        <ul class="nav-pills navbar-nav mr-auto" id="system-panel">
        <mt:tables menu_type="6" permission="1" cols="id,name,plural">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="Favorites">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Favorites">" class="fa fa-bookmark" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="Favorites"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          <mt:if name="__last__">
            </div>
            </li>
          </mt:if>
        </mt:tables>
        <mt:tables menu_type="1" permission="1" cols="id,name,plural">
          <li class="<mt:if name="__first__">nav-first-item </mt:if>nav-item <mt:if name="name" eq="$model">active</mt:if>">
            <mt:var name="label" count_chars setvar="count_chars"><a class="nav-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"<mt:if name="count_chars" gt="18"> title="<mt:var name="label" escape>"</mt:if>><mt:var name="label" escape></a>
          </li>
        </mt:tables>
        <mt:tables menu_type="2" permission="1" cols="id,name,plural">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="System Objects">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="System Objects">" class="fa fa-cog" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="System Objects"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          <mt:if name="__last__">
            </div>
            </li>
          </mt:if>
        </mt:tables>
        <mt:tables menu_type="3" permission="1" cols="id,name,plural">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="Read-only Objects">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Read-only Objects">" class="fa fa-database" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="Read-only Objects"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          <mt:if name="__last__">
            </div>
            </li>
          </mt:if>
        </mt:tables>
        <mt:tables menu_type="4" permission="1" cols="id,name,plural">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="WorkSpaces">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Communication">" class="fa fa-comments" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="Communication"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          <mt:if name="__last__">
            </div>
            </li>
          </mt:if>
        </mt:tables>
        <mt:tables menu_type="5" permission="1" cols="id,name,plural">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="User and Permission">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="User and Permission">" class="fa fa-user-plus" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="User and Permission"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape>"><mt:var name="label" escape></a>
          <mt:if name="__last__">
            </div>
            </li>
          </mt:if>
        </mt:tables>
        <mt:loop name="system_menus">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <mt:if name="scheme_upgrade_count"><div class="badge-icon-badge"></div></mt:if>
            <a aria-label="<mt:trans phrase="Tools">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Tools">" class="fa fa-plug" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="Tools"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm<mt:if name="this_mode" eq="$menu_mode"> active</mt:if>" href="<mt:var name="script_uri">?__mode=<mt:var name="menu_mode"><mt:loop name="menu_args">&amp;<mt:var name="__key__">=<mt:var name="__value__"></mt:loop>">
            <mt:var name="menu_label">
            <mt:if name="menu_mode" eq="manage_scheme"><mt:if name="scheme_upgrade_count">
              <div class="badge-icon-badge badge-icon-middle"></div>
            </mt:if></mt:if>
            </a>
          <mt:if name="__last__">
            </div>
            </li>
        </mt:loop>
        </ul>
        <div class="header-util">
          <a href="<mt:var name="site_url">" target="_blank" class="btn btn-sm btn-secondary my-2 my-sm-0 view-external" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="View">">
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="View"></span>
          </a>
        <mt:ifusercan action="can_rebuild" workspace_id="0">
        <mt:countgroupby model="urlmapping" count="model" group="'workspace_id','model'" workspace_id="0" limit="1">
          <a href="<mt:var name="script_uri">?__mode=rebuild_phase&_type=start_rebuild" class="popup btn btn-sm btn-secondary my-2 my-sm-0 rebuild-popup" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Rebuild">">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Rebuild"></span>
          </a>
        </mt:countgroupby>
        </mt:ifusercan>
          <a href="<mt:var name="script_uri">?__mode=logout" class="btn btn-sm btn-secondary my-2 my-sm-0 logout-btn" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Logout">">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Logout"></span>
          </a>
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=user&amp;id=<mt:var name="user_id">" class="btn btn-sm btn-secondary my-2 my-sm-0 profile-btn" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Profile">">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Profile"></span>
          </a>
          <mt:isadmin>
          <a href="<mt:var name="script_uri">?__mode=config" class="btn btn-sm btn-secondary my-2 my-sm-0 config-system" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Config">">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Config"></span>
          </a>
          </mt:isadmin>
        </div>
      </div>
      </mt:if>
      </mt:if>
    </nav>
  <mt:if name="this_mode" ne="upgrade">
    <mt:if name="this_mode" ne="login">
      <mt:if name="workspace_id">
    <nav class="bar navbar navbar-toggleable-md navbar-inverse bg-inverse workspace-bar" style="z-index:4">
      <mt:if name="this_mode" ne="login">
      <button style="background-color: <mt:var name="workspace_barcolor" escape> !important; color: <mt:var name="workspace_bartextcolor"> !important;" class="navbar-toggler navbar-toggler-right btn-ws" type="button" data-toggle="collapse" data-target="#navbars-ws" aria-controls="navbars" aria-expanded="false" aria-label="<mt:trans phrase="Toggle Navigation">">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <span class="sr-only"><mt:trans phrase="Toggle Navigation"></span>
      </button>
      </mt:if>
      <mt:var name="workspace_param" value="">
        <mt:if name="workspace_id">
          <mt:setvarblock name="workspace_param">&amp;workspace_id=<mt:var name="workspace_id"></mt:setvarblock>
        </mt:if>
      <mt:var name="workspace_name" count_chars setvar="workspace_chars"><a class="navbar-brand brand-workspace" href="<mt:var name="script_uri">?__mode=dashboard&amp;workspace_id=<mt:var name="workspace_id">"<mt:if name="workspace_chars" gt="18"> title="<mt:var name="workspace_name" escape>"</mt:if>><mt:var name="workspace_name" escape trim_to="20+..."></a>
      <div class="collapse navbar-collapse" id="navbars-ws">
        <ul class="nav-pills navbar-nav mr-auto">
            <mt:tables type="display_space" menu_type="6" permission="1" workspace_perm="1" cols="id,name,plural">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="Favorites">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Favorites">" class="fa fa-bookmark" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="Favorites"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
        <mt:tables type="display_space" menu_type="1" permission="1" workspace_perm="1" cols="id,name,plural">
          <li class="<mt:if name="__first__">nav-first-item </mt:if>nav-item nav-item-ws <mt:if name="name" eq="$model">active</mt:if>">
            <mt:var name="label" count_chars setvar="count_chars"><a class="nav-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"<mt:if name="count_chars" gt="18"> title="<mt:var name="label" escape>"</mt:if>><mt:var name="label" escape></a>
          </li>
          <mt:if name="__last__">
            <mt:tables type="display_space" menu_type="2" permission="1" workspace_perm="1" cols="id,name,plural">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="System Objects">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="System Objects">" class="fa fa-cog" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="System Objects"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
            <mt:tables type="display_space" menu_type="3" permission="1" workspace_perm="1" cols="id,name,plural">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="Read-only Objects">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Read-only Objects">" class="fa fa-database" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="Read-only Objects"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
            <mt:tables type="display_space" menu_type="4" permission="1" workspace_perm="1" cols="id,name,plural">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="Communication">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Communication">" class="fa fa-comments" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="Communication"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
            <mt:tables type="display_space" menu_type="5" permission="1" workspace_perm="1" cols="id,name,plural">
              <mt:if name="__first__">
                <li class="nav-item dropdown">
                <a aria-label="<mt:trans phrase="User and Permission">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                  <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="User and Permission">" class="fa fa-user-plus" aria-hidden="true"></i>
                  <span class="sr-only"><mt:trans phrase="User and Permission"></span>
                </a>
                <div class="dropdown-menu">
              </mt:if>
                <a class="dropdown-item dropdown-sub btn-sm <mt:if name="name" eq="$model">active</mt:if>" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="name" escape><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="label" escape></a>
              <mt:if name="__last__">
                </div>
                </li>
              </mt:if>
            </mt:tables>
          </mt:if>
        </mt:tables>
        <mt:loop name="workspace_menus">
          <mt:if name="__first__">
            <li class="nav-item dropdown">
            <a aria-label="<mt:trans phrase="Tools">" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
              <i data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Tools">" class="fa fa-plug" aria-hidden="true"></i>
              <span class="sr-only"><mt:trans phrase="Tools"></span>
            </a>
            <div class="dropdown-menu">
          </mt:if>
            <a class="dropdown-item dropdown-sub btn-sm<mt:if name="this_mode" eq="$menu_mode"> active</mt:if>" href="<mt:var name="script_uri">?__mode=<mt:var name="menu_mode">&amp;workspace_id=<mt:var name="workspace_id"><mt:loop name="menu_args">&amp;<mt:var name="__key__">=<mt:var name="__value__"></mt:loop>"><mt:var name="menu_label"></a>
          <mt:if name="__last__">
            </div>
            </li>
        </mt:loop>
        </ul>
        <div class="header-util">
          <a href="<mt:var name="workspace_url">" target="_blank" class="btn btn-sm btn-secondary my-2 my-sm-0 view-external" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="View">">
            <i class="fa fa-external-link-square" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="View"></span>
          </a>
        <mt:ifusercan action="can_rebuild" workspace_id="$workspace_id">
        <mt:countgroupby model="urlmapping" count="model" group="'workspace_id','model'" workspace_id="$workspace_id" limit="1">
          <a href="<mt:var name="script_uri">?__mode=rebuild_phase&_type=start_rebuild&amp;workspace_id=<mt:var name="workspace_id">" class="popup btn btn-sm btn-secondary my-2 my-sm-0 rebuild-popup" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Rebuild">">
            <i class="fa fa-refresh" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="Rebuild"></span>
          </a>
        </mt:countgroupby>
        </mt:ifusercan>
        <mt:ifusercan action="edit" model="workspace" id="$workspace_id" workspace_id="$workspace_id">
          <a href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=workspace&amp;id=<mt:var name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id">" class="btn btn-sm btn-secondary my-2 my-sm-0 config-workspace" data-toggle="tooltip" data-placement="bottom" title="<mt:trans phrase="Settings">">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            <span class="sr-only"><mt:trans phrase="WorkSpace Settings"></span>
          </a>
        </mt:ifusercan>
        </div>
      </div>
    </nav>
      </mt:if>
<mt:if name="_fix_spacebar">
  </div>
</mt:if>
    <mt:setvar name="can_action" value="1">
    <mt:setvar name="disp_option" value="1">
    <mt:if name="child_model">
      <mt:unless name="workspace_id">
        <mt:setvar name="can_create" value="0">
      </mt:unless>
    </mt:if>
    <mt:if name="this_mode" eq="error">
      <mt:setvar name="can_create" value="0">
    </mt:if>
    <mt:if name="menu_type" eq="3">
      <mt:setvar name="can_create" value="0">
    <mt:elseif name="model" eq="comment">
      <mt:setvar name="can_create" value="0">
    <mt:elseif name="model" eq="user">
      <mt:isadmin>
      <mt:else>
        <mt:setvar name="can_create" value="0">
        <mt:setvar name="disp_option" value="0">
      </mt:isadmin>
    </mt:if>
    <mt:setvar name="output_container" value="1">
    <div class="container-fluid">
    <mt:setvar name="has_option" value="0">
    <mt:if name="request.__mode" eq="view">
        <mt:if name="request._type" eq="list">
        <mt:unless name="request.revision_select">
          <mt:include file="include/list_filters.tmpl">
          <mt:include file="include/list_options.tmpl">
          <mt:setvar name="has_option" value="1">
            <mt:if name="model" eq="asset">
              <mt:include file="include/start_upload.tmpl">
            </mt:if>
        </mt:unless>
        <mt:elseif name="request._type" eq="edit">
          <mt:if name="disp_option">
            <mt:include file="include/edit_options.tmpl">
            <mt:setvar name="has_option" value="1">
          </mt:if>
        </mt:if>
    </mt:if>
    </mt:if>
  </mt:if>
  <mt:if name="request.__mode" eq="save">
    <mt:ignore>Forward Error</mt:ignore>
    <mt:if name="disp_option">
      <mt:include file="include/edit_options.tmpl">
      <mt:setvar name="has_option" value="1">
    </mt:if>
  </mt:if>
<script>
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
})
$('.dropdown-sub').each(function(){
    if ( $(this).hasClass( 'active' ) ) {
        $(this).parent().parent().css('background-color','#444');
    }
})
</script>
<mt:unless name="output_container">
    <div class="container-fluid">
</mt:unless>
      <div class="row">
        <main class="col-md-12 pt-3">
          <h1 <mt:if name="has_option"><mt:if name="workspace_id"><mt:unless name="_fix_spacebar">style="margin-top:-33px"<mt:else>style="margin-top:-36px"</mt:unless></mt:if> class="title-with-opt"<mt:else> <mt:if name="workspace_id"><mt:if name="_fix_spacebar">style="margin-top:-3px"<mt:else>style="margin-top:-11px"</mt:if><mt:else>style="margin-top:-10px"</mt:if></mt:if>><span class="title"><mt:var name="page_title"></span>
      <mt:unless name="request.revision_select">
      <mt:if name="this_mode" ne="login">
        <mt:if name="request._type" eq="list">
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#filterOptions">
            <mt:trans phrase="Filters">
          </button>
        </mt:if>
        <mt:if name="can_create">
          <mt:if name="request._type" eq="list">
            <mt:if name="model" eq="role">
              <mt:var name="label" setvar="orig_label">
              <mt:trans phrase="Syetem's Role" setvar="label">
            </mt:if>
          <a class="btn btn-primary btn-sm create-new-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <i class="hidden fa create-new-button-icon" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="New %s" params="$label">" aria-label="<mt:trans phrase="New %s" params="$label">"></i>
            <span class="shrink-button"><mt:trans phrase="New %s" params="$label"></span>
          </a>
            <mt:if name="model" eq="role">
          <a class="btn btn-primary btn-sm create-new-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape>&amp;workspace_role=1">
            <i class="hidden fa create-new-button-icon" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="New WorkSpace's Role">" aria-label="<mt:trans phrase="New WorkSpace's Role">"></i>
            <span class="shrink-button"><mt:trans phrase="New WorkSpace's Role"></span>
          </a>
          <mt:var name="orig_label" setvar="label">
            </mt:if>
            <mt:if name="has_hierarchy"><mt:if name="can_hierarchy">
          <a class="pack-left btn btn-secondary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=hierarchy&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <i class="hidden fa fa-sitemap" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Manage Hierarchy">" aria-label="<mt:trans phrase="Manage Hierarchy">"></i>
            <span class="shrink-button"><mt:trans phrase="Manage Hierarchy"></span>
          </a>
            </mt:if></mt:if>
          </mt:if>
          <mt:if name="request._type" eq="edit">
            <mt:if name="request.saved">
            <mt:unless name="model" eq="role">
          <a class="btn btn-primary btn-sm create-new-link" href="<mt:var name="script_uri">?__mode=view&amp;_type=edit&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <i class="hidden fa create-new-button-icon" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="New %s" params="$label">" aria-label="<mt:trans phrase="New %s" params="$label">"></i>
            <span class="shrink-button"><mt:trans phrase="New %s" params="$label"></span>
          </a>
            </mt:unless>
            </mt:if>
            <mt:if name="request._type" ne="hierarchy">
            <mt:unless name="model" eq="user">
          <a class="btn btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <i class="hidden fa fa-list" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Return to List">" aria-label="<mt:trans phrase="Return to Home">"></i>
            <span class="shrink-button"><mt:trans phrase="Return to List"></span>
          </a>
            </mt:unless>
            </mt:if>
          </mt:if>
          <mt:if name="request._type" eq="list">
            <mt:if name="model" eq="asset">
            <mt:if name="can_create">
          <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#startUpload">
            <mt:trans phrase="Upload">
          </button>
            </mt:if>
            </mt:if>
          </mt:if>
        </mt:if>
          <mt:if name="request._type" eq="hierarchy">
          <a class="btn btn-primary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <mt:trans phrase="Return to List">
          </a>
          </mt:if>
      </mt:if>
      </mt:unless>
      <mt:if name="request._type" eq="list">
        <mt:if name="has_revision">
          <mt:if name="can_revision">
          <mt:if name="request.manage_revision">
          <a class="btn btn-sm header-btn-icon" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">">
            <i class="hidden fa fa-list" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Return to List">" aria-label="<mt:trans phrase="Return to Home">"></i>
            <span class="shrink-button"><mt:trans phrase="Return to List"></span>
          </a>
          <mt:else>
          <a class="pack-left btn btn-secondary btn-sm" href="<mt:var name="script_uri">?__mode=view&amp;_type=list&amp;_model=<mt:var name="model" escape><mt:var name="workspace_param">&amp;manage_revision=1">
            <mt:trans phrase="Manage Revision">
          </a>
          </mt:if>
          </mt:if>
        </mt:if>
      </mt:if>
      <mt:if name="user_id">
      <mt:if name="this_mode" ne="login">
      <mt:if name="this_mode" ne="dashboard">
        <a class="btn btn-sm header-btn-icon" href="<mt:var name="script_uri">?__mode=dashboard&amp;<mt:var name="workspace_param">">
          <i class="hidden fa fa-home" data-toggle="tooltip" data-placement="right" title="<mt:trans phrase="Return to Dashboard">" aria-label="<mt:trans phrase="Return to Home">"></i>
          <span class="shrink-button"><mt:trans phrase="Return to Dashboard"></span>
        </a>
      </mt:if>
      </mt:if>
      </mt:if>
          </h1>
    <mt:setvarblock name="alert_close">
    <button type="button" class="close" data-dismiss="alert" aria-label="<mt:trans phrase="Close">">
      <span aria-hidden="true">&times;</span>
    </button>
    </mt:setvarblock>

    <div class="alert alert-success hidden" id="header-alert" role="alert" tabindex="0">
      <button onclick="$('#header-alert').hide();" type="button" id="header-alert-close" class="close" aria-label="<mt:trans phrase="Close">">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="header-alert-message"></span>
    </div>

    <mt:if name="header_alert_message">
    <div id="header-alert-message" class="alert alert-<mt:if name="header_alert_class"><mt:var name="header_alert_class"><mt:else>success</mt:if>" tabindex="0">
      <mt:unless name="header_alert_force"><mt:var name="alert_close"></mt:unless>
      <mt:var name="header_alert_message">
    </div>
    <script>
    $('#header-alert-message').focus();
    </script>
    </mt:if>

    <mt:if name="error">
      <div id="header-error-message" class="alert alert-danger" role="alert" tabindex="0">
      <mt:var name="error" escape="1" nl2br="1">
      </div>
    <script>
    $('#header-error-message').focus();
    </script>
    </mt:if>
