<mt:setvarblock name="list_actions_options-dd">

<mt:loop name="list_actions">
<mt:if name="input_options">
<mt:loop name="input_options">
<mt:if name="__first__"><select id="_action_input-options-<mt:var name="name">" name="" class="form-control form-control-sm very-short list-actions-options"></mt:if>
<option value="<mt:var name="value">"><mt:trans phrase="$label" component="$component_name"></option>
<mt:if name="__last__"></select></mt:if>
</mt:loop>
</mt:if>
<mt:setvar name="input_options" value="">
</mt:loop>

</mt:setvarblock>

<mt:loop name="list_actions">
<mt:if name="__first__">
<select name="action_name" class="select-action form-control form-control-sm very-short">
  <option value=""><mt:trans phrase="Action..."></option>
</mt:if>
  <option value="<mt:var name="name">" class="<mt:if name="input">with-input</mt:if>"><mt:var name="label" escape></option>
<mt:if name="__last__">
</select>
<mt:trans phrase="UTF8,UTF8(without ID),Shift_JIS,Shift_JIS(without ID)" split="," setvar="export_loop">

<mt:loop name="export_loop">
<mt:if name="__first__">
<select name="itemset_export_select" class="form-control form-control-sm very-short hidden action-export-select">
</mt:if>
  <option value="<mt:var name="__counter__">"><mt:trans phrase="$__value__"></option>
<mt:if name="__last__">
</select>
</mt:if>
</mt:loop>

<mt:if name="status_published" eq="4">
<mt:trans phrase="Draft,Review,Reserved,Publish,Ended" split="," setvar="status_loop">
<mt:else>
<mt:trans phrase="Disable,Enable" split="," setvar="status_loop">
</mt:if>
<mt:loop name="status_loop">
<mt:if name="__first__">
<select name="itemset_status_select" class="form-control form-control-sm very-short hidden action-status-select">
</mt:if>
<mt:if name="__counter__" le="$max_status">
  <option value="<mt:var name="__counter__">" <mt:if name="_default_status" eq="$__counter__">selected</mt:if>><mt:trans phrase="$__value__"></option>
</mt:if>
<mt:if name="__last__">
</select>
<input <mt:unless name="disp_action_bar">id="action-input-box" </mt:unless>name="itemset_action_input" class="itemset-action-input form-control form-control-sm" type="text">
</mt:if>
</mt:loop>
<mt:var name="list_actions_options-dd">
<button class="__action list-action-btn btn btn-secondary action-button btn-sm" type="submit"><mt:trans phrase="Go"></button>
</mt:if>
</mt:loop>

<mt:unless name="disp_action_bar">
<script>
var action_export_select = false;
var action_status_select = false;
var need_action_input = false;
$('.action-export-select').hide();
$('.action-status-select').hide();
$('.itemset-action-input').hide();
$('.list-actions-options').hide();
$('.select-action').change(function(){
    $('.list-actions-options').hide();
    $('.list-actions-options').each(function(){
        $(this).attr( 'name', '' );
    });
    if ( $(this).val() ) {
      $('.__action').removeClass('btn-secondary');
      $('.__action').addClass('btn-primary');
    } else {
      $('.__action').removeClass('btn-primary');
      $('.__action').addClass('btn-secondary');
    }
    $('.select-action').val($(this).val());
    if ( $(this).val() == 'set_status' ) {
        $('.action-status-select').show();
        action_status_select = true;
        action_export_select = false;
    } else if ( $(this).val() == 'export_objects' ) {
        $('.action-export-select').show();
        action_export_select = true;
        action_status_select = false;
    } else {
        $('.action-status-select').hide();
        action_status_select = false;
        action_export_select = false;
    }
    var opt_class = $('[name=action_name] option:selected').attr('class');
    if ( opt_class == 'with-input' ) {
        var dd_class = '#_action_input-options-' + $(this).val();
        if( $(dd_class).length ){
            $('.itemset-action-input').attr( 'name', '' );
            $('.itemset-action-input').hide();
            $(dd_class).show();
            $(dd_class).attr( 'name', 'itemset_action_input' );
            return;
        }
        $('.itemset-action-input').val('');
        $('.itemset-action-input').show();
        $('.itemset-action-input').attr( 'name', 'itemset_action_input' );
        $('#action-input-box').focus();
        need_action_input = true;
    } else {
        $('.itemset-action-input').hide();
        need_action_input = false;
    }
});
$('.itemset-action-input').change(function(){
    $('.itemset-action-input').val($(this).val());
});
$('.action-status-select').change(function(){
    $('.action-status-select').val($(this).val());
});
$('.action-export-select').change(function(){
    $('.action-export-select').val($(this).val());
});
</script>
</mt:unless>
<mt:setvar name="disp_action_bar" value="1">