<!DOCTYPE html>
<html lang="<mt:if name="user_language"><mt:var name="user_language" escape><mt:else>en</mt:if>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title><mt:if name="html_title"><mt:var name="html_title" escape><mt:else><mt:var name="page_title" escape></mt:if><mt:if name="workspace_id"> | <mt:var name="workspace_name" escape></mt:if> | <mt:getoption key="appname" escape></title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/clipboard.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
    <link href="assets/css/theme.css?<mt:date format="YmdHis">" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="assets/css/jquery.fileupload.css">
    <style type="text/css">
      .nav-top,.brand-prototype, .footer{ background-color: <mt:getoption key="barcolor"> !important; color: <mt:getoption key="bartextcolor"> !important; }
      <mt:if name="workspace_barcolor"><mt:if name="workspace_bartextcolor">
      .brand-workspace, .workspace-bar{ background-color: <mt:var name="workspace_barcolor"> !important; color: <mt:var name="workspace_bartextcolor"> !important; }
      </mt:if>
      </mt:if>
      <mt:if name="user_control_border">
      .form-control, .btn-secondary { border: 1px solid <mt:var name="user_control_border" escape> !important }
      </mt:if>
    </style>
  </head>
  <body class="popup<mt:if name="debug_mode"> with-debug-footer</mt:if>">
  <div id="main-content">
    <nav class="bar navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse nav-top">
      <span class="navbar-brand brand-prototype"><mt:var name="appname" escape></span>
    </nav>
      <mt:if name="workspace_id">
    <nav class="bar navbar navbar-toggleable-md navbar-inverse bg-inverse workspace-bar" style="z-index:4">
      <span class="navbar-brand brand-workspace"><mt:var name="workspace_name" escape></span>
    </nav>
      </mt:if>
    <div class="container-fluid">
      <div class="row">
        <main class="col-md-12 pt-3">
          <h1><span class="title"><mt:if name="icon_url"><img src="<mt:var name="icon_url">" class="loading" alt=""> </mt:if><mt:var name="page_title"></span></h1>
