/*
 * Base structure
 */

html {
  position: relative;
  min-height: 100%;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  margin-bottom: 90px;
  font-size: 95%;
}

.custom-control .form-check-input {
  visibility: hidden;
}

select:focus {
  box-shadow: 0 0 7px #0C5DCE;
}

.field-multiple-sortable .form-control {
  width: 97% !important;
  margin-left: 2px !important;
  margin-bottom: 1px !important;
}

#header-alert {
  margin-bottom: 25px !important;
}

#header-alert-message {
  margin-bottom: 25px !important;
}

#system-panel {
  margin-left: 58px;
}

@media ( max-width: 991px ) {
  .dropdown {
  margin-left:-4px;
  }
  #system-panel {
    margin-left: 0px;
  }
  #navbars-ws {
    margin-left: 0px !important;
  }
  #navbars {
    margin-left: 0px !important;
  }
  .workspace-dd-wrapper {
  margin-left: -4px !important;
  }
  .workspace-dd-wrapper i {
  padding: 5px !important;
  }
  .dropdown a {
  padding-left: 8px !important;
  }
  .header-util {
  margin-top: 1em;
  }
  .modal {
  width: 100% !important;
  padding: 0px !important;
  overflow: auto !important;
  }
  .modal-dialog {
  width: 80% !important;
  max-width: 80% !important;
  }
  .modal-content {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  }
  #action-input-box {
  margin-top: 2px !important;
  margin-right: 1px !important;
  width: 122px !important;
  }
  .lockout-col label {
  margin-left: 15px;
  margin-top: 5px !important;
  }
  .copy-clipboard {
  display:none;
  }
  .input-group-addon {
  border-left: none;
  }
  .custom-field-wrapper .form-control {
    margin-left: -4px;
  }
  .field-multiple-sortable .form-control {
    margin-left: -2px !important;
  }
  #workspace-selector {
    margin-top: 0px !important;
  }
  #workspace-selector a.dropdown-toggle {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 6px !important;
    margin-left: 3px !important;
    padding-bottom: 5px !important;
  }
  #workspace-selector a.dropdown-toggle i {
    margin-right: -5px !important;
    margin-left: 0px !important;
  }
}

#workspace-selector {
  margin-top: 1px;
  margin-left: -1px;
  padding-right: 2px;
}

#workspace-selector a.dropdown-toggle i {
  margin-left: -9px;
}

@media ( max-width: 768px ) {
  * {
  font-size: 99%;
  }
  rt {
  font-size: 60%;
  }
  .query-box {
  display:none !important;
  }
  .fileinput-button {
  margin-top: 3px;
  margin-bottom: 2px;
  }
  .search-button {
  display:none !important;
  float: left !important;
  height: 29px !important;
  margin-top: -2px !important;
  }
  .create-new-link {
  margin-left: -2px !important;
  }
  .workspace-bar {
  top: -1px;
  }
  .list-actions-col {
  min-width: 280px;
  vertical-align: baseline;
  }
  .shrink-button {
  display:none !important;
  }
  .header-btn-icon {
  margin-left: -6px !important;
  }
  .list-actions-col select {
  float: left !important;
  height: 29px !important;
  margin-top: 2px !important;
  margin-right: 2px !important;
  }
  .list-actions-col input {
  float: left !important;
  height: 29px !important;
  margin-right: 2px;
  margin-top: 4px !important;
  margin-left: 0px !important;
  }
  .list-actions-col button {
  float: left !important;
  height: 29px !important;
  margin-top: 2px !important;
  margin-right: 2px;
  }
  button-sm {
  padding-left: 7px !important;
  padding-right: 7px !important;
  margin-left: 0px !important;
  }
  .listing-table_sortable {
  width: 97%;
  }
  th.not-primary {
  display: none;
  }
  td.not-primary {
  display: none;
  }
  .toggle-infobox {
  display: inline !important;
  }
  .listing-table td {
  padding-bottom: 4px !important;
  }
  .create-new-button {
  display: none;
  }
  .create-new-button-icon {
  display: inline !important;
  }
  .dialog-chooser {
  margin-top: 1px !important;
  }
  .time{
  height: 2em;
  margin-bottom: 4px;
  }
  .date{
  height: 2em;
  margin-bottom: 4px;
  }
/*
  .published_on-col .date-input {
  width: 100% !important;
  display: block !important;
  }
*/
  .disp-option-button {
  display: none;
  }
  .alt-disp-option-button {
  display: inline !important;
  }
  .insert-asset-preview {
  width: 80px;
  height: 80px;
  }
  .modal {
  width: 100% !important;
  padding: 0px !important;
  overflow: auto !important;
  }
  .badge-relation span {
    max-width:100px !important;
  }
  .modal-dialog {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  }
  .modal-content {
  width: 100% !important;
  padding: 0px !important;
  margin: 0px !important;
  }
  .alternative-text-input {
  display: inline !important;
  padding: 6px !important;
  }
  .default-text-input {
  display: none !important;
  }
  #_field_selector {
  width: 200px !important;
  }
  .pack-left {
    margin-left: -1px !important;
  }
  .widget-cell-detail {
  display: inline !important;
  }
  .workflow-option {
  display: none !important;
  }
  .activity_footer-table {
  margin-top: 14px !important;
  }
  #workspace-selector a.dropdown-toggle {
  font-size: 95% !important;
  padding-bottom: 4px !important;
  }
  .left-label {
  margin-left: 17px !important;
  }
}

body.modal-open {
  padding-right: 0px !important;
}

@media ( max-width: 576px ) {
  .table-inner tr th label {
  margin-top: 8px;
  }
  .filter-selecter-ctrl-dd {
  width: 240px !important;
  }
  .filter-selecter-ctrl-sm {
  width: 100px !important;
  }
  #filter-parant-block {
  margin-left: -1.5em !important;
  }
  .min-short {
  width: 180px !important;
  }
  .field-multiple-sortable input {
  width: 87% !important;
  }
  select.form-control-very-sm{
  width:60px !important;
  }
  .badge-relation span {
    max-width:80px !important;
  }
}

select.form-control-very-sm{
  width:120px;
}

.relation_nestable_list {
  max-height: 200px;
  min-height: 38px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding-top: 0.8em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.relation_nestable_list ul {
  padding-left: 1.5em;
}

.relation_nestable_list li {
  list-style-type: none;
}

.relation_nestable_list button {
  position: relative;
  top: 3px;
  vertical-align: top;
}

.relation_nestable_list label {
  margin-bottom: 0;
}

.relation_nestable_list ul {
  margin-top: 0.5rem;
}

.relation_nestable_list > ul {
  margin-top: 0;
}

.right-small {
  float: right;
  line-height: 1;
  color: #000;
  opacity: .5;
  padding: 2px !important;
  border: none;
  margin-left: 5px;
}

#navbars-ws {
  margin-left: -14px;
}

#navbars {
  margin-left: -18px;
}

#workspace-selector a.dropdown-toggle {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 10px;
}

.filter-selecter-ctrl {
  margin-bottom:5px !important;
}

.filter-selecter-ctrl-apply {
  margin-bottom:5px !important;
  margin-left:13px !important;
}

.detach-filter-btn {
  margin-bottom:5px !important;
  margin-top:1px !important;
  margin-left:14px !important;
}

.insert-asset-selector-th {
  width: 10px !important;
  padding-right: 0;
  min-width:0px !important;
}

.insert-asset-selector {
  width: 10px !important;
  padding-right: 0;
  min-width:0px !important;
}

.preview-file-field {
  margin-bottom: 3px;
}

.insert-asset-preview-th {
  width: 60px !important;
}

.insert-asset-content {
  margin-left: 0 !important;
}

.insert-image-top-margin {
  padding-top: 14px !important;
}

.insert-asset-preview-wrapper {
  vertical-align: middle !important;
  min-width:50px !important;
}

.edit-action-bar {
  line-height: 3em;
}

.create-new-button-icon {
  display: none;
}

.alt-search-button {
  margin-left: 3px !important;
}

.toggle-infobox {
  float: right;
  font-size: 90%;
  padding: 3px;
  position: absolute;
  right: 20px;
}

.alert {
  color: #000 !important;
}

.alert a {
  color: #009 !important;
}

.info-box {
  padding-top: 5px;
}

.cell-detail {
  width: 100%;
  font-size: 95%;
  margin-top: 5px;
}

.cell-detail th {
  width: 28%;
  padding: 2px !important;
}

.cell-detail td {
  padding: 2px !important;
}

body.dialog {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

h1 {
  margin-top: -6px;
  margin-bottom: 20px;
  padding-bottom: 9px;
  font-size: 150%;
  width:88% !important;
  font-weight: 200 !important;
  line-height: 1.5em;
}

.page-title-full {
  width:100% !important;
}

.plugin-action-buttons {
  margin-left: -5px;
  margin-top: 40px;
}

.plugin-doc-link {
  font-weight: normal;
}

.edit_image h1 {
  color: #000;
}

.edit_image {
  padding: 10px;
}

h2 {
  font-size: 140%;
  font-weight: 100 !important;
  margin-bottom: 20px;
}

h3 {
  font-size: 130%;
  font-weight: 100 !important;
  margin-bottom: 20px;
}

.card-title {
  font-size: 130% !important;
  font-weight: 100 !important;
}

.title {
  padding-right: 9px;
}

h5 {
  font-weight: bold !important;
}

#__loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
  text-align: center;
  top: 0 !important;
  left: 0 !important;
  padding-top: 30%;
}

.workspace-bar .navbar-brand {
  font-size:103% !important;
  padding-top: 4px;
}

.workspace-bar .dropdown-item {
  font-size: 85% !important;
}

.dropdown-menu {
  margin-right: 0px !important;
  padding-right: 16px !important;
}

.dropdown-item {
  margin-left: 0.5em !important;
}

.dropdown-toggle:focus {
  outline: solid 2px #15c;
}

input[type="checkbox"]:focus {
  outline: solid 2px #5af;
}

input[type="checkbox"] {
  width: 15px;
}

input[type="radio"]:focus {
  outline: solid 2px #5af;
}

input[type="radio"] {
  width: 15px;
}

.form-inline .form-control {
  margin-left: 1em;
}

.form-inline-left-margin label {
  margin-left: 15px;
}

.left-margin {
  margin-left: 15px;
}

.btn-very-sm {
  padding: 3px 10px !important;
  font-size: 80%;
}

.form-inline select {
  margin-right: 1em;
}

#user_id-edit {
  margin-left: 0.5em;
}

.status-has_deadline-cb {
  margin-left: 1em;
}

.sort-sortable-cb {
  margin-left: 1em;
}

.form-inline-span-cb {
  margin-left: 5px;
}

#basename-wrapper input {
  width: 300px !important;
}

.delete-bun-sm {
  margin-left: 1.2em !important;
}

.current-filter {
  margin-left: 0.8em !important;
}

.period-separator {
  margin-left: 5px;
  margin-right: -10px;
}

.custom-label-checkbox {
  margin-left: 1em;
}

.form-inline {
  padding-left:0px !important;
}

.workspace-bar .header-util{
  margin-right: 16px;
  height: 32px;
}

.workspace-bar .header-util a {
  color: black;
}

.workspace-bar .header-util .btn {
  font-size: 90% !important;
}

.nav-top {
  padding: 0px 16px 0px 17px;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

th.id {
  width: 20px !important;
}

td.id {
  width: 20px !important;
}

td.num {
  text-align: right;
  padding-right: 2em !important;
}

.sub-col {
  margin-top: 4px;
}

.sub-col div {
  margin: 3px;
}

.btn {
  margin-left: 5px;
}

.header-util {
  margin-left:-15px;
  margin-bottom: 3px;
}

.header-util a {
  margin-right: -9px;
  margin-left: 9px;
}

input.num {
  width: 80px;
  text-align:center;
}

input.e-num {
  width: 300px;
  text-align: center;
}

input.num-size {
  width: 100px !important;
  text-align: center;
}

input.single{
  width: 60px !important;
}

input.time{
  width: 180px !important;
  margin-left: 8px;
}

input.short {
  width: 60% !important;
}

.very-short {
  width: 132px !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
}

.inline-input {
  margin-right: 2px !important;
  margin-left: 2px !important;
}

select.short {
  width: 155px !important;
}

.rel-any-right-col {
  padding-left: 10px;
}

.group-relation-list {
  list-style-type: none;
  padding-left: 0;
}

.group-relation-list li {
  padding: 10px;
  margin-bottom: 4px;
}

.group-item {
  color: white;
  background-color: #333;
  border-color: #333;
}

.group-chooser {
  margin-left: 0px;
}

.group-relation-list button {
  margin: 3px 6px 0px 0px;
  display: inline !important;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.group-relation-list span {
  display: inline !important;
  width: 90%;
}

.dialog-chooser {
  margin-left: 0px;
  font-size: 102%;
  font-weight: normal;
  padding: 2px 6px;
}

.active .nav-link {
  color:#fff !important;
  font-weight: bold !important;
}

.col-lg-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cb-col {
  width: 20px !important;
}

.plugin-switch {
  font-size: 85%;
  margin-top: 5px;
}

.nav-link {
  color:#ddd !important;
  font-size:90%;
  padding-top: 8px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 30px;
  max-width: 103px;
  margin-left: 0px;
  margin-right: -3px;
}

.header-util {
  white-space: nowrap;
}

.header-util a {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
}

.workspace-dd {
  padding-left: 14px;
  font-size:110% !important;
}

.nav-first-item {
  margin-left: 4px;
}

.nav-item-ws {
  font-weight: normal;
  font-size:94%;
}

.nav-item-a {
  font-size:90% !important;
}

.nav-item {
  margin-right: -2px !important;
}

.workspace-dd-wrapper {
  margin-left: -10px;
}

.brand-workspace {
  background-color: #333 !important;
  margin: 3px 18px 0px 0px;
}

.nav-top .navbar-toggler {
  margin-top: 4px;
  background-color: #444 !important;
  border: 1px solid white !important;
}

.workspace-bar .navbar-toggler {
  margin-top: 2px;
  background-color: #444 !important;
  border: 1px solid white !important;
}

.workspace-bar {
  padding: 0px 0px 1px 17px;
  background-color: #333 !important;
  color: white !important;
  margin-top: -13px;
}

.workspace-bar ul {
  height: 99%;
  padding-bottom: 0px;
  margin-bottom: -7px;
}

.workspace-bar a {
  font-size: 95% !important;
}

.btn-workspace {
  height: 24px;
  width: 57px;
}

.actions {
  margin-bottom: 10px;
}

.full {
  width: 100%;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-sm {
  font-size: 80%;
}

.current-cnd {
  color: red;
  text-decoration: underline;
}

.toggle {
  color: gray;
}

th.id {
  white-space: nowrap;
}

.search-button {
  margin-left:-6px;
}

.title-with-opt {
  margin-top: -42px;
  width: 85%;
  margin-bottom: 7px;
}

#__save {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.save-order-btn {
  margin-left: 1px;
  margin-right: 6px;
}

.preview-rev_diff th {
  white-space: nowrap;
}

.preview-rev_diff {
  font-size: 85%;
  margin: 0 !important;
}

.btn-compact {
  margin: 0 !important;
  padding: 1px 3px 2px 3px !important;
}

.hidden {
  display: none;
}

.page-current {
  padding-right: 9px;
  padding-top: 3px;
  font-size: 95%;
}

.btn {
  padding-left : 10px;
  padding-right : 10px;
}

.order_col {
  margin:0 -7px 0 -7px;
  width: 70px !important;
  text-align: center;
}

.listing-table td, .listing-table th {
  padding: 7px;
}

.list-small-icon {
  margin-left: 5px;
  margin-right: 11px;
  margin-bottom: 0px;
}

.list-file-icon {
  font-size:70%;
}

.search-col {
  width:42px;
}

.list-icon {
  float:left;
  width:42px;
  height:22px;
  margin:-5px 4px 5px -8px;
  text-align:center;
}

.readonly {
  background-color: #E7EAEB;
}

.bar .btn {
  margin-top: 5px !important;
  height: 28px !important;
}

div.mce-fullscreen {
  z-index: 1050;
}

.disp-option {
  margin-top:10px;
}

.query-box {
  width: 145px !important;
  margin-left: 0px !important;
}

.list-action-btn {
  margin-right: 4px;
}

.list-delete-btn {
  margin-left: 0px !important;
}

.pagination-col {
  padding-top: 14px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 44px;
  line-height: 44px; /* Vertically center the text there */
  background-color: #000;
  color: #fff;
  padding-left: 18px;
}

.meta{
  font-size: 85%;
  margin-bottom: 5px !important;
}

.dashboard-card {
  margin: 10px 0 10px 0;
}

.abs-last {
  margin-bottom: 60px;
}

.abs-bottom {
  position: absolute;
  bottom: 20px;
  margin-top: 40px;
}

.sub-col label {
  margin-bottom: 0px;
}

#modal .modal-dialog {
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 800px;
}

#modal .modal-content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

#modal .modal-content {
  height: 100%;
  overflow: hidden;
}

#print-area {
  width: 100%;
  height: 360px;
  max-height: 100%;
  min-height: 80%;
}

#print-area .print-area-content {
  height: 100%;
  border: 1px solid gray;
}

#print-area .print-area-content iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.form-inline-padding {
  padding-left: 1em !important;
}

#drop-photo .preview-file-field {
  width: auto;
  max-width: 128px;
  height: auto;
  max-height: 100px;
}

.relation-list {
  list-style-type: none;
  display: inline;
  padding-left: 0;
  line-height: 2.4em !important;
  max-width: 90%;
  overflow: auto;
  font-size: 0px;
}

.relation-list li {
  display: inline-block;
  padding-right: 4px;
  padding-top: 5px !important;
  font-size: 16px !important;
  margin-right: 5px;
}

.relation-list .hidden {
  display: none !important;
}

.status-select {
  width: 150px !important;
}

.badge {
  font-size: 102%;
  font-weight: normal;
  padding: 3px 9px;
  white-space: nowrap !important;
}

.change-user {
  color: black;
}

.default_widget {
  margin-top: -10px !important;
}

.dashboard-widget .btn-sm {
  margin-top: 4px !important;
}

.default_widget .card-block {
  padding: 16px 22px 12px 22px !important;
  margin-bottom: -10px !important;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #333;
}

.card-footer {
  padding: 10px 0px 10px 7px;
}

.copy-url{
  margin-top: 8px;
  height: 32px !important;
}

.copy-url-permalink {
  margin-top: 8px;
}

.text-format-box {
  height: 32px;
  margin: 9px -2px 0px 0px;
  min-width: 232px;
  white-space: nowrap;
  font-size: 85%;
}

.text-format-box select {
  font-size: 95%;
}

.insert-asset-label input {
  margin-right: 7px !important;
}

.insert-image-size input {
  margin-right: 1px !important;
  width: 70px !important;
}

.table-inner tr th {
  border: none !important;
  padding: 2px;
}

.table-inner tr td {
  border: none !important;
  padding: 3px;
}

.table-inner {
  width: 100% !important;
}

.table-inner tr td input[type="text"] {
  width: 100% !important;
}

.insert-asset-selector {
  vertical-align: middle !important;
}

.insert-image-size label {
  margin-left: 14px !important;
}

.text-format-label {
  padding-bottom: 3px; margin-right: 5px;
}

.clipboard-url {
  color: #555;
  font-size: 85%;
  padding: 8px;
}

.add-tags {
  margin-top:-13px !important;
}

input.date {
  padding: 5px 2px 5px 10px;
  text-align: center;
  width: 170px !important;
}

input.time {
  padding: 5px 2px 5px 10px;
  text-align: center;
  width: 124px !important;
}

.badge-relation {
  margin-bottom: 2px;
  display: inline-block;
  padding: 6px 8px 4px 8px;
  white-space: nowrap !important;
}

.badge-relation span{
  font-size:95%;
}

.close-sm {
  padding: 0px 3px 2px 3px !important;
  margin-top: -1px;
  margin-bottom: -1px;
  font-size: 66%;
  width: 18px;
  height: 18px;
}

.list-col {
  max-width: 130px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.list-col-primary {
  max-width: 300px;
  min-width: 130px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

i.required {
  font-size: 50% !important;
  color: #666;
  margin-left: 7px;
}

.figure-wrapper {
  margin: auto;
  text-align: center;
}

.asset-meta label {
  margin-left: 16px;
}

.row-more {
  margin-top: -8px;
}

.object-metadata {
  margin-left: 10px;
}

.CodeMirror {
  border: 1px solid #ccc !important;
  font-size: 11pt;
}

.popup h1 {
  width:100% !important;
  padding-left: 10px;
  margin-bottom: 0px;
}

.popup .loading {
  height:1em;
  margin-top:-5px;
  margin-left: -7px;
}

.popup p {
  margin: 0.5em;
}

.multiple-field {
  margin-top: -11px;
}

.detach-field {
  border: 1px solid gray !important;
  margin-top: 2px;
}

.column-detail-conpact {
  margin-top: 0px;
  margin-bottom: 7px;
}

.column-detail-hint {
  margin-top: -10px;
}

.hint-block {
  margin-top: 6px;
}

.text-muted {
  font-size: 90%;
}

.short-col {
  width: 180px;
}

.table-screen .active-cell {
  background-color: #FBF7D9 !important;
}

.table-screen .active-cell th {
  padding-bottom: 0px;
}

.table-screen .all-selector {
  padding-bottom: 0px;
}

.custom-field-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #eee !important;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 0px;
  margin-left: -10px;
  margin-bottom: 10px;
  margin-right: -5px;
}

.custom-field-wrapper div {
  width: 99%;
  margin-left: -1px;
}

.field-multiple-sortable {
  width: 104% !important;
}

.cf-label-wrapper {
  padding-top: 7px;
  padding-left: 11px
}

.cf-detach-btn {
  position: absolute;
  right: 3px;
  top: 0px;
  margin: 0;
  padding-top: 0px;
}

.lockout-col input {
  width: 100px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.lockout-col label {
  margin-left: 15px;
  margin-top: -8px;
}

#__delete {
  margin-left: 1em;
  margin-right: 1em;
}

.btn-secondary {
  border: 1px solid #888;
}

.rebuilt_percent {
  font-family: 'AvenirNextCondensed-UltraLight','arial narrow','Helvetica Neue Ultra Light',sans-serif;
  text-align: center;
  font-size: 380%;
}

.pt-progress-bar {
  width:100%;
  height:4px;
  border:1px solid #ddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.pt-progress-bar-inner {
  height:100%;
  background-color: #07c;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.link-in-alert {
  color: #009; 
  text-decoration: underline; 
}

.color-picker {
  height:36px !important;
  width: 120px !important;
}

.box-no-list-items {
  margin-bottom: 10em;
}

.editor-btn {
  margin-left:0px;
  margin-right:-3px;
  margin-bottom:4px;
  width: 40px;
}

.assets-child-thumb , .assets-child-thumb-attachment {
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  background: no-repeat 0px 0px / contain;
  vertical-align: middle;
  margin: -0.1em -0.1em -2px 0px;
}

#asset-preview-popup {
  width: 200px;
  height: 200px;
  padding: 5px;
  box-sizing: border-box;
  background: #292b2c no-repeat 50% 50% / contain;
  background-origin: content-box;
  border-radius: 5px;
  box-shadow:0px 2px 4px 0px rgba(0,0,0,0.8);
  position: fixed;
  z-index: 1000;
}

.badge-warning-lite {
  background-color: #fefe96;
}

.status-alterative {
  color: #000;
}

.alert-textarea {
  background-color: #fefe96;
}

.col-status-draft {
  color: #666666;
}

.col-status-review {
  color: #666600;
}

.col-status-published {
  color: #006600;
}

.col-status-approval {
  color: #aa0000;
}

.col-status-reserved {
  color: #400080;
}

.col-status-unpublished {
  color: #000000;
}

.status_icon.fa-pencil {
  color: #666666;
}

.status_icon.fa-pencil-square {
  color: #666600;
}

.status_icon.fa-check-circle {
  color: #aa0000;
}

.status_icon.fa-calendar {
  color: #400080;
}

.status_icon.fa-check-square-o {
  color: #006600;
}

.status_icon.fa-calendar-times-o {
  color: #000000;
}

.alt-text {
  margin-top: 6px;
  margin-bottom: -3px;
}

.alt-text input {
  padding: 5px;
}

.disabled-cb {
  background-color: #ccc !important;
}

.attachment-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-heading {
  border:1px solid #bbb;
  padding: 12px;
  font-size: 110%
}

.dashboard-widget {
  margin-top: -9px !important;
  margin-bottom: 20px !important;
}

.dashboard-widget h2 {
  font-size: 95%;
}

.dashboard-widget h3 {
  font-size: 95%;
  margin: 0px auto 10px auto;
}

.dashboard-widget table {
  max-width: 100% !important;
  table-layout: fixed;
  font-size: 92%;
}


.workspace-primary {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.widget-card {
  margin-top: 7px;
  margin-bottom: 7px;
}

.workspace-last_update {
  width:120px;
  text-align: right;
  vertical-align:middle !important;
}

.workflow-primary {
  white-space: nowrap !important;
  width:100%;
}

.workflow-primary div {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.workflow-status {
  white-space: nowrap !important;
  width: 22%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.workflow-workspace-name {
  white-space: nowrap !important;
  width: 20%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.workflow-published_on {
  white-space: nowrap !important;
  width: 27%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.dashboard-widget .card-header {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
  padding-left: 14px !important;
}

.dashboard-widget .card-block {
  padding: 10px 18px 10px 18px;
}

.workflow-view-all {
  padding: 0px !important;
}

.workflow-view-all .btn {
  width:100%;
  margin:0px;
}

.workflow-icon {
  font-size: 120%;
}

.badge-dark {
  background-color : #666;
}

.dashboard-widget .btn-sm {
  font-size: 95%;
}

.badge-sm {
  font-size: 90%;
  padding-bottom: 2px;
}

.detatch-widget {
  float:right;
  margin:0px -11px -9px 0 !important;
  border: none !important;
  color: gray !important;
  padding: 0px 4px;
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.table-widget {
  margin-bottom: 0px !important;
  border-bottom: 1px solid #eee;
}

.activity_footer-table {
  width: 100%;
  padding: 0;
}
.workflow-model-wrapper {
  margin-bottom: 12px !important;
}

.dashboard-widget .btn-info {
  font-size: 80% !important;
}

.dashboard-widget .badge-sm {
  font-size: 87% !important;
}

.selector-small {
  text-align: right;
  padding: 0px;
  width: 240px;
  position: absolute;
  right: 15px;
  top: 10px;
}

.selector-small select {
  display: inline;
  width: 150px;
  height: 26px !important;
  font-size: 85%;
}

.selector-small button {
  display: inline;
  height: 26px !important;
  font-size: 85%;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
}

b,strong {
  font-weight: bold !important;
}

.lg-10-btn-wrapper {
  margin-left: -5px;
}

.text-sm {
  font-size:80%;
}

.control-inline {
  display: inline;
}

.dashboard-widget-main {
  padding-bottom: 14px;
  margin-top: -12px !important;
}

.time-input {
  margin-left: -9px;
}

.badge-relation span {
  max-width:200px;
  display:inline-block;
  margin-top: 1px;
  height: 1.2em;
  vertical-align: middle;
  overflow:hidden;
  text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -o-text-overflow: ellipsis;
}

.parser_errors {
  margin-left: 20px;
}

.form-control-very-sm {
  height: 26px !important;
  font-size: 90%;
}

.btn-activity-change {
  position:relative;bottom:2px;
}

#workflow-footer-btn{
  margin-bottom: -13px;
  font-size: 90%;
}

.card-image-wrapper {
  background-color:black;
  text-align:center;
  padding:20px 0px
}

.card-image-wrapper img {
  width:25%;
}

#system_info-message {
  margin: -15px 0px 22px 0px !important;
}

.badge-icon-badge {
  position: absolute;
  top: 3px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f66;
  -webkit-box-shadow: 0 0 5px rgba(255,0,0,0.1);
  box-shadow: 0 0 5px rgba(255,0,0,0.1);
}

.badge-icon-middle {
  position: relative;
  display: inline-block;
  border: 1px solid red;
  margin-bottom: 4px;
  margin-left: 18px;
}

.custom-select {
  border-color: #333;
}

.nestableobjects-list .nestableobjects-list {
  margin-top: 0px !important;
}

.badge-relation-user {
  padding-top: 7px !important;
  padding-bottom: 6px !important;
}

.badge-edit-tmpl {
  padding-top: 9px !important;
  padding-bottom: 4px !important;
}

.badge-edit-tmpl .assets-child-thumb {
  margin-top: -1px;
  margin-bottom: -1px;
}

.nestable-unspecified {
  margin-bottom: 9px;
}

.nestable-first {
  margin-top: -9px;
}
