<div style="text-align:left">
<a href="<mt:var name="script_uri">?__mode=view&amp;_model=contact&amp;_type=list&amp;_filter=contact&amp;_filter_cond_form_id[]=eq&amp;_filter_value_form_id[]=<mt:var name="form_id" encode_url><mt:if name="workspace_id">&amp;workspace_id=<mt:var name="workspace_id"></mt:if>"><mt:var name="form_id" escape></a>
</div>