<div style="text-align:left">
<a href="<mt:var name="script_uri">?__mode=view&amp;_model=contact&amp;_type=list&amp;_filter=1&amp;_filter_cond_form_id[]=eq&amp;_filter_value_form_id[]=<mt:var name="form_id" encode_url>"><mt:var name="form_id" escape></a>
</div>