<div style="text-align:left">
<mt:objectcontext id="$id" from="contact">
<a href="<mt:var name="script_uri">?__mode=view&amp;_model=contact&amp;_type=list&amp;_filter=1&amp;_filter_cond_model[]=eq&amp;_filter_value_model[]=<mt:var name="_object_model" escape>&amp;_filter_cond_object_id[]=eq&amp;_filter_value_object_id[]=<mt:var name="object_id">"><mt:var name="_object_primary" escape> (ID:<mt:var name="object_id">)</a>
</mt:objectcontext>
</div>