<div class="row form-group">
  <div class="col-lg-2">
    <mt:if name="not_null"><mt:var name="field_required"></mt:if>
  </div>
  <div class="col-lg-10">
    <mt:unless name="request.id"><mt:unless name="forward_params"><mt:var name="default" escape setvar="value"></mt:unless></mt:unless>
    <input type="hidden" name="<mt:var name="__col_name__">" value="0">
    <label class="custom-control custom-checkbox">
    <input id="<mt:var name="__col_name__">" class="custom-control-input watch-changed"
    <mt:if name="readonly">onclick="return false;"</mt:if>
     type="checkbox" name="<mt:var name="__col_name__">" value="1" <mt:if name="value">checked</mt:if>>
        <span class="custom-control-indicator<mt:if name="readonly"> disabled-cb</mt:if>"></span>
        <span class="custom-control-description"> 
        <mt:var name="label" escape></span>
    </label>
    <mt:var name="_hint">
  </div>
</div>
<script>
$('#required').change(function(){
    if ( $(this).prop('checked') ) {
        $('#display').prop('checked', true);
    }
});
$('#display').change(function(){
    if (! $(this).prop('checked') ) {
        if ( $('#required').prop('checked') ) {
            alert( '<mt:trans phrase="Required field can not be hidden.">' );
            $(this).prop('checked', true);
        }
    }
});
if ( $('#required').prop('checked') ) {
    $('#display').prop('checked', true);
}
</script>
