<div class="row form-group">
  <div class="col-lg-2">
    <mt:var name="label" escape="1">
  </div>
  <div class="col-lg-10 form-inline">
    <mt:var name="edit" split=":" setvar="edit_props">
    <mt:var name="edit_props[1]" setvar="rel_model">
    <mt:var name="edit_props[2]" setvar="rel_col">
    <mt:var name="edit_props[3]" setvar="rel_type">
    <select id="field_id-selector" class="form-control min-short watch-changed" name="<mt:var name="__col_name__">">
    <mt:objectloop model="$rel_model" sort_by="order" workspace_id="$workspace_id">
    <mt:if name="__first__">
      <option value="">
        <mt:trans phrase="Unspecified">
      </option>
    </mt:if>
      <option <mt:if name="__col_value__" eq="$id">selected</mt:if> value="<mt:var name="id">"><mt:var name="$rel_col" trans="$translate" escape></option>
    </mt:objectloop>
    </select>
    <button class="btn btn-secondary" type="button" id="_apply_field_type"><mt:trans phrase="Apply"></button>
  </div>
</div>
<script>
$('#_apply_field_type').click(function(){
    var field_id = $('#field_id-selector').val();
    if ( field_id ) {
        if ( !confirm('<mt:trans phrase="Are you sure you want to apply the default template?">') ) {
            return false;
        }
        var str = '__mode=get_field_html<mt:if name="workspace_id">&workspace_id=<mt:var name="workspace_id"></mt:if>&_type=fieldtype';
        str += '&magic_token=<mt:var name="magic_token">&id=' + field_id;
        $.post('<mt:var name="script_uri">', str,
            function ( data ) {
                if ( data.status != 200 ) {
                    alert( data.message );
                    return;
                }
                $('#label').val( data.label );
                $('#content').val( data.content );
                if ( data.hide_label != 0 ) {
                    $('#hide_label').prop( 'checked', true );
                    $('#label-wrapper').hide(200);
                }
                disp_header_alert( '<mt:trans phrase="The default template was successfully applied. The applied template will not be reflected until you save this page.">' );
            },
            'json'
        );
    } else {
        alert('<mt:trans phrase="Model not specified.">');
    }
});
</script>